<!-- Header section -->
<header class="header__section">

  <!-- Logo -->
  <div class="header__logo">
    <a href="index.html">Simply
      <span> Chocolate</span>
      <svg class="icon-logo">
        <use href="../assets/hh-symbol-defs.svg#icon-chocolate-bar" />
      </svg>

    </a>

  </div>


  <!-- Menu Button-->

  <button class="js-open-menu-header header-menu-button" aria-expanded-header="false"
    aria-controls="js-menu-container-header">
    <svg class="icon-menu-open">
      <use href="../assets/hh-symbol-defs.svg#icon-menu-03" />
    </svg>
  </button>


  <!-- Menu -->

  <div class="js-menu-container-header">

    <button class="js-close-menu-header header__button-close-menu" type="button">
      <svg class="icon-menu-close">
        <use href="../assets/hh-symbol-defs.svg#icon-x" />
      </svg>

    </button>

    <nav class="header__menu-nav">
      <a href="#" class="home">Home</a>
      <a href="#" class="how-made">How it's made?</a>
      <a href="#" class="our-products">Our products</a>
      <a href="#" class="top-sellers">Top sellers</a>
      <a href="#" class="chocolate-love">Chocolate is loved</a>
    </nav>

    <ul class="header__menu-socials-container">
      <li class="header__menu-socials">
        <a href="https://www.instagram.com">
          <svg class="icon-header">
            <use href="../assets/hh-symbol-defs.svg#icon-instagram-desktop" />
          </svg>
        </a>
      </li>
      <li class="header__menu-socials">
        <a href="https://www.twitter.com">
          <svg class="icon-header">
            <use href="../assets/hh-symbol-defs.svg#icon-twitter-desktop" />
          </svg>
        </a>
      </li>
    </ul>

  </div>

</header>


<main>
  <!-- Hero section -->
  <section class="hero-section">
    <div>

      <h1 class="hero__title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
      </h1>

      <h2 class="hero__subtitle">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
      </h2>

      <div class="hero__buttons-scroll">
        <div class="hero__buttons">
          <button class="hero__btn1" type="button">Buy now</button>

          <button class="hero__btn2" type="button" href="#">How it's made</button>
        </div>

        <div class="hero__scroll-container">
          <a class="hero__scroll" href="#footer.html">scroll down
            <svg class="hero__scroll-icon">
              <use href="../assets/hh-symbol-defs.svg#icon-down-arrow-circle" />
            </svg>
          </a>
        </div>
      </div>


    </div>

    </div>
  </section>


</main>
