<!--how it’s made section?-->
<section class="manufacturing">
    <div class="manufacturing__tittle">
    <h3>HOW IT’S <span>MADE?</span></h3>
    </div>
    <div class="mixer-img">
        <img src="./image.jpg" alt="melted chocolate">
    </div>
    <div class="manufacturing__content">
    <p class="manufacturing__tittle-product">Try our chocolates today and <br>discover the perfect balance of <br>flavor</p>
    <ul> 
        <li><p>Heat the milk in a saucepan without <br>bringing it to a boil. Add sugar and cocoa <br>powder.</p></li>
        <li><p>At the same time, prepare a water bath. <br>Melt the butter on it.</p></li>
        <li><p>"Mix" the milk mixture and already liquid <br>butter. Mix thoroughly with a silicone <br>spatula so that the mass becomes uniform <br>and silky.</p></li>
        <li><p>Heat the mixture over low heat, letting it <br>barely boil.</p></li>
        <li><p>Pour the chocolate into special containers <br>(can be replaced with ice molds). Allow to <br>cool and harden.</p></li>
    </ul>
    </div>
    </section>