<!-- Header section -->
<header>

  <div class="container">

    <div class="header__section">

      <!-- Logo -->
      <div class="header__logo">
        <a href="index.html">Simply
          <span> Chocolate</span>
          <svg class="icon">
            <use href="../../../assets/icons-header-hero-symbol-defs.svg#icon-chocolate" />
          </svg>

        </a>

      </div>

      <!-- Navigation bar -->

      <div class="header__nav-section">
        <nav class="header__navigation">
          <a href="#" class="home">Home</a>
          <a href="#" class="how-made">How it's made?</a>
          <a href="#" class="our-products">Our products</a>
          <a href="#" class="top-sellers">Top sellers</a>
          <a href="#" class="chocolate-love">Chocolate is loved</a>
        </nav>
      </div>

      <!-- Socials -->

      <ul class="header__socials">
        <li>
          <a href="#">
            <svg class="header__icon">
              <use href="../../../assets/icons-header-hero-symbol-defs.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="header__icon">
              <use href="../../../assets/icons-header-hero-symbol-defs.svg#icon-twitter" />
            </svg>
          </a>
        </li>
      </ul>



    </div>

  </div>

  <!-- Menu Button-->

  <button class="js-open-menu-hero">
    <svg class="icon">
      <use href="../../../assets/icons-header-hero-symbol-defs.svg#icon-menu" />
    </svg>
  </button>


  <!-- Menu -->

  <div class="js-menu-container-hero">

    <button class="js-close-menu-hero header__button-close-menu" type="button">
      <svg class="icon">
        <use href=".../../../assets/icons-header-hero-symbol-defs.svg#icon-x-close" />
      </svg>

    </button>

    <nav class="header__menu-nav">
      <a href="#" class="home">Home</a>
      <a href="#" class="how-made">How it's made?</a>
      <a href="#" class="our-products">Our products</a>
      <a href="#" class="top-sellers">Top sellers</a>
      <a href="#" class="chocolate-love">Chocolate is loved</a>
    </nav>

    <ul class="header__menu-socials-container">
      <li class="header__menu-socials">
        <a href="#">
          <svg class="icon">
            <use href="../../../assets/icons-header-hero-symbol-defs.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="header__menu-socials">
        <a href="#">
          <svg class="icon">
            <use href="./img/icons/icons-header-hero-symbol-defs.svg#icon-twitter" />
          </svg>
        </a>
      </li>
    </ul>

  </div>

</header>


<main>
  <!-- Hero section -->
  <section class="hero-section">
    <div class="container">

      <h1 class="hero__title">Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>

      <h2 class="hero__subtitle">Treat yourself or a loved one to our finest ingredients for a moment
        of
        pure delight!
      </h2>
      <div>
        <div class="hero__buttons">
          <button class="hero__btn1">Buy now</button>

          <button class="hero__btn2" href="#">How it's made</button>
        </div>

        <div class="hero__scroll-container">
          <a class="hero__scroll" href="#footer">scroll down
            <svg class="hero__scroll-icon">
              <use href="./img/icons/icons-header-hero-symbol-defs.svg#icon-scoll" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    </div>
  </section>


</main>

<script src="./js/mobile-menu.js"></script>