<section class="our-products">
    <h2 class="our-products__title">OUR <span>PRODUCTS</span></h2>
    <ul class="our-products__list">
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-1@1x.jpg" srcset="../assets/mobile/cb-1@1x.jpg 1x, ../assets/mobile/cb-1@2x.jpg 2x" alt="Dark chocolate">
                <h3 class="our-products__card-title">ORANGE</h3>
                <p class="our-products__card-desc">Dark chocolate</p>
                <button type="button" class="our-products__card-btn">45 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-2@1x.jpg" srcset="../assets/mobile/cb-2@1x.jpg 1x, ../assets/mobile/cb-2@2x.jpg 2x" alt="Milk chocolate">
                <h3 class="our-products__card-title">APPLE&CRANBERRY</h3>
                <p class="our-products__card-desc">Milk chocolate</p>
                <button type="button" class="our-products__card-btn">50 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-3@1x.jpg" srcset="../assets/mobile/cb-3@1x.jpg 1x, ../assets/mobile/cb-3@2x.jpg 2x" alt="Dark chocolate">
                <h3 class="our-products__card-title">lime&sea salt</h3>
                <p class="our-products__card-desc">Dark chocolate</p>
                <button type="button" class="our-products__card-btn">66 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-4@1x.jpg" srcset="../assets/mobile/cb-4@1x.jpg 1x, ../assets/mobile/cb-4@2x.jpg 2x" alt="Dark chocolate">
                <h3 class="our-products__card-title">pineapple</h3>
                <p class="our-products__card-desc">Dark chocolate</p>
                <button type="button" class="our-products__card-btn">54 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-5@1x.jpg" srcset="../assets/mobile/cb-5@1x.jpg 1x, ../assets/mobile/cb-5@2x.jpg 2x" alt="Milk chocolate">
                <h3 class="our-products__card-title">Classic</h3>
                <p class="our-products__card-desc">Milk chocolate</p>
                <button type="button" class="our-products__card-btn">45 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-6@1x.jpg" srcset="../assets/mobile/cb-6@1x.jpg 1x, ../assets/mobile/cb-6@2x.jpg 2x" alt="Milk chocolate">
                <h3 class="our-products__card-title">honey</h3>
                <p class="our-products__card-desc">Milk chocolate</p>
                <button type="button" class="our-products__card-btn">50 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-7@1x.jpg" srcset="../assets/mobile/cb-7@1x.jpg 1x, ../assets/mobile/cb-7@2x.jpg 2x" alt="Dark chocolate">
                <h3 class="our-products__card-title">Roasted fruits</h3>
                <p class="our-products__card-desc">Dark chocolate</p>
                <button type="button" class="our-products__card-btn">66 UAH</button>
            </div>
        </li>
        <li>
            <div class="our-products__card">
                <img class="our-products__img" src="../assets/mobile/cb-8@1x.jpg" srcset="../assets/mobile/cb-8@1x.jpg 1x, ../assets/mobile/cb-8@2x.jpg 2x" alt="White chocolate">
                <h3 class="our-products__card-title">Classic</h3>
                <p class="our-products__card-desc">White chocolate</p>
                <button type="button" class="our-products__card-btn">54 UAH</button>
            </div>
        </li>
    </ul>
</section>