<!--REVIEW SECTION-->
<section class="review-section">
  <div class="container">
    <h2 class="review-section__title">
      <span class="review-section__chocolate">Chocolate</span> is loved
    </h2>
    <div class="review-section__cards">
      <div class="review-section__card">
        <!-- <img
          src=""
          alt="Photo of Victoria Dobrzhanska"
          srcset="
                  ./assets/victoria-2@x1.jpg x1,
                  ./images/img-2@x2.jpg x2"
        /> -->
        <h3 class="review-section__subtitle">Victoria Dobrzhanska</h3>
        <p class="review-section__description">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </div>
      <div class="review-section__card">
        <!-- <img src="" alt="Photo of Nazar Babenko" srcset="" /> -->
        <h3 class="review-section__subtitle">Nazar Babenko</h3>
        <p class="review-section__description">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </div>
      <div class="review-section__card">
        <!-- <img src="" alt="Photo of Olena Kampusch" srcset="" /> -->
        <h3 class="review-section__subtitle">Olena Kampusch</h3>
        <p class="review-section__description">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </div>
    </div>
    <button class="review-section__button" type="button">Leave a review</button>
  </div>
</section>

<!--Subscribe section-->
<section class="subscribe-section">
  <div class="container">
    <div class="subscribe">
      <h3 class="subscribe-section__title">EXPLORE OUR NEW CHOCOLATE FIRST</h3>
      <p class="subscribe-section__description">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
      <button class="subscribe-section__button" type="button">Subscribe</button>
    </div>
  </div>
</section>
