.about-container {
    width: 320px;
    margin: 0 auto;
    background: rgba(132, 161, 120, 1);
  }
  
  .about-title {
    margin-left: 55px;
    margin-top: 61px;
    margin-right: 55px;
  }
  
  .tradition {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: center;
    background: rgba(252, 252, 252, 1);
  }
  
  .how-is-title {
    font-family: "Seymour One", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 37.71px;
    letter-spacing: 0.04em;
    text-align: center;
  }
  
  .images {
    margin: 32px 20px 40px 20px;
    padding: 22px 1px;
  }
  
  .cow-image {
    position: absolute;
  }
  
  .yellow-circle {
    position: relative;
    z-index: -1;
    transform: translateY(-30px);
  }
  
  .description-paragraph {
    margin: auto 50px;
  }
  
  .first-paragraph {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.12px;
    letter-spacing: 0.04em;
    text-align: center;
  }
  
  .second-paragraph {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.44px;
    text-align: center;
  }
  
  .read-btn-container {
    margin-top: 24px;
    margin-left: 28px;
    margin-right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .read-more-btn {
    padding: 12px 51px 12px 34px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    background: rgba(248, 210, 78, 1);
    cursor: pointer;
  }
  
  .advantages-list {
    margin: 50px 45px 68px 46px;
    color: rgba(252, 252, 252, 1);
  }
  
  .advantages-icon-list {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.4px;
    text-align: center;
  }
  
  .advantages-svg {
    width: 50px;
    height: 50px;
    gap: 0px;
    border-radius: 25px;
    background: rgba(248, 210, 78, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .advantages-title {
    font-family: "Monserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    letter-spacing: 0.04em;
    text-align: center;
  }
  
  .advantages-paragraph {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.4px;
    text-align: center;
  }
  