section.about-container {
  background: rgba(132, 161, 120, 1);
  min-width: 320px;
  margin: 0 auto;
}
/*----- 480 width screen  -------*/
@media (min-width: 480px) {
  .about-container {
    min-width: 480px;
  }
}
/*----- Tablet screen width  -------*/
@media (min-width: 768px) {
  .about-container {
    min-width: 768px;
  }
}
/*----- Desktop screen width  -------*/
@media (min-width: 1200px) {
  .about-container {
    min-width: 1200px;
  }
}
/*----- Mobile screen width(320px) -------*/
.about-title {
  margin-left: 55px;
  margin-top: 61px;
  margin-right: 55px;
  text-align: center;
}
.tradition {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  text-align: center;
  color: rgba(252, 252, 252, 1);
}
.how-is-title {
  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 37.71px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(252, 252, 252, 1);
  margin: 12px 5px;
}
.images {
  margin: 22px 1px;
  display: flex;
  justify-content: center;
}
.cow-image {
  margin-top: 35px;
  max-width: 279px;
  height: 278px;
  top: 263px;
  left: 21px;
  border-radius: 140px;
  opacity: 1px;
  box-shadow: 0px 4.49px 16.82px 0px rgba(153, 114, 23, 0.25);
  background: linear-gradient(0deg, #D9D9D9, #D9D9D9),
    linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
}
.first-paragraph {
  margin: auto 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.12px;
  letter-spacing: 0.04em;
  gap: 4px;
  text-align: center;
  color: rgba(252, 252, 252, 1);
  display: flex;
  flex-wrap: wrap;
}
.second-paragraph {
  margin: auto 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.44px;
  gap: 4px;
  text-align: center;
  color: rgba(252, 252, 252, 1);
  display: flex;
  flex-wrap: wrap;
}
.read-btn-container {
  margin: 28px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(252, 252, 252, 1);
}
.read-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 51px 12px 34px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  background: rgba(248, 210, 78, 1);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 68px 0;
  gap: 16px;
  color: rgba(252, 252, 252, 1);
}
.advantages-icon-list {
  text-align: center;
}
.advantages-svg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: rgba(248, 210, 78, 1);
  margin-bottom: 32px;
}
.advantages-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  letter-spacing: 0.04em;
  text-align: center;
}
.advantages-list:last-child {
  gap: 22px;
}
.advantages-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  text-align: center;
}
.about-container {
  position: relative;
}
.about-container-box.opaq-bg {
  filter: blur(5px);
  opacity: 0.4;
}
.modal-box {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 449px;
  // gap: 0px;
  border-radius: 10px;
  // border: 2px 0px 0px 0px;
  visibility: hidden;
  opacity: 0;
  background: rgba(252, 252, 252, 1);
  border: 2px solid rgba(248, 210, 78, 1);
  padding: 28px;
}
.modal-box.is-open {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.close-modal-box {
  position: absolute;
  top: 12px;
  right: 12px;
  // opacity: 0px;
  background: rgba(252, 252, 252, 1);
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.modal-title {
  // width: 322px;
  // height: 28px;
  // margin-left: 123px;
  // gap: 0px;
  // opacity: 0px;
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.black-box {
  // width: 448px;
  // height: 205px;
  width: 224px;
  height: 199px;
  margin-top: 20px;
  // margin-top: 32px;
  // margin-left: 60px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-paragraph {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgba(19, 19, 19, 1);
  display: flex;
  justify-content: center;
}
@media (min-width: 480px) {
  .about-title {
    gap: 12px;
    text-align: center;
  }
  .first-paragraph,
  .second-paragraph {
    text-align: center;
    padding-left: 30px;
    margin: auto 80px;
  }
  .advantages-paragraph {
    text-align: center;
    margin: auto 80px;
  }
  .read-btn-container {
    padding-left: 28px;
  }
}
@media (min-width: 768px) {
  .modal-box {
    width: 568px;
    padding: 32px 60px;
  }
  .content-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .advantages-list {
    justify-content: space-between;
    flex-direction: row;
  }

  .advantages-svg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: rgba(248, 210, 78, 1);
    margin-bottom: 32px;
  }

  .advantages-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  .advantages-list:last-child {
    gap: 22px;
  }

  .advantages-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  .advantages-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24.36px;
    text-align: center;
  }

  .close-modal-svg {
    width: 24px;
    height: 24px;
  }
  .modal-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
<<<<<<<<< Temporary merge branch 1

=========
>>>>>>>>> Temporary merge branch 2
  }
  .black-box {
    width: 448px;
    height: 205px;
  }
  .modal-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
}
