/* bestsellers */
.bestsellers {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.mob-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.bestsellers-header {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  color: #0a224a;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #0a224a;
  margin-top: 14px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #0a224a;
}

/******** mob********/
@media screen and (max-width: 768px) {
  .bs-container {
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .bestsellers-tab,
  .bestsellers-desk {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/******** tablet********/
@media screen and (min-width: 769px) and (max-width: 1439px) {
  .bs-container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
    
  }
  .bestsellers-mob,
  .bestsellers-desk {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .tab-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }

  .bs-tab-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .bs-tab-item {
    width: calc((100% - 32px) / 2);
  }
}

/******desktop******/
@media screen and (min-width: 1440px) {
  .bs-container {
    max-width: 1440px;
    padding: 0 172px;
    margin: 0 auto;
  }

  .bestsellers-mob,
  .bestsellers-tab {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .desk-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .desk-item {
    width: calc((100% - 24px) / 2);
  }
  .bs-desk-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
  }
}
