body {
  margin: 0 auto;
  background-color: #84a178;
  font-family: 'Montserrat', sans-serif;
}
/* ----- Mobile container width ----- */
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 100px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding: 0 16px;
  }
}
/* ----- Contact section ----- */
.section-contact {
  background-color: #84A178;
}
.contact-container {
  padding-bottom: 60px;
  position: relative;
  top: -350px; /* Adjust the value to move the image up */
  margin-bottom: -410px; 
}

@media (min-width: 768px) {
  .contact-container {
    top: -280px;
    margin-bottom: -340px;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    top: -130px;
    margin-bottom: -190px;
  }
}

.contact-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}
.contact-card-item {
  width: 280px;
  background-color: #fff;
  padding: 40px 36px 20px 32px;
  border-radius: 24px;
}
.card-location-type {
  width: 80px;
  padding: 4px 22px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #F8D24E;
}
.card-foodtruck {
  width: 130px;
}
.card-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 20px;
}
.card-location-list,
.card-week-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.card-location-text:hover {
  text-decoration: underline;
  color: #D6936D;
  cursor: context-menu;
}
.card-location-text,
.card-week,
.address-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 22.32px;
  letter-spacing: 0.04em;
  text-align: left;
}
.street > .card-location-text {
  color: #D6936D;
}
.horizontal-line {
  width: 216px;
  border-radius: 1px;
  margin-bottom: 24px;
}
.hours {
  color: #ABABAB;
}
.card-address {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.address-link {
  line-height: 19.2px;
}
.contact-btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.location-btn,
.franchise-btn {
  display: flex;
  align-items: center;
  width: 196px;
  border-radius: 10px;
  background-color: #F8D24E;
  margin-bottom: 16px;
  padding: 12px 0px 12px 40px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.location-btn svg,
.franchise-btn svg {
  margin-left: 4px;
}
.franchise-btn {
  padding-left: 55px;
  background-color: #84A178;
  border: 2px solid #F8D24E;
}
.location-btn:hover {
  background-color: #0A8817;
}
.location-btn:focus,
.location-btn:active {
  background-color: #0A8817;
  color: #fff;
}
.franchise-btn:hover {
  border-color: #0A8817;
}
.franchise-btn:focus,
.franchise-btn:active {
  border-color: #0A8817;
  color: #fff;
}
.location-btn:focus,
.location-btn:active,
.franchise-btn:focus svg,
.franchise-btn:active svg {
  fill: #fff;
}
.location-btn:disabled,
.franchise-btn:disabled {
  background-color: #ABABAB;
}
@media (min-width: 768px) {
  .contact-card-list {
    margin-bottom: 40px;
  }
  .contact-card-item {
    flex-basis: calc((100% - 32px) / 3);
    padding-right: 41px;
  }
  .contact-btn-box {
    flex-direction: row;
  }
  .card-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 4px 13px;
  }
  .card-foodtruck {
    width: 138px;
  }
  .card-location-text,
  .card-week,
  .address-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 26.04px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .horizontal-line {
    width: 176px;
  }
  .location-btn,
  .franchise-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .contact-card-list {
    gap: 32px;
    margin-bottom: 60px;
  }
  .contact-card-item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .card-location-text,
  .card-week,
  .address-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .horizontal-line {
    width: 288px;
  }
}
/* .gallery-container {
  background-color: #84A178;
} */
.section-contact {
  position: relative;
}
.contact-container.opaq-bg {
  filter: blur(5px);
  opacity: 0.4;
}

.modal-window {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 674px;
  width: 280px;
  padding: 4px 28px 28px;
  background-color: #fff;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}
.modal-window.location {
  height: 365px;
}
.modal-window.franchise.is-open,
.modal-window.location.is-open {
  visibility: visible;
  opacity: 1;
}

.modal-close-btn-contacts {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: transparent;
}
.modal-close-icon {
  fill: #131313;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-map {
  border-radius: 10px;
}
.google-map iframe {
  height: 199px;
  width: 224px;
}
.open-map-btn {
  display: inline-block;
  margin-top: 24px;
  background-color: #F8D24E;
  padding: 12px 34px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
}

.modal-franchise-form,
.modal-reusable-form {
  /* max-width: 224px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}
.modal-title-contacts {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 24px;
}
.modal-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}
.franchise-form-input,
.franchise-form-textarea,
.reusable-form-input,
.reusable-form-textarea {
  background-color: #f8d24e1a;
  border: 1px solid #84A178;
  border-radius: 10px;
  padding: 8px 12px 7px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}
.franchise-form-textarea {
  padding: 8px 12px 0;
}
.franchise-form-input::placeholder,
.franchise-form-textarea::placeholder {
  color: #131313;
  opacity: 1;
}

.franchise-form-btn,
.reusable-form-btn {
  width: 55%;
  margin-top: 24px;
  background-color: #F8D24E;
  padding: 12px 34px;
  border-radius: 10px;
  align-self: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-window{
    // top: 380%;
  }
  .modal-window.location {
    // top: 380%;
  }
}

@media (min-width: 1200px) {
  .modal-window {
    // top: 300%;
  }
  .modal-window.franchise {
    height: 668px;
    width: 568px;
    padding: 4px 60px 32px;
  }
  .modal-window.location {

    height: 458px;
    width: 568px;
    padding: 4px 60px 32px;
  }
  .google-map iframe {
    width: 448px;
    height: 260px;
  }
  .open-map-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: center;
  }
  .modal-title-contacts {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .modal-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .franchise-form-input,
  .franchise-form-textarea {
    padding: 11px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
  }
  .franchise-form-textarea {
    padding: 11px 16px;
  }
}