body {
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* ----- Mobile container width ----- */
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 100px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding: 0 16px;
  }
}
/* ----- Mobile container width ----- */

.customer-review-container {
  padding-bottom: 60px;
}

.customer-section {
  background-image: url(/src/images/ice-cream-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
}

.top-picture {
  position: absolute;
  width: 280px;
  height: 130px;
  left: 20px;
  top: 0px;
  border-radius: 8px;
}

// <------Carousel part------->

.review-picture-container {
  position: absolute;
  left: 36.88%;
  right: 36.56%;
  top: 19.64%;
  bottom: 72.4%;

  background: url(/src/images/1st-review-img.jpg);
}
