body {
  margin: 0 auto;
  background-color: rgba(132, 161, 120, 1);
  font-family: 'Montserrat', sans-serif;
}

/* ----- Mobile container width ----- */
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.customer-review-article {
  position: relative;
  background-image: url(/src/images/ice-cream-background.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 100px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding: 0 16px;
  }
}
/* ----- Mobile container width ----- */

.customer-review-container {
  padding-bottom: 60px;
}

// <------Carousel part------->

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 393px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
}

.carousel-item.active {
  display: flex;
}

.top-picture {
  width: 280px;
  height: 130px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.review-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 32px;
  margin-top: 200px;
}

.review-paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 30.6px;
  text-align: center;
  padding: 35px 39px 35px 39px;
}

.review-container {
  width: 280px;
  height: 256px;
  left: 20px;
  top: 327px;
  background: #84a178;
  border-radius: 10px;
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.6px;
  text-align: center;
}

.location-paragraph {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 37.2px;
  text-align: center;
  padding-top: 32px;
}
p {
  margin: 0;
}

/* Navigation Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

/* Dots Navigation */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 10px 0;
  padding-top: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #84a178;
}
