.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    background-color: #F7FAFF;
  }

.header {
    width: 100%;
    background-color: #F7FAFF;
    padding: 10px 20px; /* Base padding; adjusted in media queries */
  }
  
  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px; 
  }
  
  .logo-icon {
    width: 127px; 
    height: auto; 
    fill: #000; 
    max-width: 100%; 
  }
  
  @media (max-width: 768px) {
    .logo-icon {
      width: 127px; 
      height: 16px; 
    }
  }
  
  @media (max-width: 480px) {
    .logo-icon {
      width: 100px; 
      height: 14px; 
    }
  }
  
  /* Menu button styles */
  .menu-btn, .header-mobile-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none; 
  }
  
  /* Menu icon */
  .menu-icon, .close-icon {
    width: 24px;
    height: 24px;
  }
  
  .header-navigation .top-menu {
    display: flex;
    gap: 30px;
  }
  
  .header-navigation .top-menu-item {
    list-style: none;
  }
  
  .header-navigation .top-menu-item .link {
    text-decoration: none;
    color: #0A224A;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding: 8px 0;
  }
  
  .header-navigation .top-menu-item .link:hover {
    border-bottom: 2px solid #0A224A;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transition: transform 0.3s ease-in-out;
  }
  
  .mobile-menu.is-open {
    display: flex;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .menu-list li {
    margin: 15px 0;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #0A224A;
    font-size: 18px;
  }
  
  /* Close Button */
  .menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Tablet and Mobile Specific Styles */
  @media (max-width: 1024px) {
    .menu-btn, .header-mobile-btn {
      display: block; /* Show menu button */
    }
  
    .header-navigation {
      display: none; /* Hide navigation */
    }
  }
  
  @media (max-width: 768px) {
    .header {
      padding: 10px 15px; /* Adjust padding for smaller screens */
    }
  }
  