.header-container {
  background-color: #84a178;
  min-width: 320px;
  margin: 0 auto;
}

.header-nav {
  background-color: #84a178;
}

.header-nav-list {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.nav-bar-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.nav-bar-list .how-its-made {
  color: #fff;
}

.menu-open-btn,
.menu-close-btn {
  background-color: inherit;
}

.buy-now-btn.tablet-btn {
  display: none;
}

.buy-now-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  padding: 12px 51px 12px 36px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f8d24e;
}

.buy-now-image-box {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 2px solid #96af8c;
  border-radius: 15px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.buy-now-image-box .box-ice-coffee {
  background-color: #efd478;
  outline-color: #efd478;
}

.hamburger-menu {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background-color: #84a178;
  padding: 12px 16px 40px 16px;

  transform: translateY(-100%);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.hamburger-menu-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.mobile-menu {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 0;
}
.buy-button {
  display: none;
}

@media (min-width: 480px) {
  .hamburger-menu {
    width: 480px;
  }
  .logo-icon {
    width: 48px;
    height: 44px;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    padding-top: 20px;
  }
  .buy-now-btn.tablet-btn {
    display: inline-block;
  }
  
  .menu-buttons {
.header-container {
    background-color: #84A178;
    width: 320px;
    margin: 0 auto;
}

.header-nav {
    background-color: #84A178;
}

.header-nav-list {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.home {
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   text-align: center;
   width: 101px;
   color: #fcfcfc;
   padding: 51px 0 32px 110px;
}

.how-its-made {
    font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   text-align: center;
   width: 257px;
   color: #131313;
   padding: 32px 0 32px 32px;
}

.our-products {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 223px;
    color: #fcfcfc;
    padding: 32px 0 32px 49px;
}

.contact{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 133px;
    color: #fcfcfc;
    padding: 32px 0 216px 32px;
}

.buy-now-btn{
    background-color: #F8D24E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    padding: 12px 51px 12px 36px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    cursor: pointer;
    text-align: center;
    gap: 4px;
}

.modal-buy-now {
    width: 280px;
}

.buy-now-image-box {
    width: 100%;
    height: 100%;
    position: relative;
    outline: 2px solid #96AF8C;
    border-radius: 15px;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .menu-open-btn {
    align-self: center;
    margin-right: 32px;
    text-align: center;
  }
    
  .menu-open-btn svg {
    fill: #fff;
  }
}

.modal-buy-now {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 20px;
  width: 280px;
  height: 135vh;
  background-color: #fff;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 0 16px 40px 16px;
  transform: translateY(-100%);
  z-index: 1000;
  transition: opacity;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.modal-buy-now .menu-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal-buy-now .modal-title {
  margin: 0;
  width: auto;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 28px;
}

.buy-now-image-box .box-ice-coffee {
    background-color: #EFD478;
  outline-color: #EFD478;
}

.buy-now-image-box .box-milkshake {
    outline-color: #D6936D;
}

.buy-now-product-img {
      /* width: 132px; */
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: 0px 10px 0px #9cbe8fb2, 0px 15px 20px 0px #0a881740;
}

.buy-now-product-img .ice-coffee {
    box-shadow: 0px 10px 0px #f8d24eb2, 0px 15px 20px 0px #99721740;
}

.product-image .milkshake {
    box-shadow: 0px 10px 0px #d5753fb2, 0px 15px 20px 0px #00000040;
  }

.buy-now-card-title {
    position: absolute;
    bottom: 20px;
    align-self: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.product-card-list {
    display: flex;
    flex-direction: column;
}


.modal-buy-now {
    background-color: #84A178;
}

.modal-buy-now.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.product-card-list {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 84px;
  flex-wrap: wrap;

  margin-bottom: 84px;
}


.product-card-list li {
  // width: 55%;
  width: 132px;
  height: 135px;
}

.image-box {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 2px solid #96af8c;
  border-radius: 15px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.image-box.box-ice-coffee {
  background-color: #efd478;
  outline-color: #efd478;
}

.image-box.box-milkshake {
  outline-color: #d6936d;
}

.product-image {
  // width: 132px;
  // height: 139px;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-45%);
  box-shadow: 0px 10px 0px #9cbe8fb2, 0px 15px 20px 0px #0a881740;
}

.product-image.ice-coffee {
  box-shadow: 0px 10px 0px #f8d24eb2, 0px 15px 20px 0px #99721740;
}

.product-image.milkshake {
  box-shadow: 0px 10px 0px #d5753fb2, 0px 15px 20px 0px #00000040;
}

.product-card-title {
  position: absolute;
  bottom: 20px;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.buy-now-form .modal-reusable-form {
  margin: 0 auto;
}
