

.header-container {
    background-color: #84A178;
    width: 320px;
    margin: 0 auto;
}

.header-nav {
    background-color: #84A178;
}

.header-nav-list {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.home {
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   text-align: center;
   width: 101px;
   color: #fcfcfc;
   padding: 51px 0 32px 110px;
}

.how-its-made {
    font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   text-align: center;
   width: 257px;
   color: #131313;
   padding: 32px 0 32px 32px;
}

.our-products {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 223px;
    color: #fcfcfc;
    padding: 32px 0 32px 49px;
}

.contact{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 133px;
    color: #fcfcfc;
    padding: 32px 0 216px 32px;
}

.buy-now-btn{
    background-color: #F8D24E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    padding: 12px 51px 12px 36px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    cursor: pointer;
    text-align: center;
    gap: 4px;
}

.modal-buy-now {
    width: 280px;
}

.buy-now-image-box {
    width: 100%;
    height: 100%;
    position: relative;
    outline: 2px solid #96AF8C;
    border-radius: 15px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;
}

.buy-now-image-box .box-ice-coffee {
    background-color: #EFD478;
  outline-color: #EFD478;
}

.buy-now-image-box .box-milkshake {
    outline-color: #D6936D;
}

.buy-now-product-img {
      /* width: 132px; */
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: 0px 10px 0px #9cbe8fb2, 0px 15px 20px 0px #0a881740;
}

.buy-now-product-img .ice-coffee {
    box-shadow: 0px 10px 0px #f8d24eb2, 0px 15px 20px 0px #99721740;
}

.product-image .milkshake {
    box-shadow: 0px 10px 0px #d5753fb2, 0px 15px 20px 0px #00000040;
  }

.buy-now-card-title {
    position: absolute;
    bottom: 20px;
    align-self: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.product-card-list {
    display: flex;
    flex-direction: column;
}


.modal-buy-now {
    background-color: #84A178;
}






