

.header-container {
    background-color: #84A178;
    width: 320px;
    margin: 0 auto;
}


.header-nav {
    background-color: #84A178;
}

.header-nav-list  {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.nav-bar-desktop {
  display: none;
}

.nav-bar-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.nav-bar-list .how-its-made {
  color: #fff;
}

.menu-open-btn,
.menu-close-btn {
  background-color: inherit;
}

.buy-now-btn.tablet-btn {
  display: none;
}

.buy-now-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  padding: 12px 51px 12px 36px;

  display: flex;
  align-items: center;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #f8d24e;
}

.buy-now-image-box {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 2px solid #96af8c;
  border-radius: 15px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.buy-now-image-box .box-ice-coffee {
  background-color: #efd478;
  outline-color: #efd478;
}

.hamburger-menu {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  background-color: #84a178;
  padding: 12px 20px 40px 20px;

  transform: translateY(-100%);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.hamburger-menu-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.mobile-menu {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 0;
}
.buy-button {
  display: none;
}

@media (min-width: 480px) {
  .header-container {
    min-width: 480px;
  }
  .logo-icon {
    width: 48px;
    height: 44px;
  }
}

@media (min-width: 768px) {
  .header-container {
    min-width: 768px;
  }
  .mobile-menu {
    padding: 20px 32px 0;
  }
  .buy-now-btn.tablet-btn {
    display: inline-block;
  }
  .menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-open-btn {
    align-self: center;
    margin-right: 32px;
    text-align: center;
  }
  .menu-open-btn svg {
    fill: #fff;
  }
}

@media (min-width: 1200px) {
  .header-container {
    min-width: 1200px;
  }
  .logo-icon {
    width: 60px;
    height: 65px;
  }
  .mobile-menu {
    padding: 8px 16px 0;
  }
  .menu-open-btn {
    display: none;
  }
  .nav-bar-desktop {
    display:contents;
  }

  .nav-bar-desktop .nav-bar-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
  .header-nav-list {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    color: #fcfcfc;
  }
  .header-nav-list:hover,
  .header-nav-list:focus,
  .header-nav-list:active {
    color: #F8D24E;
  }

}

.modal-buy-now {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 135vh;
  background-color: #fff;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 0 16px 40px 16px;

  // transform: translateY(-100%);
  z-index: 1000;
  transition: opacity;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-buy-now .menu-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal-buy-now .modal-title {
  margin: 0;
  width: auto;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 28px;
}

.modal-buy-now.is-open {
  visibility: visible;
  opacity: 1;
}

.product-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  flex-wrap: wrap;

  margin-bottom: 84px;
}

@media (min-width: 768px) {
  .modal-buy-now {
    width: 568px;
    height: 644px;
    gap: 40px;
  }
  .product-card-list{
    gap: 20px;
  }

  .buy-now-form {
    padding: 0 100px;
  }
}


.product-card-list li {
  // width: 55%;
  width: 132px;
  height: 135px;
}

.image-box {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 2px solid #96af8c;
  border-radius: 15px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.image-box.box-ice-coffee {
  background-color: #efd478;
  outline-color: #efd478;
}

.image-box.box-milkshake {
  outline-color: #d6936d;
}

.product-image {
  border-radius: 50%;
  position: absolute;
  transform: translateY(-45%);
  box-shadow: 0px 10px 0px #9cbe8fb2, 0px 15px 20px 0px #0a881740;
}

.product-image.ice-coffee {
  box-shadow: 0px 10px 0px #f8d24eb2, 0px 15px 20px 0px #99721740;
}

.product-image.milkshake {
  box-shadow: 0px 10px 0px #d5753fb2, 0px 15px 20px 0px #00000040;
}

.buy-now .product-card-title {
  position: absolute;
  top: 20px;
  bottom: 20px;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.buy-now-form .modal-reusable-form {
  margin: 0 auto;
}


