* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

.our-yacht {
    display: flex;
    justify-content: center;
    background: #0e1823;
    padding: 20px;
}

.our-yacht-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
}

.title-div {
margin-top: 80px;
margin-left: 28px;
margin-right: 28px;
margin-bottom: 40px;
width: 319px;
font-weight: 500px;
font-size: 28px;
line-height: 1;
letter-spacing: -0,02em;
text-align: center;
color: #fbfbfb;
}

.title {
    margin: 0 28px;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.yachts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    margin-top: 40px;
  

}

.card-1,.card-2,.card-3 {
    padding-left: 1px;
    padding-top: 0px;
    width: 335px;
    height: 478px;
    margin: 20px 0;
    background: #ffffff;
    border-radius: 10px;
}

.photo-card {
        display: flex;
        position: relative;
        width: 302px;
        height: 240px;
        left: calc(50% - 302px/2);
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
        background: url(image.png);
        border-radius: 24px;
}

.line {
        width: 272px;
        height: 0px;
        left: calc(50% - 272px/2 + 1px);
        top: 321px;
        padding-left: 32px;
        border: 1px solid rgba(4, 3, 6, 0.1);
}
.card-content-left {
        width: 50px;
        height: 17px;
        font-weight: 500;
        font-size: 14px;
        padding-left: 32px;
        line-height: 118%;
        letter-spacing: -0.045em;
        text-transform: uppercase;
        color: #1B414B;
}

.card-content-right {
        width: 95px;
        height: 14px;
        font-weight: 400;
        font-size: 12px;
        padding-left: 175px;
        line-height: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #040306;
        opacity: 0.4;
        flex: none;
        order: 1;
        flex-grow: 0;
}

.orders-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    width: 141px;
    height: 46px;
    left: calc(50% - 141px/2 + 0.5px);
    margin-top: 40px;
    margin-left: 96px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    background-color: #0e1823;
    color: #fbfbfb;
}

.orders-button:hover {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 32px;
        gap: 10px;
        width: 141px;
        height: 46px;
        left: 20px;
        top: 91px;
        background: #FBFBFB;
        color:#1B414B;;
        border-radius: 15px;
}