body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* ----- Mobile container width ----- */ 
  
  .container {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media (min-width: 480px) {
    .container {
      width: 480px;
      padding: 0 80px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      min-width: 768px;
      padding: 0 32px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      min-width: 1200px;
      padding: 0 16px;
    }
  }
  
  /* ----- Products section ----- */
  
  .section-products {
    background-image: url(../images/ice-cream-background-mobile.jpg);
    background-position: 535px -120px;
    position: relative;
  }
  
  .section-products-header {
    display: block;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 148px;
  }
  
  .section-products-header-span {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.218;
    text-align: center;
    color: #131313;
    text-transform: uppercase;
  }
  
  .section-products-header-title {
    padding-top: 12px;
    font-family: 'Seymour One', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.257;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
  }
  
  .products-grid-list {
    flex-wrap: wrap;
    gap: 14.5px;
    display: flex;
  }
  
  .product-card-item {
    width: 280px;
    height: 420px;
    border-radius: 24px;
    position: relative;
  }
  
  .ice-cream-container {
    background-color: #AEC6A5;
    position: relative; 
    display: flex; 
    justify-content: center;
  }
  
  .ice-cream-container::after {
    content: '';
    display: block;
    background-image: url('../images/products-ice-cream.jpg');
    background-size: cover; 
    background-position: center; 
    width: 200px; 
    height: 200px; 
    border-radius: 100px; 
    position: absolute; 
    top: -25%;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/products-ice-cream@2x.jpg);
    }
  }
  
  .ice-cream-container::before {
    content: '';
    display: block; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    background-color: #AEC6A5;
    position: absolute; 
    top: -193px;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 5.34px 20.03px 0px #0A881740;
  }
  
  .ice-coffee-container {
    background-color: #EFD478;
    position: relative; 
    display: flex; 
    justify-content: center;
    margin-top: 168px;
  }
  
  .ice-coffee-container::after {
    content: '';
    display: block;
    background-image: url('../images/products-ice-coffee.jpg');
    background-size: cover; 
    background-position: center; 
    width: 200px; 
    height: 200px; 
    border-radius: 100px; 
    position: absolute; 
    top: -25%;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/products-ice-coffee@2x.jpg);
    }
  }
  
  .ice-coffee-container::before {
    content: '';
    display: block; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    background-color: #EFD478;
    position: absolute; 
    top: -193px;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 5.4px 20.26px 0px #99721740;
  }
  
  .milkshakes-container {
    background-color: #D6936D;
    position: relative; 
    display: flex; 
    justify-content: center;
    margin-top: 168px;
    margin-bottom: 60px;
  }
  
  .milkshakes-container::after {
    content: '';
    display: block;
    background-image: url('../images/products-milkshakes.jpg');
    background-size: cover; 
    background-position: center; 
    width: 200px; 
    height: 200px; 
    border-radius: 100px; 
    position: absolute; 
    top: -25%;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/products-milkshakes@2x.jpg);
    }
  }
  
  .milkshakes-container::before {
    content: '';
    display: block; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    background-color: #D6936D;
    position: absolute; 
    top: -193px;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 5.41px 20.3px 0px #00000040;
  }
  
  .product-card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.219;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 40px;
    padding-top: 123px;
  }
  
  .product-card-paragraph {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.76;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
  }
  
  .product-card-arrow-button {
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    bottom: 16px;
    position: absolute;
    transform: translateX(136%);
  }

  .products-container {
    position: relative;
  }
  
  .container.opaq-bg {
    filter: blur(5px);
    opacity: 0.4;
  }
  
  /* ----- Modal window Ingredients ----- */
  
  .modal-window-ingredients {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 968px;
    width: 280px;
    padding: 4px 28px 28px;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    cursor: pointer;
  
    visibility: hidden;
    opacity: 0;
  }
  
  .modal-window-ingredients.is-open {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
  
  .modal-close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .modal-close-icon {
    fill: #131313;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal-title-ingredients {
    font-family: 'Seymour One', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 28px;
    color: #131313;
    width: 142px;
  }
  
  .modal-window-ingredients-img {
    display: flex;
    justify-content: center;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    position: relative;
    box-shadow: 
    0px 7px 0px #9CBE8FB2,
    0px 12.26px 19.73px 0px #0A881740;
  }
  
  .modal-window-quantities-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 9px;
    padding-top: 22px;
  }
  
  .modal-window-quantities-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    position: relative;
    padding-top: 21.5px; 
  }
  
  .modal-window-quantities-circle {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #9CBE8F;
    border: 2px solid #9CBE8F;
    box-shadow: 0px 6px 20px 0px #0A881740;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    color: #131313;
    line-height: 2.8;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .modal-window-quantities-label {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.219;
    color: #131313;
    border: 2px solid #9CBE8F;
    width: 53px;
    height: 72px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
    margin-top: -22px;
  }
  
  .modal-window-ingredients-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    color: #131313;
    padding-top: 40px;
  }
  
  .modal-window-ingredients-list {
    padding-top: 24px;
  }
  
  .modal-window-ingredients-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
  }
  
  .ingredient-name {
    margin-right: 56px;
  }
  
  .modal-window-ingredients-form {
    margin-top: 40px;
  }
  
  .modal-window-ingredients-form-element {
    background-color: #F8D24E1A;
    border: 1px solid #84A178;
    width: 240px;
    height: 42px;
    border-radius: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
    align-items: center;
    padding-left: 10.43px;
  }
  
  textarea.modal-window-ingredients-form-element {
    height: 84px;
    padding-top: 11px;
  }
  
  .modal-window-ingredients-submit-button {
    display: block;
    min-width: 132px;
    height: 42px;
    margin: auto;
    border-radius: 10px;
    background-color: #F8D24E;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.219;
  }
  
  /* ----- End Modal window Ingredients ----- */
  
  @media (min-width: 480px) {
    .section-products {
        background-image: url(../images/ice-cream-background-mobile.jpg);
        background-position: 590px -140px;
      }
  
      .product-card-item {
        min-width: 320px;
        height: 428px;
      }
  
      .products-grid-list {
        align-items: center;
        justify-content: center;
      }
  
      .product-card-title {
        padding-top: 126px;
      }
  }
  
  @media (min-width: 768px) {
    .section-products {
      background-image: url(../images/ice-cream-background-tablet.jpg);
      background-size: 125%;
      background-position: -30px -122px;

      @media (min-resolution: 2dppx) {
        background-image: url(../images/ice-cream-background-tablet@2x.jpg);
      }
    }
  
    .section-products-header {
      margin-bottom: 200px;
    }
  
    .section-products-header-span {
      font-size: 22px;
      line-height: 1.219;
    }
  
    .section-products-header-title {
      font-size: 34px;
      line-height: 1.256;
    }
  
    .product-card-item {
      flex: calc(33.333% - 16px);
      min-width: 224px; 
    }
  
    .products-grid-list {
      align-items: flex-start;
    }
  
    .ice-coffee-container,
    .milkshakes-container {
      margin-top: 0;
    }
  
    .product-card-title {
      font-size: 22px;
      padding-top: 124px;
    }
  
    .product-card-paragraph {
      width: 172px;
    }

    .product-card-arrow-button {
      transform: translateX(115%);
    }
  }
  
  @media (min-width: 1200px) {
    .section-products {
      background-image: url(../images/ice-cream-background-desktop.jpg);
      background-size: cover;
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url(../images/ice-cream-background-desktop@2x.jpg);
        background-position: -60px -250px;
        background-size: 107%;
      }
    }
  
    .section-products-header {
      padding-bottom: 120px;
    }
  
    .section-products-header-span {
      font-size: 30px;
    }
  
    .section-products-header-title {
      font-size: 36px;
      line-height: 1.173;
      letter-spacing: 0.06em;
    }
  
    .products-grid-list {
      gap: 29px;
    }
  
    .product-card-item {
      flex-basis: calc((100% - 58px) / 3);
      min-width: 370px;
      height: 536px;
    }
  
    .ice-cream-container {
      box-shadow: 0px 8px 30px 0px #D414431A;
    }
  
    .product-card-title {
      font-size: 30px;
      padding-top: 165px;
    }
  
    .product-card-paragraph {
      width: 246px;
      font-size: 16px;
    }
  
    .product-card-arrow-button {
      bottom: 60px;
      transform: translateX(180%);
    }
  
    .ice-cream-container::after,
    .ice-coffee-container::after,
    .milkshakes-container::after {
      width: 302px; 
      height: 302px; 
      border-radius: 150px; 
      top: -34%;
  }
  
  .ice-cream-container::before,
  .ice-coffee-container::before,
  .milkshakes-container::before {
    width: 302px; 
    height: 302px; 
    border-radius: 50%; 
    top: -318px;
  }
  
  .ice-cream-container::before {
    box-shadow: 0px 8px 30px 0px #0A881740;
  }
  
  .ice-coffee-container::before {
    box-shadow: 0px 8px 30px 0px #99721740;
  }
  
  .milkshakes-container::before {
    box-shadow: 0px 8px 30px 0px #00000040;
  }
  
  .modal-window-ingredients {
    width: 568px;
    height: 996px;
  }
  
  .modal-close-button {
    width: 13.33px;
    height: 13.33px;
  }
  
  .modal-title-ingredients {
    width: 273px;
    margin-top: 32px;
    margin-bottom: 24px;
    white-space: nowrap;
  }
  
  .modal-window-quantities-container {
    gap: 20px;
    padding-top: 24px;
  }
  
  .modal-window-quantities-circle {
    width: 53px;
    height: 53px;
    font-size: 12px;
    line-height: 2.33;
  }
  
  .modal-window-quantities-label {
    font-size: 12px;
    line-height: 1.219;
    width: 65px;
    height: 90px;
  }
  
  .modal-window-ingredients-subtitle {
    padding-top: 48px;
  }
  
  .ingredient-name {
    margin-right: 330px;
  }
  
  .modal-window-ingredients-form {
    padding: 0 100px;
  }
  
  .modal-window-ingredients-form-element {
    width: 368px;
    padding-left: 16px;
  }
  
  .modal-window-ingredients-submit-button {
    min-width: 121px;
    margin-top: 12px;
  }
  }