/* Style reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    border: none;
}

input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: #000;
}
div {
    outline: none;
}
/* End style reset */