:root {
  --font-dm-sans: 'DM Sans';
  --font-titan-one: 'Titan One';
  --background-section2-section3-rozDeschis: #ffb8ca;
  --background-section2-roz-inchis: #ffa5ba;
  --background-section3-section7-bej: #f0d1a5;
  --background-section3-section7-verde: #c2e297;
  --backround-sec4-sec5-sec7-sec8-rozAlbit: #fff5f6;
  --bacground-buttonWhite-sec1-sec2-sec4-sec7: #ffffff;
  --background-buttonRed-section2-section7: #d41443;
  --backgoundSVG-footer: #fea5bb;
  --background-modal: #e18298;
  --underline-color: #e1e1e1;
  --font-color-white: #ffffff;
  --font-color-red: #d41443;
  --font-color-pink: #ffa5ba;
  --font-color-footer-Grey: #907e82;
}

.about-section {
  display: flex;
  flex-direction: column;
  width: auto;
}
.container-about {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  background-color: var(--backround-sec4-sec5-sec7-sec8-rozAlbit);
  padding-bottom: 140px;
}

.cow-img img {
  background: transparent;
  width: 280px;
  height: 279px;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;

  height: 521px;
}
.paragrafs {
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../images/about-section-bg.png);
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.paragrafs :nth-child(1) {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 19.44px;
  letter-spacing: 0.04em;
  color: #000;
  margin-top: 40px;
  max-width: 70%;
}
.paragrafs :nth-child(2) {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 14px;
  line-height: 194%;
  letter-spacing: 0.04em;
  color: #907e82;
  max-width: 70%;
  line-height: 19.44px;
}
.about-h3 {
  font-family: var(--font-titan-one);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-color-pink);
  margin-top: 60px;
  margin-bottom: 0;
}
.about-h1 {
  font-family: var(--font-titan-one);
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-color-red);
  margin-top: 16px;
}
.read-more-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 44px;
  background-color: #fff;
  border-radius: 22px;
  border: none;
  margin-left: 20px;
  font-family: var(--font-dm-sans);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: var(--font-color-red);
  margin-top: 20px;
  padding-left: 37px;
}
.read-more-btn svg {
  margin-left: 14px;
  width: 10px;
  height: 10px;
}
.read-more-btn:hover {
  color: var(--font-color-white);
  cursor: pointer;
  background-color: #d41443;
}
.read-more-btn:hover #svg-btn {
  stroke: var(--font-color-white);
  cursor: pointer;
}

.read-more-btn svg {
  stroke: #d41443;
}

/* Stilizare tableta 768px*/
@media screen and (min-width: 768px) {
  .main-div {
    display: flex;
    flex-direction: row;
    background: none;
    margin-top: 40px;
    height: auto;
  }
  .about-h1 {
    margin-bottom: 0;
  }
  .cow-img img {
    width: 336px;
    height: 335px;
  }
  .paragrafs {
    height: auto;
    margin-top: 40px;
    margin-left: 32px;
    background-image: none;
  }
  .paragrafs :nth-child(1) {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 24.36px;
  }
  .paragrafs :nth-child(2) {
    font-size: 14px;
    line-height: 27.16px;
  }
  .read-more-btn {
    margin-left: 99px;
    font-size: 16px;
  }
  .container-about {
    padding-bottom: 0;
  }
}

/* Stilizare desktop 1158px */
@media screen and (min-width: 1158px) {
  .main-div {
    display: flex;
    flex-direction: row;
    background-image: url(../images/about-section-bg.png);

    background-repeat: no-repeat;
    background-position: center;
  }

  .cow-img img {
    width: 501px;
    height: 501px;
  }
  .paragrafs {
    background-image: none;
    max-width: 70%;
  }
  .paragrafs :nth-child(1) {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 28.16px;
    max-width: none;
  }
  .paragrafs :nth-child(2) {
    margin-left: 80px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 27.16px;
    max-width: none;
  }
  .read-more-btn {
    margin-left: 99px;
    font-size: 16px;
  }
  .container-about {
    padding-bottom: 0;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgb(255, 184, 202, 40%);
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 14%), 0 1px 3px 0 rgb(0, 0, 0, 12%),
    0 2px 1px 0 rgb(0, 0, 0, 20%);
}
.is-hidden {
  visibility: hidden;
  transform: scale(1.2);
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 184, 202, 40%);
  border-radius: 50%;
  color: #2e2f42;
  width: 24px;
  height: 24px;
  outline: none;
  position: absolute;
  right: 24px;
  top: 24px;
  border-color: transparent;
}
.close-icon {
  width: 15px;
  height: 15px;
  stroke: #000;
}
.modal-content {
  margin: 0 auto;
  padding-top: 30px;
  width: 400px;
  height: 600px;
  background-image: url(../images/about-modal-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
}
.modal p {
  color: red;
  text-indent: 5px;
  margin-bottom: 0;
}

.modal-svg-ice-cream {
  width: 25px;
  height: 25px;
  animation: rotate 2s linear infinite;
  background-color: transparent;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-modal-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  align-items: baseline;
}
