/* benefits section */

.benefits_section{
    background-color:rgba(30, 24, 35, 1);
    display: flex;
    flex-wrap: wrap;
  }
  .benefits_group{
    padding: 20px;
  }
  
  .benefits_group h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 1);
  }
  .benefits_group p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
  }
  
  /* item section */
  .item_section{
    padding:72px 20px;
  
  }
  
  