@import url(./_common.scss), url(./_variables.scss);

.catalog-section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 132px;
  padding-right: 132px;
}
.common-title {
  font-family: var(--font-epilogue);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 44px;
  color: var(--dark-green-color);
}
.row_watches {
  list-style: none;
  display: flex;
  gap: 24px;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: 64px;
}
.row_watches li {
  width: 276px;
  height: 375;
}
.norow_watches {
  list-style: none;
  display: flex;
  gap: 24px;
  padding-left: 0px;
  justify-content: center;
}
.details_watch {
  width: 254px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--font-epilogue);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.watch_price {
  font-family: var(--font-epilogue);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.buy_button {
  border-radius: 8px;
  background-color: var(--dark-green-color);
  color: var(--white-color);
  font-size: 12px;
  line-height: 14px;
  font-family: var(--font-epilogue);
  width: 122px;
  height: 50px;
}
.buy_button:hover,
.buy_button:focus {
  border-color: var(--white-color);
}
.overlay_image {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 325px;
  transform: translateY(105%);
  background-color: var(--dark-green-color);
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row_row:hover .overlay {
  transform: translateY(0);
}
.row_row:hover {
  box-shadow: 10px 10px 15px var(--black);
  color: var(--dark-green-color);
}
.overlay_p {
  font-size: 14px;
  font-family: var(--font-epilogue);
  letter-spacing: -0.01em;
  line-height: 18px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
