.catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .catalog-title {
    width: 153px;
    height: 44px;
    font-size: 32px;
    line-height: calc(40 / 32);
    letter-spacing: -0.02em;
    color:#141414;
    margin-bottom: 40px;
  }
  .catalog-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .catalog-list-item{
    position: relative;
  }
  .catalog-card{
    display: block;
  }

  .overlay {
    position: relative;
    margin-bottom: 14px;
    overflow: hidden;
  }
  .overlay-description{
    position: absolute;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #1e2827;
  border-radius: 8px;
  transform: translateY(100%);
  transition: transform 300ms linear;
  z-index: 10;
  }
  .catalog-card:hover .overlay-description{
    transform: translate(0);
    transition: transform 300ms linear;
  }
  .overlay-title{
    height: 18px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff; 
  }
  .overlay-text{
    width: 236px;
    height: 53px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    margin-top: 10px;
  }
 
.text-description{
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price{
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);   
}
.catalog-button{
    font-size: 12px;
    line-height: calc(14 / 12);
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 28px;
    min-width: 108px;
    height: 42px;
    background: #1e2827;
    border-radius: 8px;
    border: transparent;
    display: block;
    margin-left: auto;
    margin-top: 40px;
    text-align: center;
}
.catalog-button:hover, 
.catalog-button:focus{
    border: 1px solid #ffffff;
}
.blockmob{
    display: none;
    position: relative;   
}

@media screen and (min-width: 375px){
    .catalog{
        width: 375px;
    }
    .text-description{
        width: 257px;
    }
    .overlay-description{
        padding: 40px;  
    }

}

@media screen and (min-width: 768px){
    .catalog-container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
      }

      .catalog {
        padding-top: 64px;
        padding-bottom: 64px;
      }
      .catalog-list{
        flex-direction: row;
    gap: 40px 32px;
    flex-wrap: wrap;
    justify-content: center;
      }
      .catalog-title{
        font-size: 40px;
    line-height: calc(44 / 40);
      }
      .catalog-button{
        width: 122px;
        height: 50px;
      }
}

@media screen and (min-width: 1280px) {
    .catalog-container {
      width: 1200px;
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .catalog {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .catalog-list-item{
        width: 276px;
        height: 375px; 
    }
    .overlay{
        height: 325px;  
    }
    .overlay-description{
        padding: 26px 20px 20px 20px;
    }
    .blockmob{
        display: block;
        width: 276px;
        height: 375px;   
    }
    .catalog-list{
        gap: 64px 24px; 
    }
    .catalog-card{
        height: 375px;
    }
    .catalog-title{
        margin-bottom: 64px;
    }
    .catalog-button{
        margin-top: 80px;
    }
}