:root {
  /* --background-color: #fff5f6; */
  --font-dm-sans: 'DM Sans';
}

.footer-container {
  background-color: #fff5f6;
  padding-top: 30px;
}

.footer-media {
  padding-right: 20px;
}

.footer-texts {
  padding-left: 20px;
}

.titan-one-regular {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-uniquifier {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.footer-text1 {
  font-family: 'Titan One';
  font-weight: 400;
  size: 30px;
  color: #ffa5ba;
  letter: 4%;
  margin: 0;
}

.footer-text2 {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: xx-large;
  color: #d41443;
  letter: 6%;
  height: 66px;
}

.svg-footer {
  background-color: #fea5bb;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-footer svg {
  width: 20px;
  height: 20px;
}

.footer-contact {
  text-decoration: none;
  color: black;
  font-family: 'DM Sans';
  size: 16px;
  letter: 2%;
}

.footer-contact::after {
  content: '+60(0)383766284';
  color: red;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

/* Stilizare Mobile */

@media screen and (max-width: 320px) {
  .footer-container {
    max-width: 320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .footer-text1 {
    display: block;
    width: 70%;
    text-align: left;
  }

  .footer-text2 {
    display: block;
    width: 70%;
    text-align: left;
    letter-spacing: 2px;
  }

  .footer-media {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-content: flex-end;
  }

  .svglist-footer {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    align-content: flex-end;
    justify-content: flex-end;
  }

  .footer-rights1 {
    font-family: 'DM Sans';
    color: #907e82;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer-contact {
    font-size: 12px;
    overflow: visible;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
  }

  .footer-rights1 {
    display: block;
  }

  .footer-rights {
    display: none;
  }
}

/* Stilizare tableta */

@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer-container {
    max-width: 768px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .footer-text1 {
    display: block;
    width: 80%;
    text-align: left;
    margin-top: auto;
  }

  .footer-text2 {
    display: block;
    width: 70%;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 12px;
  }

  .svglist-footer {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
    align-content: flex-end;
    justify-content: flex-end;
  }

  .footer-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .footer-contact {
    margin-bottom: 40px;
  }

  .footer-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #907e82;
  }

  .footer-rights1 {
    display: none;
  }
}

/*  Stilizare Desktop */

@media screen and (min-width: 769px) {
  .footer-container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .footer-text1 {
    margin-bottom: 16px;
    margin-top: 20px;
    display: block;
  }

  .footer-text2 {
    margin-top: 0;
    display: block;
  }

  .footer-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }

  .footer-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .svglist-footer {
    display: flex;
    gap: 30px;
    margin-bottom: 16px;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .footer-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #907e82;
  }

  .footer-contact {
    font-size: 16px;
    margin-bottom: 30px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    font-family: 'DM Sans';
    color: black;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .footer-rights1 {
    display: none;
  }

  .footer-text3 {
    display: flex;
    justify-content: center;
  }
}
