.advantages {
  flex-wrap: wrap;
  padding-top: 125px;
}
.advantages .header-h3 {
  display: none;
}
.advantages-list {
  list-style: none;
  display: flex;
  background: repeating-linear-gradient(
    90deg,
    transparent 0 50px,
    #fff5f6 50px 100px
  );
}
.advantages-item {
  width: 100%;
}
.advantages-number {
  font-family: 'Titan One';
  color: #d41443;
  font-weight: 400;
  font-size: 58px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.advantages-description {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  color: #000;
}

@media screen and (min-width: 768px) {
  .advantages {
    background: repeating-linear-gradient(
      90deg,
      transparent 0 50px,
      #fff5f6 50px 100px
    );
  }
  .advantages-item {
    width: 33.3333333333%;
  }
  .advantages-number {
    font-size: 48px;
    line-height: 55px;
    text-transform: none;
  }
  .advantages-description {
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    background: repeating-linear-gradient(
      90deg,
      transparent 0 50px,
      #fff5f6 50px 100px
    );
  }
  .advantages-number {
    font-size: 58px;
    line-height: 66px;
    text-transform: none;
  }
  .advantages-description {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}
.gallery {
  flex-wrap: wrap;
  background: repeating-linear-gradient(
    90deg,
    transparent 0 50px,
    #fff5f6 50px 100px
  );
  display: flex;
  justify-content: center;
}

.header-h2 {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.header-h2--hidden {
  display: none;
}
.img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery {
    background: repeating-linear-gradient(
      90deg,
      transparent 0 50px,
      #fff5f6 50px 100px
    );
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    background: repeating-linear-gradient(
      90deg,
      transparent 0 50px,
      #fff5f6 50px 100px
    );
  }
}
