:root {
  --background-section2-section3-rozDeschis: #ffb8ca;
  --background-section2-roz-inchis: #ffa5ba;
  --background-section3-section7-bej: #f0d1a5;
  --background-section3-section7-verde: #c2e297;
  --backround-sec4-sec5-sec7-sec8-rozAlbit: #fff5f6;
  --bacground-buttonWhite-sec1-sec2-sec4-sec7: #ffffff;
  --background-buttonRed-section2-section7: #d41443;
  --backgoundSVG-footer: #fea5bb;
  --background-modal: #e18298;
  --underline-color: #e1e1e1;

  --font-color-white: #ffffff;
  --font-color-red: #d41443;
  --font-color-pink: #ffa5ba;
  --font-color-footer-Grey: #907e82;
}

/* @font-face {
    font-family: "DM Sans";
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

}

@font-face {
    font-family: "Titan One";
    src: url('https: //fonts.googleapis.com/css2?family=Titan+One&display=swap');
} */

.container-hero {
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--background-section2-section3-rozDeschis);
}

.header {
  height: 80px;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.antet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

.logo-header {
  width: 199px;
  height: 50px;
}

.navigation-menu {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navigation-menu li {
  display: flex;
  justify-content: space-between;
}

.navigation-menu ul li a {
  text-decoration: none;
  color: var(--font-color-white);
}

.navigation-menu ul li a:hover {
  text-decoration: none;
  color: var(--font-color-red);
}

.buy-now-bttn {
  width: 159px;
  height: 44px;
  border-radius: 22px 22px 22px 22px;
  background-color: #ffffff;
  border: 2px;
  color: var(--font-color-red);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: center;
}

.menu-icon-button {
  display: flex;
}

.menu-icon-button {
  display: block;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 12px;
}

.menu-icon-button svg {
  width: 24px;
  height: 24px;
}

/* Stiluri pentru modal */

.js-open-menu {
  background: none;
  border: none;
  display: flex;
}

.js-menu-container {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 250px;
  right: 0px;
  background-color: var(--background-modal);
  padding-left: 20px;
}

.js-menu-container.is-open {
  display: flex;
  flex-direction: column;
  background-color: #e17992;
  width: 250px;
  z-index: 1000;
  justify-content: center;
  align-items: start;
  height: 500px;
}

.js-close-menu {
  display: flex;
  background-color: none;
  color: #ffffff;
  border: none;
  position: relative;
  right: -130px;
  top: 20px;
}

.mobile-navigation-menu {
  position: relative;
  top: 20px;
}

.menu-list-mobile {
  list-style: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.23px;
  text-align: left;
  outline: none;
}

.buy-now-bttn-mobile {
  width: 159px;
  height: 44px;
  border-radius: 22px 22px 22px 22px;
  background-color: #ffffff;
  border: 2px;
  color: var(--font-color-red);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: center;
  position: relative;
  top: 30px;
  justify-content: center;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.hero-section {
  display: flex;
  height: 610px;
  justify-content: space-between;
}

.left-hero {
  position: absolute;
  padding-left: 16px;
  z-index: 3;
}

.middle-hero {
  display: flex;
  justify-content: center;
}

.container-hero {
  position: relative;
  max-width: 1200px;
}

.ice-cream-cone {
  position: absolute;
  top: 60%;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-width: 236px;
  z-index: 1;
}

.circle-background {
  background-color: var(--background-section2-roz-inchis);
  height: 534px;
  width: 534px;
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: 62%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.right-hero {
  position: relative;
  top: -7.5%;
}

.hero-motto {
  width: 277px;
  padding-top: 40px;
}

.tasty-ice-cream {
  left: 20px;
}

.hero-motto h2 {
  font-family: 'Titan One';
  font-size: 38px;
  font-weight: 400;
  line-height: 43.51px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--font-color-white);
  display: block;
  margin-bottom: 0px;
}

.hero-motto h1 {
  font-family: 'Titan One';
  font-size: 58px;
  font-weight: 400;
  line-height: 52.49px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--font-color-red);
  margin-top: 0px;
  margin-bottom: 24px;
}

.buttons-hero {
  display: flex;
  gap: 12px;
  margin: 0 auto;
}

.products-bttn {
  width: 107px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--font-color-white);
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: center;
  color: var(--background-buttonRed-section2-section7);
}

.how-its-made-bttn {
  width: 138px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--bacground-buttonWhite-sec1-sec2-sec4-sec7);
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: center;
  color: var(--font-color-red);
}

.milk-and-recipe {
  display: flex;
  gap: 0px;
  position: relative;
  top: 40px;
}

.milk-cup img {
  width: 213px;
  height: 216px;
  top: 388px;
}

.text-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe {
  width: 200px;
  height: 78px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--font-color-white);
}

.arrow-hero {
  margin-top: 24px;
  width: 26px;
  height: 26px;
  background-color: var(--bacground-buttonWhite-sec1-sec2-sec4-sec7);
  border-radius: 50%;
}

.arrow-hero svg {
  fill: var(--font-color-red);
  width: 14px;
  height: 14px;
  position: relative;
  top: 6px;
  left: 6px;
}

.arrow-hero svg:hover {
  fill: white;
  cursor: pointer;
}

.arrow-hero:hover {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: var(--font-color-red);
}

.numbers {
  position: relative;
  top: 68px;
  right: 56px;
  z-index: 1;
}

.circle-white {
  width: 30px;
  height: 30px;
  background-color: var(--bacground-buttonWhite-sec1-sec2-sec4-sec7);
  border-radius: 50%;
  position: relative;
  left: 290px;
  top: -90px;
  z-index: -1;
}

.title-big {
  font-family: Titan One;
  font-size: 46px;
  font-weight: 400;
  line-height: 52.67px;
  letter-spacing: 0.04em;
  text-align: right;
  color: var(--font-color-red);
  margin-bottom: 0px;
}

.title-small {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: right;
  color: var(--font-color-white);
  margin-top: 2px;
}

.tasty-ice-cream {
  position: relative;
  top: -40px;
  right: -50px;
}

.products-bttn:hover,
.how-its-made-bttn:hover {
  box-shadow: 0 0 5px rgb(224, 103, 103);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: var(--background-buttonRed-section2-section7);
  color: white;
}

.buy-now-bttn:hover {
  box-shadow: 0 0 5px rgb(224, 103, 103);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: var(--background-buttonRed-section2-section7);
  color: white;
}

/*Machetare mobile first */

.js-open-menu {
  display: none;
  margin-right: 20px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  /* Stiluri pentru tablete */
  .js-open-menu {
    display: flex;
    position: absolute;
    right: 170px;
    top: 55px;
  }

  .navigation-menu {
    display: none;
  }

  .hero-section {
    display: flex;
    height: 416px;
    justify-content: space-between;
  }

  .ice-cream-cone img {
    width: 143px;
    height: 336px;
    top: 40%;
    left: 62%;
  }

  .ice-cream-cone {
    position: absolute;
    top: 66.5%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: 236px;
    z-index: 1;
  }

  .tasty-ice-cream {
    top: -30px;
    right: -50px;
  }

  .tasty-ice-cream img {
    width: 190px;
    height: 150px;
    margin-top: 0px;
  }

  .hero-motto {
    width: 162px;
    height: 80px;
    margin-top: 30px;
  }

  .hero-motto h1 {
    margin: 0;
    width: 162px;
    font-size: 34px;
    line-height: 30.77px;
    letter-spacing: 0.04em;
  }

  .hero-motto h2 {
    width: 162px;
    font-size: 22px;
    line-height: 25.19px;
    letter-spacing: 0.04em;
  }

  .circle-background {
    background-color: var(--background-section2-roz-inchis);
    height: 335px;
    width: 333px;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .background-hero {
    height: 416px;
  }

  .buttons-hero {
    margin-top: 40px;
  }

  .products-bttn {
    width: 62.4px;
    height: 24px;
    font-size: 8px;
    line-height: 10.42px;
  }

  .how-its-made-bttn {
    width: 82.8px;
    height: 24px;
    font-size: 8px;
    line-height: 10.42px;
  }

  .milk-cup img {
    width: 152px;
    height: 154px;
  }

  .recipe {
    width: 114px;
    height: 48px;
    font-size: 8px;
    line-height: 12px;
  }

  .arrow-hero {
    width: 18px;
    height: 18px;
  }

  .arrow-hero svg {
    width: 10px;
    height: 10px;
    top: 2px;
    left: 4px;
  }

  .numbers {
    margin: 0 auto;
  }

  .title-big {
    font-size: 28px;
    line-height: 32.06px;
    letter-spacing: 0.04em;
  }

  .title-small {
    font-size: 8px;
    line-height: 10.42px;
    text-align: right;
  }
}

@media screen and (max-width: 520px) {
  /* Stiluri pentru telefoane mobile */
  .js-open-menu {
    display: flex;
  }

  .navigation-menu {
    display: none;
  }

  .buy-now-bttn {
    display: none;
  }

  .hero-section {
    height: 502px;
    justify-content: space-between;
  }

  .ice-cream-cone img {
    width: 171px;
    height: 410px;
    top: 80px;
    left: 117px;
    gap: 0px;
    opacity: 0px;
  }

  .ice-cream-cone {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: 236px;
    z-index: 1;
  }

  .hero-motto {
    width: 218px;
    height: 106px;
    margin-top: 120px;
  }

  .hero-motto h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 46.32px;
  }

  .hero-motto h2 {
    font-size: 26px;
    line-height: 29.77px;
    letter-spacing: 0.04em;
  }

  .circle-background {
    background-color: var(--background-section2-roz-inchis);
    height: 344px;
    width: 344px;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: none;
  }

  .background-hero {
    height: 502px;
  }

  .buttons-hero {
    margin-top: 40px;
  }

  .products-bttn {
    width: 62.4px;
    height: 24px;
    font-size: 8px;
    line-height: 10.42px;
  }

  .how-its-made-bttn {
    width: 82.8px;
    height: 24px;
    font-size: 8px;
    line-height: 10.42px;
  }

  .milk-and-recipe {
    display: none;
  }

  .right-hero {
    display: none;
  }

  .modal {
    display: flex;
  }
}
