/* Hero Section */

.hero {
  background-color: var(--black);
  color: white;
  height: 1143px;
}

.hero img {
  border-radius: 10px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.hero-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-top: 69px;
  margin-bottom: 60px;
}

.hero-container .swiper {
  margin-left: 0;
}

.swiper-container {
  height: 200px;
  overflow: hidden;
}

.swiper-wrapper {
  border-radius: 15px;
}

.swiper-slide {
  width: 266px;
}

.swiper-buttons {
  display: flex;
  height: 100%;
  width: 80px;
  gap: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 502px !important;
  margin-top: 20px !important;
  width: 32px !important;
  height: 32px !important;
  left: auto !important;
  right: auto !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  margin-left: 50px !important;
}

.hero-text {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 92px;
  width: 248px;
  margin-left: auto;
  margin-right: 0;
}

.hero-img {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 394px;
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img {
    height: 394px;
    width: 676px;
  }
}
