.mobile-menu-container{
position:fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #0e1823;
z-index: 999;
transform: translateX(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container.is-open{
  transform: translateX(0%);
}

.mobile-menu-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 335px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  margin-top: 16px;
  margin-bottom: auto;
  margin-left: 20px;
}

.mobile-logo{
  padding: 4px 6px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
  color: #1B414B;
}

.mobile-menu-exit{
background-color: transparent;
  border: 0 solid transparent;
  border-radius: 8px;
  padding: 0;
  line-height: 0;
  fill: #055545;
  margin-right: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-nav{
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;

}

.mobile-menu-list{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

 .mobile-menu-item{
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
  text-align: center;
  flex-shrink: 0;
 }

 .mobile-menu-link{
  display: block;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 11.7px;
  text-align: center;
  color: #FBFBFB;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.about-link {
  background-color: #1b414b;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #1b414b;
 
}

.mobile-social-links-list{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding-bottom: 40px;
}
.mobile-social-item{
  width: 24px;
  height: 24px;
  padding: 3px 3px 2px 2px;
  background-color: transparent;
}

.mobile-social-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-social-link:hover,
.mobile-social-link:focus {
  fill: #fbfbfbcc;
}

