  .new_watches_section {
    max-width: 100%;
    font-family: Epilogue;
    margin:auto;
    box-sizing: border-box;
  }
  .new_watches_div {
    max-width: 1400px;
  }
  .new_watches__subtitle {
    font-family: "Epilogue", Calibri, Tahoma;
    font-size: 12px;
    line-height: 14px;
    color: rgba(20,20,20,0.66);

  }
  .new_watches__main-text {
    font-family: "Epilogue", Calibri, Tahoma;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
  }
  .new_watches__main-text-box {
    width: 448px;
  }
  .new_watches__main_box {
    display: flex;
    flex-direction: column;
  }
  .new_watches__main_box_images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .new_watches__main_box_image {
    width: 576px;
    height: 422px;
  }

  @media screen and (max-width: 768px) {
    .new_watches__main-text {
      font-size: 32px;
    }
    .new_watches__main_box_images {
      flex-direction: column;
    }
    .new_watches__main_box_image {
      width: 335px;
      height: 260px;
    }
    .new_watches__main-text-box {
      width: 335px;
    }
  }

  @media screen and (max-width: 1280px) {
    .new_watches__main-text {
      font-size: 40px;
    }
    .new_watches__main_box_image {
      width: 342px;
      height: 260px;
    }
  }


