@import url(styles.scss);

.new-watches{
    width: 1440px;
    height: 772px;
    top: 3230px;
    left: -1px;
    padding: 80px 132px 80px 132px;
    gap: 8px;
    box-sizing: border-box;
}

.mini-title{
    width: 85px;
    height: 14px;
    gap: 0px;
    font-family:Epilogue sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(20, 20, 20, 0.4);
    opacity: 40%;
    display: inline-block;
}

.section-title{
    width: 448px;
    height: 88px;
    opacity: 0px;
    font-family: Epilogue sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1E2827;
    display: flex;
    margin-bottom: 50px;
}

.images{
    width: 1176px;
    height: 422px;
    //gap: 24px;
    opacity: 0px;
}
.paragraph{
    width: 1176px;
    height: 590px;
    gap: 80px;
    opacity: 0px;
    flex-wrap: wrap;
}

.watches-img{
    width: 576px;
    max-height: 422px;
    gap:24px;
    display: inline;
    justify-content: space-around;
    align-items: center;
    padding-right :20px;
}

@media (max-width: 600px) {
    .section-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .watches-img {
        width: 85%;
        max-width: 85%;
        margin-bottom: 10px;
    }

    .paragraph {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .section-title {
        font-size: 40px;
    }

    .new-watches {
        padding: 60px 40px;
    }

    .paragraph {
        justify-content: space-around;
    }

    .watches-img {
        max-width: 48%;
    }
}

@media screen and (min-width: 1280px) {
    .section-title {
        font-size: 40px;
    }

    .new-watches {
        padding: 80px 132px;
    }

    .paragraph {
        justify-content: center;
    }

    .watches-img {
        max-width: 45%;
    }
}

