@media screen and (min-width: 375px) {   

ul {
    padding: 0px;
}
<<<<<<< Updated upstream:src/css/mobile/advantages.css
=======
.advantages li {
    list-style-type: none;
}
@media screen and (min-width: 375px) {






>>>>>>> Stashed changes:src/css/tablet/advantages.css

.advantages {
    width: 375px;
    height: 49.375rem;
    background-color: rgba(30, 24, 35, 1);
    padding-left: 1.25rem;
    margin-left: auto;
    margin-right: auto;

}

.advantages__li {
    list-style-type: none;
}
.advantages__svg {
<<<<<<< Updated upstream:src/css/mobile/advantages.css
    width: 63.349334px;
    height: 63.349334px;
=======
    width: 4rem;
    height: 4rem;
>>>>>>> Stashed changes:src/css/tablet/advantages.css
    border-radius: 50%;
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
    padding: 0.938rem;
    margin-top: 1.25rem;
}

.advantages__tittle {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.371rem;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 1.375rem 0rem 1.125rem 0rem;
}

.advantages__text {
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.067rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 0rem;

}
}

<<<<<<< Updated upstream:src/css/mobile/advantages.css
@media screen and (min-width: 376px) and (max-width: 768px) {
    
} 
=======
/* for tablet */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

 .advantages {
    width: 768px;
    height: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    
 }
 .advantages ul {
   
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
 }
 .advantages__li {
    
 }
}
>>>>>>> Stashed changes:src/css/tablet/advantages.css
