.advantages {
    width: 375px;
    height: auto;
    background-color: rgba(30, 24, 35, 1);
    padding: 1.25rem;
    padding-left: 1.25rem;
    margin-left: auto;
    margin-right: auto;

}
.advantages ul {
    padding: 0px;
    list-style: none;
}

.advantages__svg {
    width: 63.349334px;
    height: 63.349334px;
    border-radius: 50%;
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
    padding: 0.938rem;
    margin-top: 1.25rem;
}
.advantages__text {
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.067rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 0rem;

}
.advantages__tittle {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.371rem;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 1.375rem 0rem 1.125rem 0rem;
}
@media screen and (min-width: 375px) and (max-width: 768px) {   

.advantages {
    width: 375px;
    height: auto;
    background-color: rgba(30, 24, 35, 1);
    padding: 1.25rem;
    padding-left: 1.25rem;
    margin-left: auto;
    margin-right: auto;

}
.advantages ul {
    padding: 0px;
    list-style: none;
}

.advantages__svg {
    width: 63.349334px;
    height: 63.349334px;
    border-radius: 50%;
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
    padding: 0.938rem;
    margin-top: 1.25rem;
}

.advantages__tittle {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.371rem;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 1.375rem 0rem 1.125rem 0rem;
}

.advantages__text {
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.067rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 0rem;

}

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .advantages {
        width: 768px;
        height: 620px;
          background-color: rgba(30, 24, 35, 1);
    
    padding: 50px 32px 0px 32px;
    margin-left: auto;
    margin-right: auto;
    }

    .advantages ul {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        
}

.advantages__svg {
    width: 63.349334px;
    height: 63.349334px;
    border-radius: 50%;
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
    padding: 0.938rem;
    margin-top: 0rem;
}
.advantages__tittle {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.371rem;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 1.375rem 0rem 1.125rem 0rem;
}

.advantages__text {
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.067rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 0rem;

}

} 

/* for descktop: advantages */
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1200px;
    height: 344px;
        background-color: rgba(30, 24, 35, 1);
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
  }
.advantages ul {
    width: 1100px;
    height: 244px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
        gap: 70px;
     
}
.line {
    
}
.advantages__svg {
  margin-top: 0px;
}

.for-descktop {
     width: 326px;
     border-right: 1px solid rgba(255, 255, 255, 0.5);
     height: 124px;

    }





}
