@import url(../mobile/variabile-temp.css);

body {
  font-family: var(--font-main);
  background-color: var(--color-pearl);
}

@media screen and (min-width: 769px) {
.top-sellers__container{
  max-width: 75rem;
  margin:0 auto;
}

  .top-sellers__mobile-hide{
    display: none;
  }

  .top-sellers__section {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  .top-sellers__title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.03rem;
    margin-bottom: 2rem;
    color: var(--color-coal);
    text-align: center;
  }
  .top-sellers__title span {
    color: var(--color-orange);
  }

  .top-seller__img-container{
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .top-sellers__img {
    max-width: 21.5rem;
    width: 344px;
    height: auto;
    border-radius: 15px;
  }

  .top-sellers__sell-container{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .top-sellers__desc {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: -0.02rem;
    color: var(--color-coal);
    width: 25.438rem;
    align-self: flex-start;
  }

  .top-sellers__btn {
    width: 7.5rem;
    height: 2.563rem;
    border-radius: 6.25rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    color: var(--color-white);
    background-color: var(--color-orange);
    border: none;
  }

  .seller-modal__backdrop {
    background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.6)
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80rem;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
    display: flex;
    justify-content: center;
  }

  .seller-modal {
    position: relative;
    width: 38.063rem;
    height: 66.125rem;
    background-color: var(--color-pearl);
    transition-duration: 150ms;
    overflow: hidden;
    border-radius: 15px;
  }

  
  .is-hidden {
    display: none;
  }


  .seller-modal__form-close {
    border: none;
    background-color: var(--color-pearl);
    position: absolute;
    padding: 0;
    top: 0.875rem;
    right: 0.875rem;
  }

  .close-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-coal);
    stroke: var(--color-coal);
  }

  .top-sellers__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
  }

  .seller-modal__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.03rem;
    color: var(--color-coal);
    margin-bottom: 2rem;
    align-self: center;
  }
  .seller-modal__title span {
    color: var(--color-orange);
  }

  .seller-modal__option-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  .seller-modal__option-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    height: 12.25rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-borders);
    border-radius: 15px;
  }

  .seller-modal__option-btn {
    width: 6rem;
    height: 2.063rem;
    border: 1px solid var(--color-borders);
    border-radius: 6.25rem;
  }

  .seller-modal__image {
    width:7.5rem;
  }

  .seller-modal__personal-info-box{
    display: flex;
    align-items: flex-end;
    gap:.3rem;
  }

  

  .top-sellers__form label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    width: 16.438rem;
    margin-bottom: 1.125rem;
  }

  .seller-modal__input-field {
    width: 32.063rem;
    height: 4.125rem;
    border: 1.5px solid var(--color-borders);
    border-radius: 8px;
    box-shadow: 0px 5.44px 5.44px 0px #00000008;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: -0.02rem;
    padding: 0 0.875rem;
  }
  .seller-modal__personal-info-input{
    max-width:15.375rem;
  }
  .seller-modal__input-field::placeholder {
    color: var(--color-input-text);
  }
  .input-space {
    margin-bottom: 1.125rem;
  }
  .seller-modal__icon-card {
    position: absolute;
    top: 2.8rem;
    right: -90%;
    width: 2rem;
    height: 1.313rem;
  }

  .seller-modal__phone-icon {
    width: 1.5rem;
    height: 1.125rem;
  }

  .seller-modal__phone-list {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 2.8rem;
    left: 0.875rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.02em;
  }

  .seller-modal__phone-list::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 4.375rem;
    width: 2px;
    height: 1.875rem;
    background-color: var(--color-borders);
  }

  .phone-space {
    padding-left: 5.938rem;
  }

  .seller-modal__comment-field {
    position: relative;
    width: 32.063rem;
    height: 8.6rem;
    border: 1.5px solid var(--color-borders);
    border-radius: 0.5rem;
    padding: 0.875rem;
  }
  .seller-modal__comment-field::placeholder {
    color: var(--color-input-text);
  }

  .seller-modal__btn {
    width: 7.5rem;
    height: 2.563rem;
    border-radius: 6.25rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    color: var(--color-white);
    background-color: var(--color-orange);
    border: none;
    align-self: flex-start;
  }
  .hide{
    display: none;
  }
}
