<section class="about-us-section" id="about-us">
    <div class="container">
        <div class="about-us__texts">
            <h3>About us</h3>
            <div class="about-us__text">
                <p>
                    Welcome to our premium watch collection, where luxury and style
                    <br />
                    meet functionality and precision. Our selection of timepieces
                    <br />
                    embodies the very best in Swiss craftsmanship and engineering,
                    <br />
                    ensuring that you'll always have a reliable and stylish accessory
                    on <br />
                    your wrist.
                </p>
                <p>
                    At our premium watch collection, we believe that a watch <br />
                    is more than just a timekeeping device it's a statement <br />
                    piece that reflects your personality and style. So why <br />
                    settle for anything less than the best? Browse our <br />
                    collection today and discover the perfect watch for you.
                </p>
            </div>
        </div>
        <div class="about-us__img">
            <img src="./partials/images/watchspot.gif" alt="Gif watch" width="892" />
        </div>
    </div>
</section>