<section id="about-us-section" class="about-section">
    <div class="about-container">
        <div class="about-text-container">
            <p class="about-section-subtitle">
                About us
            </p>
            <h2 class="about-title">
                OUR CRAFTSMANSHIP: CREATING UNIQUE HANDMADE FURNITURE
            </h2>
            <p class="about-paragraph">
                Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life
                through our skilled craftsmanship.
            </p>
            <div class="reasons-container">
                <ul class="about-reasons">
                    <li class="reason">
                        <h3 class="reason-title">5+</h3>
                        <p class="reason-paragraph">Years of experience creating handcrafted furniture</p>
                    </li>
                    <li class="reason">
                        <h3 class="reason-title">100%</h3>
                        <p class="reason-paragraph">Sustainably sourced materials used in all of our furniture</p>
                    </li>
                    <li class="reason">
                        <h3 class="reason-title">500+</h3>
                        <p class="reason-paragraph">Unique furniture designs crafted by our skilled artisans</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="about-image-container">
            <img srcset="./images/about-couch.jpg 1x, ./images/about-couch@2.jpg 2x," src="./images/about-couch.jpg"
                alt="photo couch" width="536" height="540" />
        </div>
    </div>
</section>