<section class="about-section" id="about-section">
  <div class="container-about">
    <h3 class="about-h3">TRADITION AND LOVE</h3>
    <h1 class="about-h1">HOW IT'S MADE?</h1>
    <div class="main-div">
      <div class="cow-img">
        <img
          src="./images/cow png.png"
          alt=" cow and milk "
          width="501px"
          height="501px"
        />
      </div>
      <div>
        <div class="paragrafs">
          <p>
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p>
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>
        </div>
        <div class="modal is-hidden" data-modal>
          <div class="modal-content">
            <button class="close-btn" data-modal-close>
              <svg
                class="close-icon"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>

            <p>
              From classic favorites like velvety vanilla and rich chocolate to
              innovative blends that tantalize your taste buds, there's a flavor
              for every craving and mood.
            </p>

            <p>
              Explore our ever-evolving menu of artisanal delights, where
              creativity knows no bounds. But we're not just about the ice
              cream; it's about the experience.
            </p>

            <p>
              Step into our welcoming parlor, where the aroma of freshly made
              waffle cones fills the air, and friendly faces await to guide you
              through your frozen adventure.
            </p>

            <p>
              Whether you're celebrating a special occasion, enjoying a
              leisurely stroll, or simply satisfying a sweet tooth, our scoop
              artisans are here to make every visit unforgettable.
            </p>

            <p>
              And for those moments when you crave a bit of indulgence at home,
              our online store brings the magic straight to your doorstep.
            </p>
            <p>
              Join us in celebrating the joy of ice cream, where every scoop
              tells a story and every bite is a moment to savor. Come discover
              why our ice cream isn't just dessert—it's an experience to
              cherish.
            </p>

            <div class="about-modal-div">
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-1"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-2"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-3"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-4"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-5"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-6"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-7"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-8"></use>
              </svg>
              <svg class="modal-svg-ice-cream">
                <use href="./images/icon-about.svg#about-ice-cream-9"></use>
              </svg>
            </div>
          </div>
        </div>
        <button type="button" class="read-more-btn" data-modal-open>
          Read More
          <svg id="svg-btn">
            <use href="./images/icon-about.svg#btn-title-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script src="./about-modal.js"></script>
</section>
