<section class="advantages-section">
    <div class="big-container">
    
        <h2 class="visually-hidden">Advantages</h2>

        <div class="advantages-container">
            <ol class="advantages-list">
                <li class="advantage-box">
                    <span class="number">01</span>
                    <div class="middle-line"></div>
                    <p class="text">Swimming and water sports: try your hand at water skiing</p>
                </li> 
                <li class="advantage-box">
                    <span class="number">02</span>
                    <div class="middle-line"></div>
                    <p class="text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantage-box">
                    <span class="number">03</span>
                    <div class="middle-line"></div>
                    <p class="text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="advantage-box">
                    <span class="number">04</span>
                    <div class="middle-line"></div>
                    <p class="text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
            </ol>
        </div>

        <img
                src="/src/image/advantages/advantages-mob.jpg"
                srcset="
                    /src/image/advantages/advantages-mob.jpg 1x,
                    /src/image/advantages/advantages-mob@2x.jpg 2x,
                    /src/image/advantages/advantages-tab.jpg 768w,
                    /src/image/advantages/advantages-tab@2x.jpg 1536w,
                    /src/image/advantages/advantages-desc.jpg 1280w,
                    /src/image/advantages/advantages-desc@2x.jpg 2560w"
                sizes="(max-width: 767px) 100vw, 
                       (min-width: 768px) and (max-width: 1279px) 50vw, 
                       (min-width: 1280px) 33vw"
                alt="Advantages Image"
                class="advantages-image"
            />
    </div>
</section>
                





