<!-- Benefits section -->
<section class="benefits_section">
    <div class="container">
        <ul>
            <!-- group 1 -->
            <li>
                <div class="benefits_group">
                    <svg class="benefits_svg"><use href="./images/symbol-defs.svg#icon-fluent-emoji-high-contrast_chocolate-bar"></use></svg>
                    <h2>Unsurpassed taste</h2>
                    <p>Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>
                </div>
            </li>
            <!-- group 2 -->
            <li>      
                <div class="benefits_group">
                    <svg class="benefits_svg"><use href="./images/symbol-defs.svg#icon-Coin"></use></svg>
                     <h2>Affordable price</h2>
                     <p>Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and indulge in affordable luxury today.</p>
               </div>

            </li>
             <!-- group 3 -->
            <li>
                <div class="benefits_group">
                    <svg class="benefits_svg"><use href="./images/symbol-defs.svg#icon-la_utensil-spoon"></use></svg>
                     <h2>Own production</h2>
                     <p>We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.</p>
               </div>
            </li>
        </ul>
    </div>
</section>

<!-- Item section -->
<section class="item_section">
    <div class="container">
        <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION</h2>
        <p>At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From sourcing the finest ingredients to carefully crafting each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        <div class="item_images">

            <!-- chololate image -->
            <div>
                <img src="./images/kisspng-milk-white-chocolate-hot-chocolate-chocolate-bar.jpg" alt="chocolate">
                <div>
                    <h3>Milk Chocolate</h3>
                    <button>Chocolate</button>
                    <button>The Benefits</button>
                    <p>Milk chocolate is a solid chocolate confectionery containing cocoa, sugar, and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Today, four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                </div>
            </div>
            
            <!-- milk bottle image -->
            <div>
                <img src="./images/kisspng-milk.jpg" alt="milk bottle">
                <div>
                    <h3>Milk</h3>
                    <button>Milk</button>
                    <button>The Benefits</button>
                    <p>Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they can digest solid food. Early-lactation milk, called colostrum, contains antibodies that strengthen the immune system.</p>
                </div> 
            </div>

            <!-- almonds image -->
            <div>
                <img src="./images/kisspng-almonds.jpg" alt="almonds">
                <div>
                    <h3>Nuts</h3>
                    <button>Nuts</button>
                    <button>The Benefits</button>
                    <p>Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                </div>   
            </div>

            <!-- sweet chololate image -->
            <div>
                <img src="./images/semi-sweet-chocolate.jpg" alt="sweet chocolate">
                <div>
                    <h3>Semi-Sweet Chocolate</h3>
                    <button>Sweet Chocolate</button>
                    <button>The Benefits</button>
                    <p>Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to understand this type of chocolate is to compare it to other types. Semi-sweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste, whereas milk chocolate is sweeter.</p>
                </div>
            </div>
        </div>
    </div>
</section>


