<section class="bestsellers" id="bestsellers-section">
  <div class="bestsellers-container">
    <h2 class="bestsellers-header">BESTSELLERS</h2>
    <ul class="bestsellers-list">
      <li class="card-item">
        <div class="card-1">
          <div class="card-1-mob">
            <img
              src="./images/card-1.jpg"
              class="card1-photo"
              width="343"
              alt="Elegant bedroom"
            />
            <div class="bs-item-desc">
              <p class="subtitle">The modern platform bed</p>
              <p class="price">750$</p>
            </div>
          </div>
          <div class="card-1-tab">
            <img
              src="./images/card-1-tab.jpg"
              class="card1-photo"
              width="704"
              alt="Elegant bedroom"
            />
            <div class="bs-item-desc">
              <p class="subtitle">The modern platform bed</p>
              <p class="price">750$</p>
            </div>
          </div>
          <div class="card-1-desktop">
            <img
              src="./images/card-1-desktop.jpg"
              class="card1-photo"
              width="536"
              height="489"
              alt="Elegant bedroom"
            />
            <div class="bs-item-desc">
              <p class="subtitle">The modern platform bed</p>
              <p class="price">750$</p>
            </div>
          </div>
        </div>
      </li>
      <li class="card-item">
        <div class="card-2">
          <ul class="bs-list">
            <li class="bs-item">
              <img
                src="./images/product-10.jpg"
                class="bestsellers-photo"
                width="343"
                alt="Lounge Chair"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The Cozy Lounge Chair</p>
                <p class="price">230$</p>
              </div>
            </li>
            <li class="bs-item">
              <img
                src="./images/product-11.jpg"
                class="bestsellers-photo"
                width="343"
                alt="Industrial accent chair"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The industrial accent chair</p>
                <p class="price">250$</p>
              </div>
            </li>
            <li class="bs-item">
              <img
                src="./images/product-12.jpg"
                class="bestsellers-photo"
                width="343"
                alt="Sleek stand"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The sleek stand</p>
                <p class="price">300$</p>
              </div>
            </li>
            <li class="bs-item">
              <img
                src="./images/product-13.jpg"
                class="bestsellers-photo"
                width="343"
                alt="Minimalist sofa"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The minimalist sofa</p>
                <p class="price">650$</p>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
