<section class="bestsellers" id="bestsellers-section">
  <!-- bestseller mob -->
  <div class="bestsellers-mob">
    <h2 class="bestsellers-header">BESTSELLERS</h2>
    <div class="bs-container">
      <ul class="mob-list">
        <li class="mob-item">
          <img
            src="./images/product-4-mob.jpg"
            class="card-photo"
            width="343"
            alt="Elegant bedroom"
          />
          <div class="bs-item-desc">
            <p class="subtitle">The modern platform bed</p>
            <p class="price">750$</p>
          </div>
        </li>
        <li class="mob-item">
          <img
            src="./images/product-5-mob.jpg"
            class="card-photo"
            width="343"
            alt="Elegant bedroom"
          />
          <div class="bs-item-desc">
            <p class="subtitle">The Cozy Lounge Chair</p>
            <p class="price">230$</p>
          </div>
        </li>
        <li class="mob-item">
          <img
            src="./images/product-6-mob.jpg"
            class="card1-photo"
            width="343"
            alt="Elegant bedroom"
          />
          <div class="bs-item-desc">
            <p class="subtitle">The industrial accent chair</p>
            <p class="price">250$</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- bestsellers tablet -->
  <div class="bestsellers-tab">
    <div class="bs-container">
      <h2 class="bestsellers-header">BESTSELLERS</h2>
      <ul class="tab-list">
        <li class="tab-item">
          <img
            src="./images/product-9-desk.jpg"
            class="card1-photo"
            width="704"
            alt="Elegant bedroom"
          />
          <div class="bs-item-desc">
            <p class="subtitle">The modern platform bed</p>
            <p class="price">750$</p>
          </div>
        </li>
        <li class="tab-item">
          <ul class="bs-tab-list">
            <li class="bs-tab-item">
              <img
                src="./images/product-7-tab.jpg"
                class="bestsellers-photo"
                width="336"
                alt="Lounge Chair"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The Cozy Lounge Chair</p>
                <p class="price">230$</p>
              </div>
            </li>
            <li class="bs-tab-item">
              <img
                src="./images/product-8-tab.jpg"
                class="bestsellers-photo"
                width="336"
                alt="Industrial accent chair"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The industrial accent chair</p>
                <p class="price">250$</p>
              </div>
            </li>
            <li class="bs-tab-item">
              <img
                src="./images/product-9-tab.jpg"
                class="bestsellers-photo"
                width="336"
                alt="Sleek stand"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The sleek stand</p>
                <p class="price">300$</p>
              </div>
            </li>
            <li class="bs-tab-item">
              <img
                src="./images/product-10-tab.jpg"
                class="bestsellers-photo"
                width="336"
                alt="Minimalist sofa"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The minimalist sofa</p>
                <p class="price">650$</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- bestsellers desktop -->
  <div class="bestsellers-desk">
    <div class="bs-container">
      <h2 class="bestsellers-header">BESTSELLERS</h2>
      <ul class="desk-list">
        <li class="desk-item">
          <img
            src="./images/product-9-desk.jpg"
            class="card1-photo"
            width="536"
            alt="Elegant bedroom"
          />
          <div class="bs-item-desc">
            <p class="subtitle">The modern platform bed</p>
            <p class="price">750$</p>
          </div>
        </li>
        <li class="desk-item">
          <ul class="bs-desk-list">
            <li class="     ">
              <img
                src="./images/product-10-desk.jpg"
                class="bestsellers-photo"
                width="258"
                alt="Lounge Chair"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The Cozy Lounge Chair</p>
                <p class="price">230$</p>
              </div>
            </li>
            <li class="bs-desk-item">
              <img
                src="./images/product-11-desk.jpg"
                class="bestsellers-photo"
                width="258"
                alt="Industrial accent chair"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The industrial accent chair</p>
                <p class="price">250$</p>
              </div>
            </li>
            <li class="bs-desk-item">
              <img
                src="./images/product-12-desk.jpg"
                width="258"
                alt="Sleek
              stand"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The sleek stand</p>
                <p class="price">300$</p>
              </div>
            </li>
            <li class="bs-desk-item">
              <img
                src="./images/product-13-desk.jpg"
                class="bestsellers-photo"
                width="258"
                alt="Minimalist sofa"
              />
              <div class="bs-item-desc">
                <p class="subtitle">The minimalist sofa</p>
                <p class="price">650$</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
