<section class="catalog-section">
  <div class="catalog_1">
    <h2 class="common-title">Catalog</h2>
    <ul class="row_watches">
      <li class="row_row">
        <div class="overlay_image">
          <img src="../src/images/watch1.jpg" alt="Tube watch" width="276" />
          <div class="overlay">
            <p class="overlay_p">
            <p class="overlay_heading">
              Description </p>Richly detailed with an understated design - the
              Police Men’s Greenlane watch. <p class="overlay_heading">DETAILS & FEATUREStion</p>  Gender: man
              Size: 46x54.5mm Case Colour: Steel Band Material: Metal Case
              Material: Metal Features: Multifunction Water Resistant: 5 (ATM)
              Band Colour: Steel
            </p>
          </div>
        </div>

        <p class="details_watch">
          Tube Watch S42 Date Steel With Black Case <br /><span
            class="watch_price"
            >€395</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch2.jpg" alt="Police watch" width="276" />
        <p class="details_watch">
          Avondale Watch Police For Men <br /><span class="watch_price"
            >€800</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch3.jpg" alt="Diver watch" width="276" />
        <p class="details_watch">
          Diver 300M Co-Axial Master Chronometer Chronograph <br /><span
            class="watch_price"
            >€600</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch4.jpg" alt="Tube watch" width="276" />
        <p class="details_watch">
          Diver 300M Co-Axial Master Chronometer <br /><span class="watch_price"
            >€1400</span
          >
        </p>
      </li>
    </ul>
    <ul class="row_watches">
      <li>
        <img src="../src/images/watch5.jpg" alt="Taman watch" width="276" />
        <p class="details_watch">
          Taman Watch By Police For Men <br /><span class="watch_price"
            >€500</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch6.jpg" alt="Malawi watch" width="276" />
        <p class="details_watch">
          Malawi Watch Police For Men <br /><span class="watch_price"
            >€555</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch7.jpg" alt="Diver watch" width="276" />
        <p class="details_watch">
          Diver 300M Co-Axial Master Chronometer <br /><span class="watch_price"
            >€1200</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch8.jpg" alt="Greenlane watch" width="276" />
        <p class="details_watch">
          Greenlane Watch By Police For Men <br /><span class="watch_price"
            >€1000</span
          >
        </p>
      </li>
    </ul>
    <ul class="norow_watches">
      <li>
        <img src="../src/images/watch9.jpg" alt="Squardrc watch" width="276" />
        <p class="details_watch">
          Squardrc 5402 Chrono <br /><span class="watch_price">€359</span>
        </p>
      </li>
      <li>
        <img src="../src/images/watch10.jpg" alt="Diver300 watch" width="276" />
        <p class="details_watch">
          Diver 300M Co‑Axial Master Chronometer Chronograph <br /><span
            class="watch_price"
            >€400</span
          >
        </p>
      </li>
      <li>
        <img src="../src/images/watch11.jpg" alt="Citizen watch" width="276" />
        <p class="details_watch">
          Citizen <br /><span class="watch_price">€519</span>
        </p>
      </li>
      <li>
        <img
          src="../src/images/watch12.jpg"
          alt="Armani exchange watch"
          width="276"
        />
        <p class="details_watch">
          Armani Exchange <br /><span class="watch_price">€400</span>
        </p>
      </li>
    </ul>
    <button type="button" class="buy_button">BUY NOW</button>
  </div>
</section>
