<section id="catalog" class="section catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <!--Card 1-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch01-desk.jpg"
              srcset="
                ./images/catalog/watch01-desk.jpg        1x,
                ./images/catalog/watch01-desk.jpg@2x.jpg 2x
              "
              alt="Tube Watch S42 Date Steel With Black Case"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Tube Watch S42 Date Steel With Black</p>
            <span class="price">€500</span>
          </div>
        </a>
      </li>
      <!--Card 2-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch02-desk.jpg"
              srcset="
                ./images/catalog/watch02-desk.jpg        1x,
                ./images/catalog/watch02-desk.jpg@2x.jpg 2x
              "
              alt="Avondale Watch Police For Men"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Avondale Watch Police For Men</p>
            <span class="price">€800</span>
          </div>
        </a>
      </li>
      <!--Card 3-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch03-desk.jpg"
              srcset="
                ./images/catalog/watch03-desk.jpg        1x,
                ./images/catalog/watch03-desk.jpg@2x.jpg 2x
              "
              alt="Diver 300M CoAxial Master Chronometer Chronograph"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">
              Diver 300M Co&#8208;Axial Master Chronometer
            </p>
            <span class="price">€600</span>
          </div>
        </a>
      </li>
      <!--Card 4-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch04-desk.jpg"
              srcset="
                ./images/catalog/watch04-desk.jpg        1x,
                ./images/catalog/watch04-desk.jpg@2x.jpg 2x
              "
              alt="Diver 300M CoAxial Master Chronometer"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">
              Diver 300M Co&#8208;Axial Master Chronometer
            </p>
            <span class="price">€1400</span>
          </div>
        </a>
      </li>
      <!--Card 5-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch05-desk.jpg"
              srcset="
                ./images/catalog/watch05-desk.jpg        1x,
                ./images/catalog/watch05-desk.jpg@2x.jpg 2x
              "
              alt="Taman Watch By Police For Men"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Taman Watch By Police For Men</p>
            <span class="price">€500</span>
          </div>
        </a>
      </li>
      <!--Card 6-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <svg class="catalog-icons" width="24px" height="24px">
              <use href="./images/catalog/icons.svg#icon-heart"></use>
            </svg>
            <img
              src="./images/catalog/watch06-desk.jpg"
              srcset="
                ./images/catalog/watch06-desk.jpg        1x,
                ./images/catalog/watch06-desk.jpg@2x.jpg 2x
              "
              alt="Malawi Watch Police For Men"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Malawi Watch Police For Men</p>
            <span class="price">€555</span>
          </div>
        </a>
      </li>
      <!--Card 7-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch07-desk.jpg"
              srcset="
                ./images/catalog/watch07-desk.jpg        1x,
                ./images/catalog/watch07-desk.jpg@2x.jpg 2x
              "
              alt="Diver 300M Co-Axial Master
              Chronometer"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">
              Diver 300M Co&#8208;Axial Master Chronometer
            </p>
            <span class="price">€1200</span>
          </div>
        </a>
      </li>
      <!--Card 8-->
      <li class="catalog-list-item">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch08-desk.jpg"
              srcset="
                ./images/catalog/watch08-desk.jpg        1x,
                ./images/catalog/watch08-desk.jpg@2x.jpg 2x
              "
              alt="Greenlane Watch By Police For Men"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Greenlane Watch By Police For Men</p>
            <span class="price">€1000</span>
          </div>
        </a>
      </li>
      <!--Card 9-->
      <li class="catalog-list-item blockmob">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch09-desk.jpg"
              srcset="
                ./images/catalog/watch09-desk.jpg        1x,
                ./images/catalog/watch09-desk.jpg@2x.jpg 2x
              "
              alt="Greenlane Watch By
              Police For Men"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Squardrc 5402 Chrono</p>
            <span class="price">€359</span>
          </div>
        </a>
      </li>
      <!--Card 10-->
      <li class="catalog-list-item blockmob">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch10-desk.jpg"
              srcset="
                ./images/catalog/watch10-desk.jpg        1x,
                ./images/catalog/watch10-desk.jpg@2x.jpg 2x
              "
              alt="Squardrc 5402 Chrono"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">
              Diver 300M Co&#8208;Axial Master Chronometer Chronograph
            </p>
            <span class="price">€400</span>
          </div>
        </a>
      </li>
      <!--Card 11-->
      <li class="catalog-list-item blockmob">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch11-desk.jpg"
              srcset="
                ./images/catalog/watch11-desk.jpg        1x,
                ./images/catalog/watch11-desk.jpg@2x.jpg 2x
              "
              alt="Citizen"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Citizen</p>
            <span class="price">€519</span>
          </div>
        </a>
      </li>
      <!--Card 12-->
      <li class="catalog-list-item blockmob">
        <a href="" class="catalog-card">
          <svg class="catalog-icons" width="24px" height="24px">
            <use href="./images/catalog/icons.svg#icon-heart"></use>
          </svg>
          <div class="overlay">
            <img
              src="./images/catalog/watch12-desk.jpg"
              srcset="
                ./images/catalog/watch12-desk.jpg        1x,
                ./images/catalog/watch12-desk.jpg@2x.jpg 2x
              "
              alt="Diver
              300M CoAxial Master Chronometer Chronograph"
              width="276"
              height="325"
            />
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURESTION</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-description">
            <p class="text-description">Armani Exchange</p>
            <span class="price">€400</span>
          </div>
        </a>
      </li>
    </ul>
    <button
      data-modal-open
      type="button"
      class="catalog-button data-modal-open"
    >
      Buy now
    </button>
  </div>
</section>
