

<section class="catalog">

<h2 class="catalog-title">
    Catalog
</h2>
<ul class="main-list">
    <!--WATCH 1-->
    <li class="list-element">
        <img class="watch-image" src="./images/tube@1x.jpg" srcset="./images/tube@1x.jpg 1x, ./images/tube@2x.jpg 2x" alt="Tube watch" >
        <p class="info-name">
            Tube Watch S42 Date Steel With Black Case
        </p>
        <span class="info-price">
        €395
        </span>
    </li>
    <!--WATCH 2-->
     
    <li class="list-element">
<img src="./images/avondale@1x.jpg" srcset="./images/avondale@1x.jpg 1x, ./images/avondale@2x.jpg 2x" alt="Avondale watch">
<p>
Avondale Watch Police For Men
</p>
<span>
    €800
</span>
    </li>
        <!--WATCH 3-->
        
    <li class="list-element">
<img src="./images/firstdiver@1x.jpg" srcset="./images/firstdiver@1x.jpg 1x, ./images/firstdiver@2x.jpg 2x" alt="Diver watch">
<p>
Diver 300M Co‑Axial Master Chronometer Chronograph</p>
<span>
    €600
</span>
    </li>
        <!--WATCH 4-->
           
    <li class="list-element">
<img src="./images/seconddiver@1x.jpg" srcset="./images/seconddiver@1x.jpg 1x, ./images/seconddiver@2x.jpg 2x" alt="Diver watch">
<p>
Diver 300M Co-Axial Master Chronometer</p>
<span>
    €1400
</span>
    </li>
        <!--WATCH 5-->
               
    <li class="list-element">
<img src="./images/taman@1x.jpg" srcset="./images/taman@1x.jpg 1x, ./images/taman@2x.jpg 2x" alt="Taman watch">
<p>
Taman Watch By Police For Men
</p>
<span>
    €500
</span>
    </li>
        <!--WATCH 6-->
                    
    <li class="list-element">
<img src="./images/malawi@1x.jpg" srcset="./images/malawi@1x.jpg 1x, ./images/malawi@2x.jpg 2x" alt="Malawi watch">
<p>
Malawi Watch Police For Men</p>
<span>
    €555
</span>
    </li>
        <!--WATCH 7-->
                      
    <li class="list-element">
<img src="./images/thirddiver@1x.jpg" srcset="./images/thirddiver@1x.jpg 1x, ./images/thirddiver@2x.jpg 2x" alt="Diver watch">
<p>
Diver 300M Co-Axial Master Chronometer</p>
<span>
    €1200
</span>
    </li>
    <!--WATCH 8-->

    <li class="list-element">
<img src="./images/greenlane@1x.jpg" srcset="./images/greenlane@1x.jpg 1x, ./images/greenlane@2x.jpg 2x" alt="Greenlane watch">
<p>
Greenlane Watch By Police For Men</p>
<span>
    €1000
</span>
    </li>
    <!--WATCH 9-->

    <li class="list-element">
<img src="./images/squardrc@1x.jpg" srcset="./images/squardrc@1x.jpg 1x, ./images/squardrc@2x.jpg 2x" alt="Squardrc watch">
<p>
Squardrc 5402 Chrono
</p>
<span>
    €359
</span>
    </li>
    <!--WATCH 10-->

    <li class="list-element">
<img src="./images/forthdiver@1x.jpg" srcset="./images/forthdiver@1x.jpg 1x, ./images/forthdiver@2x.jpg 2x" alt="Diver watch">
<p>
Diver 300M Co‑Axial Master Chronometer Chronograph
</p>
<span>
    €400
</span>
    </li>
    <!--WATCH 11-->

    <li class="list-element">
<img src="./images/citizen@1x.jpg" srcset="./images/citizen@1x.jpg 1x, ./images/citizen@2x.jpg 2x" alt="Citizen watch">
<p>
Citizen
</p>
<span>
    €519
</span>
    </li>
    <!--WATCH 12-->

    <li class="list-element">
<img src="./images/armani@1x.jpg" srcset="./images/armani@1x.jpg 1x, ./images/armani@2x.jpg 2x" alt="Armani watch">
<p>
Armani Exchange
</p>
<span>
    €400
</span>
    </li>



</ul>




</section>