<section id="contact" class="contacts-section">
  <div class="country-contacts-container">
    <ul class="list-country-contacts">
      <li>
        <div class="contacts-item-container">
          <div class="orange-contacts-title">Cafe</div>
          <div class="city-description-container">
            <p class="contacts-titles">Chicago</p>
            <p class="contacts-description">
              Handcrafted coffee, baked goods, and premium ice cream.
            </p>
          </div>
          <img
            class="contacts-separator"
            src="./images/contacts-section-divider.png"
            alt="line-separator"
          />
          <div class="timetable-container">
            <p class="contacts-titles">Monday - Friday</p>
            <p class="contacts-timetable">06:00 AM - 10:00 PM</p>
            <p class="contacts-titles">Saturday - Sunday</p>
            <p class="contacts-timetable">08:00 AM - 16:00 PM</p>
          </div>
          <img
            class="contacts-separator"
            src="./images/contacts-section-divider.png"
            alt="line-separator"
          />
          <div class="contacts-info-container">
            <a
              class="contacts mail-contacts"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="nofollow noopener noreferrer"
              >noreply@envato.com</a
            >

            <a href="tel:+61(0)383766284" class="contacts tel-contacts"
              >+61(0) 383 766 284</a
            >
          </div>
        </div>
      </li>
      <li>
        <div class="contacts-item-container">
          <div class="green-contacts-title">Food Truck</div>
          <div class="city-description-container">
            <p class="contacts-titles">Los Angeles</p>
            <p class="contacts-description">
              Fusion cuisine and refreshing ice cream made with passion.
            </p>
          </div>
          <img
            class="contacts-separator"
            src="./images/contacts-section-divider.png"
            alt="line-separator"
          />
          <div class="timetable-container">
            <p class="contacts-titles">Monday - Friday</p>
            <p class="contacts-timetable">06:00 AM - 10:00 PM</p>
            <p class="contacts-titles">Saturday - Sunday</p>
            <p class="contacts-timetable">08:00 AM - 16:00 PM</p>
          </div>
          <img
            class="contacts-separator"
            src="./images/contacts-section-divider.png"
            alt="line-separator"
          />
          <div class="contacts-info-container">
            <a
              class="contacts mail-contacts"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="nofollow noopener noreferrer"
              >noreply@envato.com</a
            >

            <a href="tel:+61(0)383766284" class="contacts tel-contacts"
              >+61(0) 383 766 284</a
            >
          </div>
        </div>
      </li>
      <li>
        <div class="contacts-item-container">
          <div class="orange-contacts-title">Cafe</div>
          <div class="city-description-container">
            <p class="contacts-titles">New York</p>
            <p class="contacts-description">
              Specialty teas, artisanal pastries, mouth-watering ice cream.
            </p>
          </div>
          <img
            class="contacts-separator"
            src="./images/contacts-section-divider.png"
            alt="line-separator"
          />
          <div class="timetable-container">
            <p class="contacts-titles">Monday - Friday</p>
            <p class="contacts-timetable">06:00 AM - 10:00 PM</p>
            <p class="contacts-titles">Saturday - Sunday</p>
            <p class="contacts-timetable">08:00 AM - 16:00 PM</p>
          </div>
          <img
            class="contacts-separator"
            src="./images/contacts-section-divider.png"
            alt="line-separator"
          />
          <div class="contacts-info-container">
            <a
              class="contacts mail-contacts"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="nofollow noopener noreferrer"
              >noreply@envato.com</a
            >

            <a href="tel:+61(0)383766284" class="contacts tel-contacts"
              >+61(0) 383 766 284</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="contacts-buttons">
    <button class="button our-locations-button" type="button" data-modal-open>
      Our Locations
      <i class="arrow"></i>
    </button>
    <button class="button franchise-button" type="button" data-modal-open>
      Franchise
      <i class="arrow"></i>
    </button>
  </div>

  <div class="modal-contacts is-hidden container" data-modal>
    <div class="modal-content">
      <button class="close-btn" data-modal-close>
        <i data-feather="x"></i> 
      </button>
      <h2 class="modal-heading">One of the locations</h2>
      <div>
        <form class="modal-form">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1520373.1250324186!2d10.04356384277346!3d41.90406572575241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6054be16a5f5%3A0xb9f321df656d8ded!2sIcecream%20Shop%20La%20Strega%20Nocciola!5e0!3m2!1sro!2sro!4v1713372377919!5m2!1sro!2sro"
            width="392"
            height="454"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="./modal_section_contacts.js"></script>
