<article class="customer-review-article container">
  <div class="top-image-container">
    <img
      src="/src/images/ice-cream-overlap-picture.jpg"
      alt="picture with many icecream cones"
      class="top-picture"
    />
  </div>
  <section class="customer-section">
    <div class="customer-review-container">
      <!-- carousel part -->

      <div class="carousel">
        <div class="carousel-inner">
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <img
              src="/src/images/1st-review-img.jpg"
              alt="reviewer's photo"
              class="review-image"
            />
            <div class="review-container">
              <p class="review-paragraph">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <p class="location-paragraph">Emily, Los Angeles</p>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <img
              src="/src/images/2nd-review-img.jpg"
              alt="reviewer's photo"
              class="review-image"
            />
            <div class="review-container">
              <p class="review-paragraph">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <p class="location-paragraph">Bryan, New-York</p>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item">
            <img
              src="/src/images/3rd-review-img.jpg"
              alt="reviewer's photo"
              class="review-image"
            />
            <div class="review-container">
              <p class="review-paragraph">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <p class="location-paragraph">Diana, Chicago</p>
          </div>
        </div>
        <button class="prev-btn">❮</button>
        <button class="next-btn">❯</button>
        <div class="carousel-dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
  </section>
</article>
