<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <svg class="footer-logo">
                <use href="/src/images/symbol-defs.svg#icon-logo" />
            </svg>
            <a href="tel:+380-68-443-94-26">+380 (68) 443-94-26</a>
            <address class="footer-address">1678 S. Pioneer Road <br />
                Salt Lake City <br />
                UT 84104</address>
        </div>

        <div>
            <ul class="footer-nav">
                <li><a href="#aboutus">ABOUT US</a></li>
                <li><a href="#catalog">CATALOG</a></li>
                <li><a href="#sale">SALE</a></li>
            </ul>
        </div>

        <div class="footer-socials">
            <ul>
                <li>
                    <a href="#facebook">
                    <svg class="footer-social" viewBox="0 0 40 30">
                        <use href="/src/images/symbol-defs.svg#icon-facebook" />
                    </svg>
                    </a>
                </li>
                <li>
                    <a href="#instagram">
                    <svg class="footer-social" viewBox="0 0 40 30">
                        <use href="/src/images/symbol-defs.svg#icon-instagram" />
                    </svg>
                    </a>
                </li>
                <li>
                    <a href="#youtube">
                    <svg class="footer-social" viewBox="0 0 40 30">
                        <use href="/src/images/symbol-defs.svg#icon-youtube" />
                    </svg>
                </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright-terms">
        <div class="footer-copyright">
        <p>©2022 The Watch Spot. All rights reserved.</p>
        </div>
        <div class="footer-terms">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </div>


</footer>