<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <svg class="footer-logo">
                <use href="/src/images/symbol-defs.svg#icon-logo" />
            </svg>
            <a href="tel:+380-68-443-94-26">+380 (68) 443-94-26</a>
            <address class="footer-address">1678 S. Pioneer Road <br />
                Salt Lake City <br />
                UT 84104</address>
        </div>

        <div>
            <ul class="footer-nav">
                <li><a href="#aboutus">ABOUT US</a></li>
                <li><a href="#catalog">CATALOG</a></li>
                <li><a href="#sale">SALE</a></li>
            </ul>
        </div>

        <div class="footer-socials">
            <ul>
                <li>
                    <svg class="footer-social">
                        <use href="/src/images/symbol-defs.svg#icon-facebook" />
                    </svg>
                </li>
                <li>
                    <svg class="footer-social">
                        <use href="/src/images/symbol-defs.svg#icon-instagram" />
                    </svg>
                </li>
                <li>
                    <svg class="footer-social">
                        <use href="/src/images/symbol-defs.svg#icon-youtube" />
                    </svg>
                </li>
            </ul>
        </div>
    </div>

</footer>