<footer class="footer-style" id="footer">
  <div class="footer-display">
    <a href="#">
      <svg class="footer-icon" width="127.58" height="16.98">
        <use href="./images/symbol-defs.svg#icon-minimal"></use>
      </svg>
    </a>

    <div>
      <ul class="footer-list two">
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <svg class="footer-svg" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="footer-svg" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank">
            <svg class="footer-svg" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <nav class="footer-nav">
      <ul class="footer-list one">
        <li class="footer-menu-item rogap">
          <a class="footer-menu-item-a" href="#about-us-section">About us</a>
        </li>
        <li class="footer-menu-item rogap">
          <a class="footer-menu-item-a" href="#products-section"
            >Our products</a
          >
        </li>
        <li class="footer-menu-item rogap">
          <a class="footer-menu-item-a" href="#price-section">Prices</a>
        </li>
        <li class="footer-menu-item rogap">
          <a class="footer-menu-item-a" href="#bestsellers-section"
            >Bestsellers</a
          >
        </li>
        <li class="footer-menu-item rowgap">
          <a class="footer-menu-item-a" href="#reviews-section">Reviews</a>
        </li>
      </ul>
    </nav>

    <address class="footer-adr">
      <ul class="footer-address gap">
        <li class="rgap">
          <a
            class="contact-adress"
            href="https://maps.app.goo.gl/AeX67JmRPz2YtbdP6"
            target="_blank"
            >Obolonsky Prospect, 14, Kyiv</a
          >
        </li>
        <li>
          <div class="contact-adres">
            Daily <time>10:00</time>-<time>21:00</time>
          </div>
        </li>
      </ul>
      <ul class="footer-address">
        <li class="rgap">
          <a class="contact-adress" href="tel:+380669384758">+380669384758</a>
        </li>
        <li class="rgap">
          <a class="contact-adress" href="tel:+380679384758">+380679384758</a>
        </li>
      </ul>
      <ul class="footer-address">
        <li class="footer-address-ite">
          <a
            class="contact-adress gmail"
            href="mailto:minimal.furniture@gmail.com"
            >minimal.furniture@gmail.com</a
          >
        </li>
      </ul>
    </address>
  </div>

  <div class="footer-service-policy">
    By using this website, you agree to the&puncsp;
    <a class="link-color" href="#"
      ><span class="terms">Terms of Service</span></a
    >
    &puncsp;and&puncsp;
    <a class="link-color" href="#"><span class="terms">Privacy Policy</span></a>
  </div>
</footer>
