<<<<<<<<< Temporary merge branch 1
=========

>>>>>>>>> Temporary merge branch 2
<footer>
  <div class="footer-container">
    <div class="footer-text">
      <p class="first-p">homemade ice cream made</p>
      <p class="second-p">with passion</p>
    </div>
    <div class="footer-svg">
      <ul>
        <li>
<<<<<<<<< Temporary merge branch 1
          <svg width="34" height="34">
=========
          <svg class="github-svg" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-github" />
          </svg>
        </li>
        <li>
<<<<<<<<< Temporary merge branch 1
          <svg width="34" height="34">
=========
          <svg class="telegram-svg" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-telegram" />
          </svg>
        </li>
        <li>
<<<<<<<<< Temporary merge branch 1
          <svg width="34" height="34">
=========
          <svg class="facebook-svg" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-facebook" />
          </svg>
        </li>
      </ul>
    </div>
<<<<<<<<< Temporary merge branch 1
    <p class="footer-p">Feel free to contact</p>
    <address>
      <li>
        <a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      </li>
    </address>
    <svg width="320" height="0">
      <use href="./images/symbol-defs.svg#icon-footer-line" />
    </svg>
    <p>© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
=========
    <div class="footer-contact">
    <p class="footer-p">Feel free to contact</p>
    <address>
      <li>
        <a class="contact-tel" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      </li>
    </address>
  </div>
    <svg class="footer-line" width="320" height="0">
      <use href="./images/symbol-defs.svg#icon-footer-line" />
    </svg>
    <p class="footer-bottom-p" >© 2022 - IceCream. 
      All Rights Reserved. </p>
  </div>
</footer>
</body>
>>>>>>>>> Temporary merge branch 2
