<footer>
    <div class="container">

        <!--FOOTER LOGO-->
        <div class="footer-info">
            <div class="footer-logo">
                <svg>
                    <use href="/src/images/symbol-defs.svg#icon-logo" />
                </svg>
            </div>
            <!--FOOTER TEL & ADDRESS-->
            <a href="tel:+380-68-443-94-26">+380 (68) 443-94-26</a>
            <address class="footer-address">1678 S. Pioneer Road <br />
                Salt Lake City <br />
                UT 84104</address>
        </div>

        <!--FOOTER NAVIGATION-->
        <div>
            <nav class="footer-nav">
                <ul>
                    <li><a href="#aboutus">ABOUT US</a></li>
                    <li><a href="#catalog">CATALOG</a></li>
                    <li><a href="#sale">SALE</a></li>
                </ul>
            </nav>
        </div>

        <!--SOCIAL MEDIA-->

        <div class="footer-socials">
            <ul>
                <li>
                    <a href="#facebook">
                        <svg class="footer-social" viewBox="0 0 40 30">
                            <use href="/src/images/symbol-defs.svg#icon-facebook" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#instagram">
                        <svg class="footer-social" viewBox="0 0 40 30">
                            <use href="/src/images/symbol-defs.svg#icon-instagram" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#youtube">
                        <svg class="footer-social" viewBox="0 0 40 30">
                            <use href="/src/images/symbol-defs.svg#icon-youtube" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!--MOBILE SOCIALS-->
    <div>
        <ul class="footer-mobile_socials">
            <li>
                <a href="#facebook">
                    <svg class="footer-social" viewBox="0 0 40 30">
                        <use href="/src/images/symbol-defs.svg#icon-facebook" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#instagram">
                    <svg class="footer-social" viewBox="0 0 40 30">
                        <use href="/src/images/symbol-defs.svg#icon-instagram" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#youtube">
                    <svg class="footer-social" viewBox="0 0 40 30">
                        <use href="/src/images/symbol-defs.svg#icon-youtube" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright-terms">
        <div class="footer-copyright">
            <p> &copy; 2022 The Watch Spot. All rights reserved.</p>
        </div>
        <div class="footer-terms">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </div>


</footer>