<footer id="footery" class="footer-section">
  <div class="footer-container">
    <p>
      <span class="footer__slogan">Chocolate</span> a delicious <br />
      cure for a bad day
    </p>
    <div class="footer-contact">
      <p>Contact us</p>
      <a href="tel:+380(68)4439426">+380 (68) 443-94-26</a>
      <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
    </div>
    <ul class="footer_social">
      <li>
        <a
          href="http://instagram.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="footer_social__icon">
            <use href="./images/icons.svg#icon-instagram_DesktopTablet" />
          </svg>
        </a>
      </li>
      <li>
        <a href="http://twitter.com" target="_blank" rel="noreferrer noopener">
          <svg class="footer_social__icon">
            <use href="./images/icons.svg#icon-twitter_DesktopTablet" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__line"></div>
  <ul class="footer__navigation">
    <li>
      <a href="#home" class="active">Home</a>
    </li>
    <li><a href="#how-is-made">How it's made</a></li>
    <li><a href="#our-products">Our Products</a></li>
    <li><a href="#top-sellers">Top Sellers</a></li>
    <li><a href="#chocolate-is-loved">Chocolate is loved</a></li>
  </ul>
</footer>
