<section class="advantages" id="advantages">
  <div class="container">
    <h3 class="header-h3 header-h3--hidden">Advantages</h3>

    <!-- ADVANTAGES LIST -->

    <ul class="advantages__list">
      <li class="advantages__item">
        <img class="advantages__picture" src="./images/advantages/advantages-icon1-@1X-33x50.png" srcset="
            ./images/advantages/advantages-icon1-@2X-66x100.png 2x
          " alt="icon 1" />
        <p class="advantages__number">721</p>
        <p class="advantages__description">
          At 721 Cow, we're passionate about producing the highest quality ice cream possible.
        </p>
      </li>
      <li class="advantages__item">
        <img class="advantages__picture" src="./images/advantages/advantages-icon2-@1X-33x50.png" srcset="
            ./images/advantages/advantages-icon2-@2X-100x100.png 2x
          " alt="icon 2" />
        <p class="advantages__number">16kg</p>
        <p class="advantages__description">
          You can be sure you're getting a scoop of the freshest ice cream around.
        </p>
      </li>
      <li class="advantages__item">
        <img class="advantages__picture" src="./images/advantages/advantages-icon3-@1X-44x50.png" srcset="
            ./images/advantages/advantages-icon3-@2X-88x100.png 2x
          " alt="icon 3" />
        <p class="advantages__number">84</p>
        <p class="advantages__description">
          We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.
        </p>
      </li>
    </ul>
  </div>
</section>


<section class="gallery">
  <div class="container">
    <h2 class="header-h2 header-h2--hidden">Gallery</h2>
    <img class="img" src="./images/gallery/gallery@1x-1280x430.jpg" srcset="
        ./images/gallery/gallery@1x-1280x430.jpg 1x,
        ./images/gallery/gallery@2x-2560x860.jpg 2x
      " alt="Gallery of different ice cream" />
  </div>
</section>