<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap">
  <link rel="stylesheet" href="..//sass/gallery.css">

</head>


<section class="advantages-gallery">
  <div class="container">
    <div class="advantages">
      <div class="advantages-container">
        <h3 class="header-h3 header-h3--hidden">Advantages</h3>
        <ul class="advantages-list">
          <li class="advantages-item">
            <img class="advantages-picture" src="../images/advantages-icon1.svg" " alt=" icon 1" />
            <p class="advantages-number">721</p>
            <p class="advantages-description">
              At 721 Cow, we're passionate about producing the highest quality ice cream possible.
            </p>
          </li>
          <li class="advantages-item">
            <img class="advantages-picture" src="../images/advantages-icon2.svg" " alt=" icon 2" />
            <p class="advantages-number">16kg</p>
            <p class="advantages-description">
              You can be sure you're getting a scoop of the freshest ice cream around.
            </p>
          </li>
          <li class="advantages-item">
            <img class="advantages-picture" src="../images/advantages-icon3.svg" " alt=" icon 3" />
            <p class="advantages-number">84</p>
            <p class="advantages-description">
              We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="gallery">
      <div class="gallery-container">
        <h2 class="header-h2 header-h2--hidden">Gallery</h2>
        <img class="img" src="../images/gallery@1x-1280x430.jpg" srcset="
            ../images/gallery@1x-1280x430.jpg 1x,
            ../images/gallery@2x-2560x860.jpg 2x
          " alt="Gallery of different ice cream" />
      </div>
    </div>
  </div>

</section>