<!-- 1. În Header se află logo-ul, meniul de navigare și o listă de link-uri către rețelele de socializare ale companiei.
2. Pe versiunea mobilă, meniul de navigare este afișat ca o bară laterală retractabilă. Meniul mobil este fix, având înălțimea potrivită pentru vizualizarea pe întregul ecran al dispozitivului. Meniul trebuie implementat ca link-uri ancoră care duc către secțiunile corespunzătoare ale paginii.
3. Se va implementa animația meniului pe dispozitivele mobile, conform machetei*.
4. Lista de linkuri către rețelele de socializare trebuie să fie implementată ca o listă de elemente cu ajutorul etichetei <ul>, care vor deschide pagina de start a corespunzătoarei rețele de socializare într-un nou tab. Iconițele rețelelor de socializare trebuie să fie implementate în format SVG. -->

<!--header section-->
<header class="header section">
      <!-- <div class="header__logo-mobile">
        <a href="#"
          ><p><span>SIMPLY</span>CHOCOLATE</p></a
        >
      </div> -->
      <div class="header container">
        <div class="header__logo">
          <a href="#"
            ><p><span>SIMPLY CHOCOLATE</p></a
          >
        </div>
        <nav class="header__navigation">
          <ul>
            <li>
              <a href="" class="active">Home</a>
            </li>
            <li><a href="">How it's made</a></li>
            <li><a href="">Our Products</a></li>
            <li><a href="">Top Sellers</a></li>
            <li><a href="">Chocolate is loved</a></li>
          </ul>
        </nav>
    </header>