<article class="header" id="en">
  <div class="wrapper">
    <header>
      <section class="header-section">
        <div class="container">
          <div class="logo">
            <a href="#"> thewatchspot </a>
          </div>
          <ul class="nav-bar">
            <li><a href="#">About us</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">sale</a></li>
          </ul>
          <div class="nav-contact">
            <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
          </div>
        </div>
      </section>
    </header>
    <section class="hero-section">
      <div class="container">
        <div class="hero-content">
          <h1>
            Welcome to our collection of <br />
            premium watches
          </h1>
          <p>
            Our watches are not just timepieces, but <br />
            also an expression of your personality and <br />
            lifestyle. From classic designs to modern <br />
            ones, we have a watch to suit every taste <br />
            and occasion.
          </p>
        </div>
        <div class="hero-images">
          <div class="watch-section">
            <img
              src="./images/hero-image-list-1.jpg"
              alt=" A photo with watch"
            />
          </div>
          <img src="./images/hero-img-1.jpg" alt="" />
        </div>
      </div>
    </section>
  </div>
</article>
