<!-- Header -->
<header class="header">
  <div class="header-container">
    <div class="logo-header">
      <svg class="logo-icon" width="127" height="17">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </div>

    <nav class="header-navigation">
      <ul class="top-menu">
        <li class="top-menu-item">
          <a href="#" class="link">About us</a>
        </li>
        <li class="top-menu-item">
          <a href="#" class="link">Our products</a>
        </li>
        <li class="top-menu-item">
          <a href="#" class="link">Prices</a>
        </li>
        <li class="top-menu-item">
          <a href="#" class="link">Bestsellers</a>
        </li>
        <li class="top-menu-item">
          <a href="#" class="link">Reviews</a>
        </li>
        <li class="top-menu-item">
          <a href="#" class="link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Mobile Menu -->
  <button type="button" class="menu-btn header-mobile-btn" data-menu-open>
    <svg class="menu-icon" width="24" height="24">
      <use href="./images/symbol-defs.svg#icon-align"></use>
    </svg>
  </button>

  <nav class="mobile-menu" data-menu>
    <!-- New Menu Bar Container with background color -->
    <div class="menu-bar">
      <div class="mobile-menu-logo">
        <svg class="mobile-menu-logo-icon" width="127" height="16">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </div>
      <button type="button" class="menu-close-btn" data-menu-close>
        <svg class="close-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <!-- End of Menu Bar Container -->
    
    <ul class="menu-list">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Products</a></li>
      <li><a href="#">Prices</a></li>
      <li><a href="#">Bestsellers</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </nav>
</header>


