<!-- 1. În Header se află logo-ul, meniul de navigare și o listă de link-uri către rețelele de socializare ale companiei.
2. Pe versiunea mobilă, meniul de navigare este afișat ca o bară laterală retractabilă. Meniul mobil este fix, având înălțimea potrivită pentru vizualizarea pe întregul ecran al dispozitivului. Meniul trebuie implementat ca link-uri ancoră care duc către secțiunile corespunzătoare ale paginii.
3. Se va implementa animația meniului pe dispozitivele mobile, conform machetei*.
4. Lista de linkuri către rețelele de socializare trebuie să fie implementată ca o listă de elemente cu ajutorul etichetei <ul>, care vor deschide pagina de start a corespunzătoarei rețele de socializare într-un nou tab. Iconițele rețelelor de socializare trebuie să fie implementate în format SVG. -->

<!--header section-->
<header class="header section">
  <div class="header__logo-mobile">
    <div class="logo-container">
      <span class="logo-text">
      <span class="logo-text__simply">SIMPLY</span>
      <span class="logo-text__chocolate">CHOCOLATE</span>
      </span>
      <svg class="header_logo__icon__mobile"  width="11"
      height="15">
        <use href="./images/icons.svg#icon-chocolate_MobilTablet" />
      </svg>
    </div>
    <button
    class="js-open-menu button button--toggle-menu"
    aria-expanded="false"
    aria-controls="mobile-menu">
      <svg
        class="button--toggle-menu__icon"
        width="24"
        height="24"
        fill="currentColor">
          <use href="./images/icons.svg#icon-menu_Mobil" >
      </svg>
    </button>
  </div>

  <div class="header container">
    <div class="logo-container">
      <span class="logo-text">
        <span class="logo-text__simply">SIMPLY</span>
        <span class="logo-text__chocolate">CHOCOLATE</span>
      </span>
      <svg class="header_logo__icon"  width="12.5"
      height="17">
        <use href="./images/icons.svg#icon-chocolate_Desktop" />
      </svg>
    </div>
      <nav class="header__navigation">
        <ul>
          <li>
            <a href="#" class="active">Home</a>
          </li>
          <li><a href="#how-is-made">How it's made</a></li>
          <li><a href="#our-products">Our Products</a></li>
          <li><a href="#top-sellers">Top Sellers</a></li>
          <li><a href="#">Chocolate is loved</a></li>
        </ul>
      </nav>
      <ul class="header_social">
        <li>
          <a href="http://instagram.com" target="_blank" rel="noreferrer noopener">
            <svg class="header_social__icon">
              <use href="./images/icons.svg#icon-instagram_DesktopTablet" />
            </svg>
          </a>
        </li>
        <li>
          <a href="http://twitter.com" target="_blank" rel="noreferrer noopener">
            <svg class="header_social__icon">
              <use href="./images/icons.svg#icon-twitter_DesktopTablet" />
            </svg>
          </a>
        </li>
      </ul>
  </div>
</header>

<!--Meniu pt navigare - mobile size -->

<div class="js-menu-container">
  <button class="js-close-menu button button-close-menu">
    <a href="">
      <svg class="buton-mobile_X">
        <use href="./images/icons.svg#icon-x-close_ferestre" />
      </svg>
    </a>
  </button>
  <nav class="header__navigation__mobil">
      <ul>
        <li>
          <a href="#" class="active">Home</a>
        </li>
        <li><a href="#how-is-made">How it's made</a></li>
        <li><a href="#our-products">Our Products</a></li>
        <li><a href="#top-sellers">Top Sellers</a></li>
        <li><a href="#">Chocolate is loved</a></li>
      </ul>
  </nav>
  <ul class="header_social__mobil">
      <li>
        <a href="http://instagram.com" target="_blank">
          <svg class="header_social__icon">
            <use href="./images/icons.svg#icon-instagram_DesktopTablet" />
          </svg>
        </a>
      </li>
      <li>
        <a href="http://twitter.com" target="_blank">
          <svg class="header_social__icon">
            <use href="./images/icons.svg#icon-twitter_DesktopTablet" />
          </svg>
        </a>
      </li>
  </ul>
</div>
