<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simply Chocolate</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.css"
    integrity="sha512-gA2Bvu0/hw4oj0Lp8ZHjK+o3S4BE5m8d/wNVy6ktKLhHKPpWLQwv9ixzuWirWOakoJqlBdePq2NhoCaUOQ5npQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/header-hero-desktop.css">
</head>

<body>

  <!-- Header section -->
  <header class="header__section">

    <!-- Logo -->
    <div class="header__logo">
      <a href="index.html">Simply
        <span> Chocolate</span>
        <svg class="icon-logo">
          <use href="../../../assets/hh-symbol-defs.svg#icon-chocolate-bar" />
        </svg>
      </a>
    </div>

    <!-- Navigation bar -->

    <nav class="header__navigation">
      <a href="#" class="home">Home</a>
      <a href="#" class="how-made">How it's made?</a>
      <a href="#" class="our-products">Our products</a>
      <a href="#" class="top-sellers">Top sellers</a>
      <a href="#" class="chocolate-love">Chocolate is loved</a>
    </nav>


    <!-- Socials -->

    <ul class="header__socials">
      <li>
        <a href="https://www.instagram.com">
          <svg class="icon-header">
            <use href="./desktop-symbol-defs.svg#icon-instagram-desktop" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com">
          <svg class="icon-header">
            <use href="./desktop-symbol-defs.svg#icon-twitter-desktop" />
          </svg>
        </a>
      </li>
    </ul>

  </header>


  <main>
    <!-- Hero section -->
    <section class="hero-section">
      <div class="hero-content">

        <h1 class="hero__title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </h1>

        <h2 class="hero__subtitle">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </h2>

        <div class="hero__buttons-scroll">
          <div class="hero__buttons">
            <button class="hero__btn1" type="button">Buy now</button>

            <button class="hero__btn2" type="button" href="#">How it's made</button>
          </div>

          <div class="hero__scroll-container">
            <a class="hero__scroll" href="#footer.html">scroll down
              <svg class="hero__scroll-icon">
                <use class="icon-scoll" href="./scroll-symbol-defs.svg#icon-scroll-down-arrow" />
              </svg>
            </a>
          </div>
        </div>


      </div>

      </div>
    </section>


  </main>

  <script src="../../index.js"></script>
</body>

</html>