<section class="hero">
    <div class="hero-container">
        <div class="hero-wrap">
            <h1 class="hero-title">Modern and minimalist furniture for you</h1>
            <div class="hero-block">
                <p class="hero-text">Add a touch of elegance to your space with handcrafted furniture
                    pieces</p>
                <button class="hero-button" type="button">Subscribe</button>
                <!-- Butonul Subscribe ar trebui să fie un anchor link către secțiunea Subscription.
 -->
            </div>
        </div>
    </div>
</section>