<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-section-header">
      ICE CREAM MADE WITH
      <span class="hero-header-span"> PASSION </span>
    </h1>
    
    <button type="button" class="hero-section-button">
        Products    
    </button>


    <button type="button" class="hero-section-button2">
        How it's made?
    </button>



    <img  class="icecream-mobile"   src="/src/images/icecream-mobile.png" alt="ice-cream">
    <img  class="icecream-480rez"  src="/src/images/icecream-480rez.png" alt="ice-cream">
 

    <svg class="icecream-effect" width="320" height="49.11">
        <use href="/src/images/symbol-defs.svg#icon-icecream-effect" />
      </svg>

  </div>
</section>
