<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-section-header">
      ICE CREAM MADE WITH
      <span class="hero-header-span"> PASSION </span>
    </h1>

    <button type="button" class="hero-section-button">Products</button>

    <button type="button" class="hero-section-button2">How it's made?</button>

    <img
      class="icecream-mobile"
      src="/src/images/icecream-mobile.png"
      alt="ice-cream"
    />
    <img
      class="icecream-480rez"
      src="/src/images/icecream-480rez.png"
      alt="ice-cream"
    />
    <img
      class="icecream-tabletrez"
      src="/src/images/icecream-tabletrez.png"
      alt="ice-cream"
    />
    <img
      class="icecream-plate"
      src="/src/images/icecream-plate.png"
      alt="icecream-plate"
    />

    <img
      class="icecream-desktop"
      src="/src/images/icecream-desktoprez.png"
      alt="ice-cream"
    />
    <img
      class="icecream-plate-desktop"
      src="/src/images/icecream-plate-desktop.png"
      alt="icecream-plate"
    />

    <p class="hero-paragraph">
      Indulge in a scoop of ice cream made with passion and treat your taste
      buds to an unforgettable experience!
    </p>

    <p class="icon16-text">cafes</p>
    <p class="icon23-text">food trucks</p>

    <svg class="icecream-effect" width="320" height="49.11">
      <use href="/src/images/symbol-defs.svg#icon-icecream-effect" />
    </svg>

    <svg class="icon-arrow" width="40" height="16">
      <use href="/src/images/symbol-defs.svg#icon-arrow" />
    </svg>

    <svg class="icon-16" width="32" height="34">
      <use href="/src/images/symbol-defs.svg#icon-16" />
    </svg>
    <svg class="icon-23" width="36" height="34">
      <use href="/src/images/symbol-defs.svg#icon-23" />
    </svg>
    <svg class="icon-tablet-effect" width="768" height="67.79px">
      <use href="/src/images/symbol-defs.svg#icon-tablet-effect" />
    </svg>
    <svg class="icon-desktop-effect" width="1280" height="383.46">
      <use href="/src/images/symbol-defs.svg#icon-desktop-effect" />
    </svg>
  </div>
</section>
