<body>
  <section>
    <div class="how">
      <div class="container">
        <h1 class="how__titlu">HOW IT'S <span class="culoare">MADE?</span></h1>

        <iframe
          class="frame"
          src="https://www.youtube.com/embed/hymVP5KABE8"
          title="A YouTube video"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <h2 class="how__titlu2">
          Try our chocolates today and discover the perfect balance of flavor
        </h2>
        <ul class="how__lista">
          <li class="how__lista2">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how__lista2">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>

          <li class="how__lista2">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>

          <li class="how__lista2">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how__lista2">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>
