
  <section>
    <div class="how">
      <div class="container">
        <h1 class="how__title">HOW IT'S <span class="color">MADE?</span></h1>
<div class="video">
        <iframe
          class="frame"
          src="https://www.youtube.com/embed/hymVP5KABE8"
          title="A YouTube video"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <div class="recipe">
          <h2 class="how__title2">
            Try  our chocolates today and discover the perfect balance of flavor
          </h2>
        <ul class="how__list">
          <li class="how__list2">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how__list2">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how__list2">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how__list2">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how__list2">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
</div>
      </div>
    </div>
  </section>

