<center class="how-is-made">
  <h2 id="how-is-made">
    HOW IT'S
    <span>MADE?</span>
  </h2>
  <div class="hm">
    <div class="hm_show">
      <iframe id="myframe" src="https://www.youtube.com/embed/4UKLgSBEiqs?controls=0&amp;autohide1&amp;rel=0&amp;modestbranding=1&amp;autoplay=1"></iframe>
      <svg><use href="./images/how-is-made/icon-play.svg#icon-play"></use></svg>
    </div>
    <div class="hm_descr">
      <p>Try our chocolates today and discover the perfect balance of flavor</p>
      <ul>
        <li>
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li>At the same time, prepare a water bath. Melt the butter on it.</li>
        <li>
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li>Heat the mixture over low heat, letting it barely boil.</li>
        <li>
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</center>
