<section class="how-is-made">
    <h2>HOW IT'S 
        <span>MADE?</span> 
    </h2>
    <div>
        <center>
            <p>Try our chocolates today and discover the perfect balance of flavor</p>
        </center>
        <svg class="hm-show"><use href="../images/how-is-made/play.svg"></use></svg>
        <ul>
            <li>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
        </ul>
    </div>