<div class="mobile-menu-container" id="mobile-menu">
  <div class="container mobile-menu-content">
      <div class="mobile-menu-header">
          <a class="mobile-logo" href="./index.html">yachtjet</a>
          <button class="mobile-menu-exit modal-close" type="button">
              <svg class="mobile-menu-exit-icon" width="28" height="28" aria-label="mobile menu close icon">
                  <use href="./image/hero/icons.svg#icon-close"></use>
              </svg>
          </button>
      </div>
      <nav class="mobile-menu-nav">
          <ul class="mobile-menu-list">
              <li class="mobile-menu-item  modal-close">
                  <a class="mobile-menu-link" href="#about-us">About</a>
              </li>
              <li class="mobile-menu-item modal-close">
                  <a class="mobile-menu-link" href="#our-yachts">Yachts</a>
              </li>
              <li class="mobile-menu-item modal-close">
                  <a class="mobile-menu-link" href="#reviews">Reviews</a>
              </li>
          </ul>
      </nav>

      <ul class="mobile-social-links-list">
          <li class="mobile-social-item">
              <a class="mobile-social-link" href="https://www.instagram.com/goitclub/">
                  <svg class="mobile-menu-social-icon" width="24" height="24">
                      <use href="./image/hero/icons.svg#icon-instagram"></use>
                  </svg>
              </a>
          </li>
          <li class="mobile-social-item">
              <a class="mobile-social-link" href="https://www.youtube.com/c/GoIT">
                  <svg class="mobile-menu-social-icon" width="24" height="24">
                      <use href="./image/hero/icons.svg#icon-youtube"></use>
                  </svg>
              </a>
          </li>
          <li class="mobile-social-item">
              <a class="mobile-social-link" href="https://www.facebook.com/goITclub/">
                  <svg class="mobile-menu-social-icon" width="24" height="24">
                      <use href="./image/hero/icons.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
      </ul>
  </div>
</div>