<body>
  <header>
    <div class="header-container">
      <div class="mobile-menu">
        <a href="./index.html">
          <svg class="logo-icon" width="40" height="37">
            <use href="./images/symbol-defs.svg#icon-logo" />
          </svg>
        </a>
        <button class="menu-open-btn" type="button">
          <svg width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-hamburger-menu" />
          </svg>
        </button>
        <div class="hamburger-menu">
          <div class="hamburger-menu-bar">
            <a href="./index.html">
              <svg class="logo-icon" width="40" height="37">
                <use href="./images/symbol-defs.svg#icon-logo" />
              </svg>
            </a>
            <button class="menu-close-btn" type="button">
              <svg width="19" height="19">
                <use href="./images/symbol-defs.svg#icon-close" />
              </svg>
            </button>
          </div>
          <nav class="nav-bar">
            <ul class="nav-bar-list">
              <li>
                <a class="header-nav-list home" href="#">Home</a>
              </li>
              <li>
                <a class="header-nav-list how-its-made" href="#">How it's made?</a>
              </li>
              <li>
                <a class="header-nav-list our-products" href="#">Our products</a>
              </li>
              <li>
                <a class="header-nav-list contact" href="#">Contact</a>
              </li>
            </ul>

          </nav>
          <button type="button" class="buy-now-btn">
            <span>Buy now</span>
            <svg class="" width="15" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-right" />
            </svg>
          </button>
        </div>
      </div>

        <div class="modal-buy-now is-open">
          <h2 class="modal-title">Buy now</h2>
          <ul class="product-card-list">
            <li>
              <div class="image-box">
                <img
                  class="product-image"
                  src="./images/buy-now-ice-cream.jpg"
                  alt="Ice Cream product image"
                />
                <h3 class="product-card-title">ice cream</h3>
              </div>
            </li>
            <li>
              <div class="image-box box-ice-coffee">
                <img
                  class="product-image ice-coffee"
                  src="./images/buy-now-ice-coffee.jpg"
                  alt="Ice Coffee product image"
                />
                <h3 class="product-card-title">ice coffee</h3>
              </div>
            </li>
            <li>
              <div class="image-box box-milkshake">
                <img
                  class="product-image milkshake"
                  src="./images/buy-now-milkshake.jpg"
                  alt="Milkshake product image"
                />
                <h3 class="product-card-title">milkshake</h3>
              </div>
            </li>
          </ul>
        </div>
     
    
      <!-- <div class="header-nav">
        

        <button type="button" class="buy-now-btn">
          <span>Buy now</span>
          <svg class="" width="15" height="12">
            <use href="./images/symbol-defs.svg#icon-arrow-right" />
          </svg>
        </button>
      </div>
    </div> -->

    <!-- <div class="modal-buy-now">
      <h2>Buy now</h2>

      <ul class="product-card-list">
        <li>
          <div class="buy-now-image-box">
            <img
              class="buy-now-product-img"
              src="./images/buy-now-ice-cream.jpg"
              alt="ice-cream"
            />
            <h3 class="buy-now-card-title">ice cream</h3>
          </div>
        </li>
        <li>
          <div class="buy-now-image-box box-ice-coffee">
            <img
              class="buy-now-product-img ice-coffee"
              src="./images/buy-now-ice-coffee.jpg"
              alt="ice-coffee"
            />
            <h3 class="buy-now-card-title">ice coffee</h3>
          </div>
        </li>
        <li>
          <div class="buy-now-image-box box-milkshake">
            <img
              class="buy-now-product-img milkshake"
              src="./images/buy-now-milkshake.jpg"
              alt="milkshake"
            />
            <h3 class="buy-now-card-title">milkshake</h3>
          </div>
        </li>
      </ul>

      <div class="buy-now-modal-form">
        <form class="buy-now-modal-form">
          <input
            class="buy-now-form-input"
            id="name"
            type="text"
            name="name"
            placeholder="Name"
          />
        </form>
      </div>
      <div>
        <form class="buy-now-modal-form">
          <input
            class="buy-now-form-input"
            id="phone"
            type="text"
            name="phone"
            placeholder="Phone"
          />
        </form>
      </div>
      <div>
        <form class="buy-now-modal-form">
          <textarea
            class="textarea-container"
            id="comment"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </form>
      </div>
      <button type="button" class="buy-now-submit-btn">Submit</button>
    </div> -->
  </header>

  
</body>
