<body>
  <header>
    <div class="header-container">
      <a href="./index.html">
        <svg width="40" height="37">
          <use href="./images/symbol-defs.svg#icon-logo" />
        </svg>
      </a>
      <div class="hamburger-menu">
        <svg width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-hamburger-menu" />
        </svg>
      </div>

      <div class="header-nav">
        <ul>
          <li>
            <a class="header-nav-list home" href="#">Home</a>
          </li>
          <li>
            <a class="header-nav-list how-its-made" href="#">How it's made?</a>
          </li>
          <li>
            <a class="header-nav-list our-products" href="#">Our products</a>
          </li>
          <li>
            <a class="header-nav-list contact" href="#">Contact</a>
          </li>
        </ul>

        <button type="button" class="buy-now-btn">
          <span>Buy now</span>
          <svg class="" width="15" height="12">
            <use href="./images/symbol-defs.svg#icon-arrow-right" />
          </svg>
        </button>
      </div>
    </div>

    <div class="modal-buy-now">
      <h2>Buy now</h2>

      <ul class="product-card-list">
        <li>
          <div class="buy-now-image-box">
            <img
              class="buy-now-product-img"
              src="./images/buy-now-ice-cream.jpg"
              alt="ice-cream"
            />
            <h3 class="buy-now-card-title">ice cream</h3>
          </div>
        </li>
        <li>
          <div class="buy-now-image-box box-ice-coffee">
            <img
              class="buy-now-product-img ice-coffee"
              src="./images/buy-now-ice-coffee.jpg"
              alt="ice-coffee"
            />
            <h3 class="buy-now-card-title">ice coffee</h3>
          </div>
        </li>
        <li>
          <div class="buy-now-image-box box-milkshake">
            <img
              class="buy-now-product-img milkshake"
              src="./images/buy-now-milkshake.jpg"
              alt="milkshake"
            />
            <h3 class="buy-now-card-title">milkshake</h3>
          </div>
        </li>
      </ul>

      <div class="buy-now-modal-form">
        <form class="buy-now-modal-form">
          <input
            class="buy-now-form-input"
            id="name"
            type="text"
            name="name"
            placeholder="Name"
          />
        </form>
      </div>
      <div>
        <form class="buy-now-modal-form">
          <input
            class="buy-now-form-input"
            id="phone"
            type="text"
            name="phone"
            placeholder="Phone"
          />
        </form>
      </div>
      <div>
        <form class="buy-now-modal-form">
          <textarea
            class="textarea-container"
            id="comment"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </form>
      </div>
      <button type="button" class="buy-now-submit-btn">Submit</button>
    </div>
  </header>

  <footer>
    <div class="footer-container">
      <div class="footer-text">
        <p class="first-p">homemade ice cream made</p>
        <p class="second-p">with passion</p>
      </div>
      <div class="footer-svg">
        <ul>
          <li>
            <svg width="34" height="34">
              <use href="./images/symbol-defs.svg#icon-github" />
            </svg>
          </li>
          <li>
            <svg width="34" height="34">
              <use href="./images/symbol-defs.svg#icon-telegram" />
            </svg>
          </li>
          <li>
            <svg width="34" height="34">
              <use href="./images/symbol-defs.svg#icon-facebook" />
            </svg>
          </li>
        </ul>
      </div>
      <p class="footer-p">Feel free to contact</p>
      <address>
        <li>
          <a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
        </li>
      </address>
      <svg width="320" height="0">
        <use href="./images/symbol-defs.svg#icon-footer-line" />
      </svg>
      <p>© 2022 - IceCream.
        All Rights Reserved. </p>
    </div>
  </footer>
</body>
