<section>
    <div class="new_watches__subtitle">
        New watches
    </div>
    <div class="new_watches__main_box">
        <div class="new_watches__main-text new_watches__main-text-box">
            Green And Bronze - The Match Made In Heaven
        </div>
        <div class="new_watches__main_box_images">
            <div>
                <img class="new_watches__main_box_image" 
                srcset="./images/new_watches_hand_desktop_1x_optim.jpg 1x, ./images/new_watches_hand_tableta_2x_optim.jpg 2x, ./images/new_watches_hand_mobile_2x_optim.jpg 3x"
                alt="Watch front details"/>
        
            </div>
            <div>
                <img class="new_watches__main_box_image" 
                srcset="./images/new_watches_front_desktop_1x_optim.jpg 1x, ./images/new_watches_front_tableta_2x_optim.jpg 2x, ./images/new_watches_front_mobile_2x_optim.jpg 3x"
                alt="Wearing a watch"/>              
            </div>
        </div>
    </div>
</section>