<section class="new_watches_section">
    <div class="new_watches_div">
        <h3 class="new_watches__subtitle">
            New watches
        </h3>
        <h2 class="new_watches__main-text">
            Green And Bronze - The <br /> Match Made In Heaven
        </h2>
        <div class="new_watches__main_box">
            <div class="new_watches__main_box_images">
                <div>
                    <img class="new_watches__main_box_image" src="./images/hand_1x_optim.jpg"
                        srcset="./images/hand_1x_optim.jpg 1x, ./images/hand_2x_optim.jpg 2x" alt="Wearing a watch" />
                </div>
                <div>
                    <img class="new_watches__main_box_image" src="./images/front_1x_optim.jpg"
                        srcset="./images/front_1x_optim.jpg 1x, ./images/front_2x_optim.jpg 2x"
                        alt="Watch front details" />
                </div>
            </div>
        </div>
    </div>
</section>