<section class="our-yacht" id="our-yacht">
    <div class="our-yacht-container">
      <div class="title-div">
        <h2>Choose your dream yacht and sail away into the sunset</h2>
      </div>
      <div class="yachts-box">
        <ul class="card-list">
          <li class="card-1">
            <div class="card1-container">
              
                <img class="photo-card" src="./image/price/arrow.jpg" width="360" alt="Arrow" />
              <strong><p class="card-content-left">ARROW</p></strong>
              <p class="card-content-right">LUXURY YAHTS</p>
              <!-- <img class="line" src=".image/price/line" alt="line"> -->
              <p class="card-content-left">LENGTH BUILDER BUILT GUESTS PRICE</p>
              <strong
                ><p class="card-content-right">
                  48m(155ft) Admiral 2021 11 in 5 cabins €33,500,000
                </p></strong>
            </div>
          </li>
          <li class="card-2">
            <div class="card2-container">
              <img class="photo-card"
                src="./image/price/benetti.jpg"
                width="360"
                alt="BENETTI OASIS 40M BO122"
              />
              <strong><p class="card-content-left">BENETTI OASIS 40M BO122</p></strong>
              <p class="card-content-right">LUXURY YAHTS</p>
              <!-- <img class="line" src=".image/price/line" alt="line"> -->
              <p class="card-content-left">LENGTH BUILDER BUILT GUESTS PRICE</p>
              <strong
                ><p class="card-content-right">
                  41m (133ft) Benetti 2025 10 in 5 cabins €23,210,000
                </p></strong
              >
            </div>
          </li>
          <li class="card-3">
            <div class="card3-container">
              <img class="photo-card" src="./image/price/belle.jpg" width="360" alt="BELLE ANNA" />
              <strong><p class="card-content-left">BELLE ANNA</p></strong>
              <p class="card-content-right">LUXURY YAHTS</p>
              <!-- <img class="line" src=".image/price/line" alt="line"> -->
              <p class="card-content-left">LENGTH BUILDER BUILT GUESTS PRICE</p>
              <strong
                ><p class="card-content-right">
                  50m(155ft) ISA 2012 12 in 6 cabins €21,000,000
                </p></strong
              >
            </div>
          </li>
        </ul>
        <button type="button" class="orders-button">Yacht rental</button>
      </div>
    </div>
  </section>