<section class="products">
    <h2>Our products</h2>
    <div class="product-item">
        <img src="../images/orange.jpg" alt="Orange Chocolate">
        <h4>ORANGE</h4>
        <p>Dark chocolate</p>
        <button class="button">45 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/apple&cranberry.jpg" alt="Apple & Cranberry Chocolate">
        <h4>APPLE&CRANBERRY</h4>
        <p>Milk chocolate</p>
        <button class="button">50 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/lime&sea_salt.jpg" alt="Lime & Sea Salt Chocolate">
        <h4>LIME&SEA SALT</h4>
        <p>Dark chocolate</p>
        <button class="button">66 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/pineapple.jpg" alt="Pineapple Chocolate">
        <h4>PINEAPPLE</h4>
        <p>Dark chocolate</p>
        <button class="button">54 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/classic.jpg" alt="Classic Chocolate">
        <h4>CLASSIC</h4>
        <p>Milk chocolate</p>
        <button class="button">45 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/honey.jpg" alt="Honey">
        <h4>HONEY</h4>
        <p>Milk chocolate</p>
        <button class="button">50 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/roasted_fruits.jpg" alt="Roasted Fruits">
        <h4>ROASTED FRUITS</h4>
        <p>Dark chocolate</p>
        <button class="button">66 UAH</button>
    </div>
    <div class="product-item">
        <img src="../images/classic_white.jpg" alt="Classic">
        <h4>CLASSIC</h4>
        <p>White chocolate</p>
        <button class="button">54 UAH</button>
    </div>
</section>