<section id="price-section" class="prices-section">
    <div class="prices-container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="prices-list">
            <li>
                <img
                  class="prices-line"
                  src="./images/prices-horizontal-line.jpg"
                  alt="Horizontal line"
                />
                <div class="service-and-price">
                <h3 class="service">CHAIRS</h3>
                <p>from 200$</p>
                </div>
            </li>

            <li>
                <img
                class="prices-line"
                src="./images/prices-horizontal-line.jpg"
                alt="Horizontal line"
              />
              <div class="service-and-price">
              <h3 class="service">TABLES</h3>
              <p>from 250$</p>
              </div>
            </li>
            <li>
                <img
                class="prices-line"
                src="./images/prices-horizontal-line.jpg"
                alt="Horizontal line"
              />
              <div class="service-and-price">
              <h3 class="service">DRESSERS</h3>
              <p>from 300$</p>
              </div>
            </li>
            <li>
                <img
                class="prices-line"
                src="./images/prices-horizontal-line.jpg"
                alt="Horizontal line"
              />
              <div class="service-and-price">
              <h3 class="service">SOFAS</h3>
              <p>from 500$</p>
              <img
                class="prices-line"
                src="./images/prices-horizontal-line.jpg"
                alt="Horizontal line"
              />
              </div>
            </li>
        </ul>
    </div>
</section>