<section class="products" id="products-section">
  <div class="container">
    <h2 class="products-header">OUR PRODUCTS</h2>
    <ul class="products-list">
      <li class="products-item">
        <img
          src="./images/product-1.jpg"
          class="products-photo"
          width="343"
          alt="Scandinavian cabinet"
        />
        <p class="products-desc">Minimalist storage solutions</p>
      </li>
      <li class="products-item">
        <img
          src="./images/product-2.jpg"
          class="products-photo"
          width="343px"
          alt="Blue sofa"
        />
        <p class="products-desc">Handcrafted minimalist seating</p>
      </li>
      <li class="products-item">
        <img
          src="./images/product-3.jpg"
          class="products-photo"
          width="343"
          alt="Dining table"
        />
        <p class="products-desc">Sleek and simple tables</p>
      </li>
      <li class="products-item">
        <img
          src="./images/product-4.jpg"
          class="products-photo"
          width="343"
          alt="Blue bar chair"
        />
        <p class="products-desc">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
