:root {
  --font-dm-sans:"DM Sans";
  --font-titan-one:"Titan One", sans-serif;
  --background-section2-section3-rozDeschis: #FFB8CA;
  --background-section2-roz-inchis: #FFA5BA;
  --background-section3-section7-bej: #F0D1A5;
  --background-section3-section7-verde: #C2E297;
  --backround-sec4-sec5-sec7-sec8-rozAlbit: #FFF5F6;
  --bacground-buttonWhite-sec1-sec2-sec4-sec7: #FFFFFF;
  --background-buttonRed-section2-section7: #D41443;
  --backgoundSVG-footer: #FEA5BB;
  --background-modal: #E18298;
  --underline-color: #E1E1E1;
  --font-color-white: #FFFFFF;
  --font-color-red: #D41443;
  --font-color-pink: #FFA5BA;
  --font-color-footer-Grey: #907E82;
}

@font-face {
  font-family: "DM Sans";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
}

@font-face {
  font-family: "Titan One";
  src: url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
}

.container {
  width: 1200px;
  margin: 0, auto;
}


.title-products h3{
  font-family: var(--font-titan-one);
  color: var(--font-color-pink);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}
.title-products h2{
  font-family: var(--font-titan-one);
  color: var(--font-color-red);
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.card-products {
  display: flex;
  text-align: center;


}
.card h3 {
  font-family: var(--font-titan-one);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-color-white);
  padding-top: 165px;

}
.card p {
  font-family: var(--font-dm-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--font-color-white);
  padding-top: 32px;
}

.points {
  padding-top: 16px;

}
.arrow {
  width: 38px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: var(--font-color-red);
  margin-top: 32px;
}
.card1 {
  position: relative;

}

.card {
  width: 368px;
  height: 796px;
  margin-left: 32px;
}
.card1 {
  background-color: var(--background-section2-section3-rozDeschis);
  border-radius: 24px;
  width: 368px;
  height: 535px;

}
.card2 {
  background-color: var(--background-section3-section7-bej);
  border-radius: 24px;
  width: 368px;
  height: 535px;

}
.card3 {
  background-color: var(--background-section3-section7-verde);
  border-radius: 24px;
  width: 368px;
  height: 535px;

}

.card-products {

}

.card {


}

.img1 {

border-radius: 50%;
}