<section class="section-products">
  <div class="section-products-header">
    <span class="section-products-header-span">100% natural</span>
    <h1 class="section-products-header-title">products</h1>
  </div>

  <div class="products-grid container">
    <ul class="products-grid-list">
      <li class="product-card-item ice-cream-container">
        <div class="product-card-container">
          <h2 class="product-card-title">ice cream</h2>
          <p class="product-card-paragraph">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="product-card-arrow-button">
            <svg class="product-card-icon" width="40" height="16">
              <use href="./images/icons-products.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-card-item ice-coffee-container">
        <div class="product-card-container">
          <h2 class="product-card-title">ice coffee</h2>
          <p class="product-card-paragraph">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="product-card-arrow-button">
            <svg class="product-card-icon" width="40" height="16">
              <use href="./images/icons-products.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-card-item milkshakes-container">
        <div class="product-card-container">
          <h2 class="product-card-title">milkshakes</h2>
          <p class="product-card-paragraph">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button type="button" class="product-card-arrow-button">
            <svg class="product-card-icon" width="40" height="16">
              <use href="./images/icons-products.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
