<section class="contact-container">
    <div class="image-container">
        <img src="./image/rent/rent-desc.jpg" alt="" width="658px" height="534px">
    </div>
    <form action="" class="contact-form">
        <div class="contact-form-title">
            <h2>Rent a yacht now</h2>
        </div>
        <div class="input-form">
            <input class="label-text" type="text" placeholder="Full Name">
            <input class="label-text" type="email" id="email" placeholder=" Email">
            <input class="label-text" type="text" placeholder="Phone number">
            <textarea class="label-text text-area" name="comment" id="comment" placeholder="Comment"></textarea>
        </div>
        <button class="btn-yacht-form" type="button">Send</button>
    </form>
</section>
