<section class="contact-container section" id="rent-a-yacht">
  <div class="rent-container form-container">
    <div class="rent-form">
      <h2 class="contact-form-title">Rent a yacht now</h2>
      <form class="contact-form">
        <div class="input-form">
          <input
            class="label-text"
            type="text"
            placeholder="Full Name"
            required
          />
          <input
            class="label-text"
            type="email"
            id="email"
            placeholder=" Email"
            required
          />
          <input
            class="label-text"
            type="text"
            placeholder="Phone number"
            required
          />
          <textarea
            class="label-text text-area"
            name="comment"
            id="comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="btn-yacht-form" type="button">Send</button>
      </form>
    </div>

    <div class="image-container">
      <picture class="rent-picture">
        <source
          srcset="
            ./image/rent/rent-desk-1x.jpg 1x,
            ./image/rent/rent-desk-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./image/rent/rent-tab-1x.jpg 1x,
            ./image/rent/rent-tab-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./image/rent/rent-mob-1x.jpg 1x,
            ./image/rent/rent-mob-2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="img-rent"
          src="./image/rent/rent-desk-1x.jpg"
          alt="Rent a yacht"
        />
      </picture>
    </div>
  </div>
</section>
