<section class="reviews" id="reviews-section">
    <div class="reviews-container">
        <h2 class="reviews-title">Clients reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <div class="clients-box">
                    <picture>
                        <source srcset="
                                          ./images/client1-tablet@1x.jpg 1x,
                                          ./images/client1-tablet@2x.jpg 2x
                                        " media="(min-width: 768px)" />
                        <source srcset="
                                          ./images/client1-mobile@1x.jpg 1x,
                                          ./images/client1-mobile@2x.jpg 2x
                                        " media="(min-width: 320px)" />
                        <img src="./images/client1-tablet.jpg" alt="Client Alexandra Dream" />
                    </picture>
                    <div class="clients-information">
                        <h3 class="clients-name">Alexandra dream</h3>
                        <p class="clients-reviews">1 week ago</p>
                    </div>
                </div>
                <p class="clients-comment">
                    I was blown away by the quality and craftsmanship of the
                    furniture I received from this company. Each piece was unique
                    and beautifully designed, and you can tell that a lot of thought
                    and care goes into every detail.
                </p>
            </li>
            <li class="reviews-item extra-second-item">
                <div class="clients-box">
                    <picture>
                        <source srcset="
                                          ./images/client-2-tablet@1x.jpg 1x,
                                          ./images/client-2-tablet@2x.jpg 2x
                                        " media="(min-width: 768px)" />

                        <img src="./images/client-2-tablet.jpg" alt="Client James Williams" />
                    </picture>
                    <div class="clients-information">
                        <h3 class="clients-name">James Williams</h3>
                        <p class="clients-reviews">A week ago</p>
                    </div>
                </div>
                <p class="clients-comment">
                    The "Minimal" furniture set is a fantastic addition to my home.
                    It boasts a minimalist design, enhancing the feel and look of my
                    living space. The sturdy construction is worth noting too, which
                    speaks volumes about its durability.
                </p>
            </li>
            <li class="reviews-item extra-third-item">
                <div class="clients-box">
                    <picture>
                        <source srcset="
                                          ./images/client-3-desktop@1x.jpg 1x,
                                          ./images/client-3-desktop@2x.jpg 2x
                                        " media="(min-width: 1440px)" />
                        <img src="./images/client-3-desktop.jpg" alt="Client James Williams" />
                    </picture>
                    <div class="clients-information">
                        <h3 class="clients-name">Emily Watson</h3>
                        <p class="clients-reviews">3 week ago</p>
                    </div>
                </div>
                <p class="clients-comment">
                    The "Minimal" furniture set has far exceeded my expectations.
                    The sleek design combined with the high-quality materials have
                    not only added an exceptional aesthetic to my space but also
                    offered an uncompromising standard of comfort.
                </p>
            </li>
        </ul>
    </div>
</section>