<section class="reviews-section">
    <h1 class="title"><span class="title-chocolate">Chocolate </span>is loved</h1>
    <div class="carousel-container">

      <div id="slide1" class="carousel-slide">
        <img class="media-img" src="./images/reviews.images/victoria-dobrzhanska.jpg" alt="Victoria Dobrzhanska image" width="80">
        <div class="media">
           <h5 class="media-name">Victoria Dobrzhanska</h5>
           <p class="media-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
        </div>
      </div>

      <div class="carousel-slide">
        <img class="media-img" src="./images/reviews.images/nazar-babenko.jpg" alt="Nazar Babenko image" width="80">
        <div class="media">
           <h5 class="media-name">Nazar Babenko</h5>
           <p class="media-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
        </div> 
      </div>

      <div id="slide2" class="carousel-slide">
        <img class="media-img" src="./images/reviews.images/olena-kampusch.jpg" alt="Olena Kampusch image" width="80">
        <div class="media">
           <h5 class="media-name">Olena Kampusch</h5>
           <p class="media-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
        </div> 
      </div>

      <div class="carousel-slide">
        <img class="media-img" src="./images/reviews.images/natalia-sus.jpg" alt="Natalia Sus image" width="80">
        <div class="media">
           <h5 class="media-name">Natalia Sus</h5>
           <p class="media-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
           </div> 
      </div>

      <div id="slide3" class="carousel-slide">
        <img class="media-img" src="./images/reviews.images/danilo-nottingham.jpg" alt="Danilo Nottingham image" width="80">
        <div class="media">
            <h5 class="media-name">Danilo Nottingham</h5>
            <p class="media-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
           </div> 
      </div>

      <div id="slide4" class="carousel-slide">
         <img class="media-img" src="./images/reviews.images/irina-tydnyuk.jpg" alt="Irina Tydnyuk image" width="80">
        <div class="media">
            <h5 class="media-name">Irina Tydnyuk</h5>
            <p class="media-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
            </div> 
      </div>
    </div>
    <div class="nav-dots">
    <a href="#slide1"><span class="dot"></span></a>
    <a href="#slide2"><span class="dot"></span></a>
    <a href="#slide3"><span class="dot"></span></a>
    <a href="#slide4"><span class="dot"></span></a>
    </div>
    <button type="button" class="reviews-button">Leave a review</button>
  </section>