<section class="reviews">
    <h2 id="chocolate-is-loved">chocolate<span> is loved</span></h2>

        <ul class="slides">   
            <li class="slide">
                
                    <picture">
                        <source 
                        srcset="./images/Review_VictoriaDobrzhanska@1x.jpg" media="(max-width: 768px)"
                        />
                        <source
                        srcset="./images/Review_VictoriaDobrzhanska@2x.jpg" 
                        media="(min-width: 769px)"
                        />
                        <img src="./images/Review_VictoriaDobrzhanska@2x.jpg" alt="Portret"
                        />
                    </picture> 
                    <h3>Victoria Dobrzhanska</h3>
                    <p>I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p> 
                 
            </li>

            <li class="slide">
                
                    <picture">
                        <source 
                        srcset="./images/Review_NazarBabenko@1x.jpg" media="(max-width: 768px)"
                        />
                        <source
                        srcset="./images/Review_NazarBabenko@2x.jpg" 
                        media="(min-width: 769px)"
                        />
                        <img src="./images/Review_NazarBabenko@2x.jpg" alt="Portret"
                        />
                    </picture> 
                    <h3>Nazar Babenko</h3>
                    <p>This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p> 
                 
            </li>

            <li class="slide">
                
                    <picture">
                        <source 
                        srcset="./images/Review_OlenaKampusch@1x.jpg" media="(max-width: 768px)"
                        />
                        <source
                        srcset="./images/Review_OlenaKampusch@2x.jpg" 
                        media="(min-width: 769px)"
                        />
                        <img src="./images/Review_OlenaKampusch@2x.jpg" alt="Portret"
                        />
                    </picture> 
                    <h3>Olena Kampusch</h3>
                    <p> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p> 
                
            </li>

            <li class="slide">
                
                    <picture">
                    <source 
                    srcset="./images/Review_NataliaSus@1x.jpg" media="(max-width: 768px)"
                    />
                    <source
                    srcset="./images/Review_NataliaSus@2x.jpg" 
                    media="(min-width: 769px)"
                    />
                    <img src="./images/Review_NataliaSus@2x.jpg" alt="Portret"
                    />
                </picture> 
                    <h3>Natalia Sus</h3>
                    <p>The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>  
                
            </li>

            <li class="slide">
                
                    <picture">
                    <source 
                    srcset="./images/Review_IrinaTydnyuk@1x.jpg" media="(max-width: 768px)"
                    />
                    <source
                    srcset="./images/Review_IrinaTydnyuk@2x.jpg" 
                    media="(min-width: 769px)"
                    />
                    <img src="./images/Review_IrinaTydnyuk@2x.jpg" alt="Portret"
                    />
                </picture> 
                    <h3>Irina Tydnyuk</h3>
                    <p>This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :) </p> 
                
            </li>
        </ul>

        <div class="carousel_move">
            <button class="crs"></button>
            <button class="crs"></button>
            <button class="crs"></button>
            <button class="crs"></button>
            <button class="crs"></button>
            <button class="crs"></button>
            
        </div>

    <button data-modal-open="modal4" class="revbtn">Leave a review</button>

    <div data-modal="modal4" class="is-hidden reviews">
        <div class="reviews__content" data-modal-content>
            <button class="reviews__button-close" data-modal-close type="button">
                <svg class="close"><use href="./images/icons.svg#icon-x-close_ferestre"></use></svg>
            </button>

            <p class="form-title mobile-p">leave a review <br>about <span>our chocolate</span></p>
            <p class="form-title change-paragraph">leave a review about <br><span>our chocolate</span></p>

            <form action="#">
                
                <div class="form-content">
                    <label class="tofill">
                    <input type="text" name="person-name" placeholder="Name">
                    </label>
                    
                    <label class="tofill">
                    <input type="email" name="e-mail-address" placeholder="Enter your email">
                    </label>
                    
                    <label class="tofill localph">
                        <img src="./images/Reviews-for-label-LeftInput.jpg" alt="It is a local site">
                    <input type="tel" name="phone-number" placeholder="Phone number" required>
                    </label>
                    
                    <label class="tocomment">
                    <textarea name="comments-u-have" rows="5" placeholder="Enter text" required></textarea>
                    </label> 

                </div> 
    
                    <button class="large-btn" type="submit">Send</button>
  
            </form>
        </div>
    </div>
    <script src="./js/reviews-popup.js"></script>

        
    </div>   
</section>