<!-- Sale section
<section class="sale-section">
  <div class="container">
    <div class="sale-title">
      <h2>Sale</h2>
    </div>
    <div class="sale-container__products">
      <div class="sale-img__products">
        <ul class="sale-products">
          <li><img src="./partials/images/img-1.jpg" alt="Watch" /></li>
          <li>
            <img src="./partials/images/img-2.jpg" alt="Watch on a side" />
          </li>
          <li>
            <img src="./partials/images/img-3.jpg" alt="Watch backwords" />
          </li>
          <li><img src="./partials/images/img-4.jpg" alt="Watch Cadran" /></li>
        </ul>
      </div>
      <div class="sale-img__section">
        <div class="sale-img">
          <img src="./partials/images/img-x1.jpg" alt="Watch Police" />
        </div>
      </div>
      <div class="sale-text">
        <div class="sale-name">
          <h3>
            Greenlane Watch By<br />
            Police For MenHT
          </h3>
        </div>
        <div class="sale-info">
          <h6>Product tag: PEWJK2227003</h6>
          <p>€700 <span>€1000</span></p>
        </div>
        <div class="sale-description">
          <h5>Description</h5>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-description__list">
          <h5>DETAILS & FEATURESTION</h5>
          <p>
            Gender: man<br />
            Size: 46x54.5mm <br />Case Colour: Steel<br />
            Band Material: Metal Case <br />Material: Metal<br />
            Features: Multifunction Water<br />
            Resistant: 5 (ATM) Band <br />Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
