<section class="sale">
  <div class="sale__section">
    <h1 class="sale__title">Sale</h1>
    <div class="sale__part">
      <div class="sale__images-part">
        <div class="sale__images-list">
          <ul class="sale__images-list-1">
            <li class="sale__images-list-1">
              <img
                class="sale__image"
                src="./images/sale-watch@1x-1.jpg"
                srcset="
                  ./images/sale-watch@1x-1.jpg 1x,
                  ./images/sale-watch@2x-1.jpg 2x
                "
                alt="watch-photo-front"
              />
            </li>
            <li class="sale__images-list-1">
              <img
                class="sale__image"
                src="./images/sale-watch@1x-2.jpg"
                srcset="
                  ./images/sale-watch@1x-2.jpg 1x,
                  ./images/sale-watch@2x-2.jpg 2x
                "
                alt="watch-photo-front"
              />
            </li>
            <li class="sale__images-list-1">
              <img
                class="sale__image"
                src="./images/sale-watch@1x-3.jpg"
                srcset="
                  ./images/sale-watch@1x-3.jpg 1x,
                  ./images/sale-watch@2x-3.jpg 2x
                "
                alt="watch-photo-back"
              />
            </li>
            <li class="sale__images-list-1">
              <img
                class="sale__image"
                src="./images/sale-watch@1x-4.jpg"
                srcset="
                  ./images/sale-watch@1x-4.jpg 1x,
                  ./images/sale-watch@2x-4.jpg 2x
                "
                alt="watch-photo-display"
              />
            </li>
          </ul>
        </div>
        <div class="sale__image-list-2">
          <img
            class="sale__image"
            src="./images/sale-watch@1x-5.jpg"
            srcset="
              ./images/sale-watch@1x-5.jpg 1x,
              ./images/sale-watch@2x-5.jpg 2x
            "
            alt="watch-photo-front"
          />
        </div>
      </div>
      <div class="sale__info">
        <h2 class="sale__subtitle">Greenlane Watch By Police For MenHT</h2>
        <p class="sale__product-tag">Product tag: PEWJK2227003</p>
        <p class="sale__price">€700 <span>€1000</span></p>
        <h4 class="sale__description">DESCRIPTION</h4>
        <p class="sale__text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
        <h4 class="sale__description">DETAILS & FEATURESTION</h4>
        <p class="sale__text">
          Gender: man <br />
          Size: 46x54.5mm <br />
          Case Colour: Steel <br />
          Band Material: Metal <br />
          Case Material: Metal <br />
          Features: Multifunction <br />
          Water Resistant: 5 (ATM) <br />
          Band Colour: Steel
        </p>
      </div>
    </div>
  </div>
</section>
