<section class="top-sellers">
  <h2 id="top-sellers" class="title"><span>Top</span> Sellers</h2>
  <ul class="seller-list">
    <li class="seller">
      <img
        src="./images/TopSellers_img1_Desktop@1x.jpg"
        alt="Top Seller 1"
        class="responsive-img"
      />
    </li>
    <li class="seller">
      <img
        src="./images/TopSellers_img2_Desktop@1x.jpg"
        alt="Top Seller 2"
        class="responsive-img"
      />
    </li>
    <li class="seller">
      <img
        src="./images/TopSellers_img3_Desktop@1x.jpg"
        alt="Top Seller 3"
        class="responsive-img"
      />
    </li>
  </ul>
  <div class="seller-description">
    <p>
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="button-buy">BUY NOW</button>
  </div>
</section>
