<section class="top-sellers">
  <h2>Top Sellers</h2>
  <div>
    <img src="./images/TopSellers_img1_Desktop@1x.jpg" alt="Top Seller 1" />
    <img src="./images/TopSellers_img2_Desktop@1x.jpg" alt="Top Seller 2" />
    <img src="./images/TopSellers_img3_Desktop@1x.jpg" alt="Top Seller 3" />
  </div>
  <div>
    <p>
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="button">BUY NOW</button>
  </div>
</section>
