<section class="unique-comp">
    <h2>IT ALL ADDS UP TO ONE <br> EXCEPTIONAL 
        <span>TASTE</span> 
        SENSATION</h2>
    <center>
        <p class="unique-comp__description">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    </center>
    <ul>
        <li class="unique-comp__card">
            <div class="ingredient-over">
                <p class="ingredient-over__name">Milk chocolate</p>
                <div class="ingredient-over__btn">
                    <button class="ingredient-over__btn__1">chocolate</button>
                    <button class="ingredient-over__btn__2">the benefits</button>
                </div>
                <p class="ingredient-over__text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
            </div>
            <picture class="ingredient-img">
                <source 
                srcset="./images/unique-components-ingredients/chocolate-bar-for-mobile.png" media="(max-width: 768px)"
                />
                <source
                srcset="./images/unique-components-ingredients/chocolate-bar-for-station.png" 
                media="(min-width: 769px)"
                />
                <img src="./images/unique-components-ingredients/chocolate-bar-for-mobile.png" alt="Some pieces of chocolate ingredient"
                />
            </picture>   
            <p class="ingredient-name">MILK CHOCOLATE</p>
        </li>
        <li class="unique-comp__card">
            <div class="ingredient-over">
                <p class="ingredient-over__name">Milk</p>
                <div class="ingredient-over__btn">
                    <button class="ingredient-over__btn__1">milk</button>
                    <button class="ingredient-over__btn__2">the benefits</button>
                </div>
                <p class="ingredient-over__text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
            </div>
            <picture class="ingredient-img">
                <source 
                srcset="./images/unique-components-ingredients/milk-for-mobile.png" media="(max-width: 768px)"
                />
                <source
                srcset="./images/unique-components-ingredients/milk-for-station.png" 
                media="(min-width: 769px)"
                />
                <img src="./images/unique-components-ingredients/milk-for-mobile.png" alt="A classic glass bottle with milk"
                />
            </picture>   
            <p class="ingredient-name">MILK</p>
        </li>
        <li class="unique-comp__card">
            <div class="ingredient-over">
                <p class="ingredient-over__name">NUTS</p>
                <div class="ingredient-over__btn">
                    <button class="ingredient-over__btn__1">nuts</button>
                    <button class="ingredient-over__btn__2">the benefits</button>
                </div>
                <p class="ingredient-over__text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They&#x2019re a good source of fiber, healthy fats, and plant protein. Plus, they&#x2019re great on their own.</p>
            </div>
            <picture class="ingredient-img">
                <source 
                srcset="./images/unique-components-ingredients/nuts-for-mobile.png" media="max-width: 768px"
                />
                <source
                srcset="./images/unique-components-ingredients/nuts-for-station.png" 
                media="min-width: 769px"
                />
                <img src="./images/unique-components-ingredients/nuts-for-mobile.png" alt="Some nuts"
                />
            </picture>   
            <p class="ingredient-name">NUTS</p>
        </li>
        <li class="unique-comp__card">
            <div class="ingredient-over">
                <p class="ingredient-over__name">SEMI - SWEET CHOCOLATE</p>
                <div class="ingredient-over__btn">
                    <button class="ingredient-over__btn__1">sweet chocolate</button>
                    <button class="ingredient-over__btn__2">the benefits</button>
                </div>
                <p class="ingredient-over__text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
            </div>
            <picture class="ingredient-img">
                <source 
                srcset="./images/unique-components-ingredients/beans-for-mobile.png" media="max-width: 768px"
                />
                <source
                srcset="./images/unique-components-ingredients/beans-for-station.png" 
                media="min-width: 769px"
                />
                <img src="./images/unique-components-ingredients/beans-for-mobile.png" alt="A bunch of cocoa beans"
                />
            </picture>   
            <p class="ingredient-name">SEMI - SWEET CHOCOLATE</p>
        </li>  
    </ul>
</section>