.about-us-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.about-us__text {
    display: flex;
    gap: 20px;
}

.about-us__text p {
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.02em;
    margin-left: 15px;
}

.about-us__texts h3 {
    font-family: Epilogue;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: -1px;
    padding: 0 50px;
}

.about-us-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-us__texts {
    display: flex;
    gap: 125px;
}

.about-us__img {
    display: flex;
    justify-content: flex-end;
}

.about-us__img img {
    min-width: 100px;
    min-height: 365px;
}
@media screen and (max-width: 767px) {
    .about-us-section {
        margin: 0 auto;
        padding: 40px 0;
    }

    .container {
        margin: 0 auto;
        padding: 0 20px;
    }

    .about-us__texts {
        flex-direction: column;
        gap: 0px;
    }

    .about-us__text br {
        display: none;
    }

    .about-us__text {
        flex-direction: column;
    }

    .about-us__texts h3 {
        padding: 0;
        font-size: 32px;
        line-height: 40px;
    }
}
@media screen and (min-width: 768px) 
and (max-width: 1279px){
    .about-us-section {
            margin: 0 auto;
            padding: 40px 0;
        }
    
        .comtainer {
            margin: 0 auto;
            padding: 0 20px;
        }
    
        .about-us__text br {
            display: none;
        }
    
        .about-us__texts h3 {
            padding: 0;
            white-space: nowrap;
        }
    
        .about-us__text p {
            -webkit-line-clamp: 8;
        }
    
        .about-us__texts {
            display: flex;
            gap: 50px;
        }
    }