.footer-section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    min-height: 270px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--white);

}

@media screen and (max-widt: 374px) {
    .footer-section {
        height: 440px;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 50px;
    margin-right: 50px;;
  
}

.footer-container p {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 32px;
    
}
@media screen and (max-width: 374px) {
    .footer-container p {
        font-size: 24px;
        line-height: 1.2;
    }
}

.footer__slogan {
    color: var(--orange);
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.footer-contact p,
.footer-contact a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color:var(--white);
}

.footer_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

}

@media screen and (max-width: 374px) {
    .footer_social {
        gap: 14px;
        margin-right: 20px;
    }
}


.footer_social li {
    list-style: none;
    width: 24px;
    height: 24px;

}

.footer_social__icon {
    fill: var(--black);
    stroke: var(--white);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.footer__line {
    display:flex;
    max-width: 1136px;
    width: 100%;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #FFFFFF1A;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 62px;

    
}
@media screen and (max-width: 767px) {
    .footer__line {
            max-width: 704px;
            padding-left: 32px;
            padding-right: 32px;
            
    }
}

@media screen and (max-width: 374px) {
    .footer__line {
        /* max-width: 1136px;
        padding-left: 32px;
        padding-right: 32px; */
        max-width: 335px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer__navigation {
    list-style: none;
    display: flex;
    /* flex-direction: raw; */
    align-items: center;
    justify-content: center;
    max-width: 532px;
    gap: 25px;
    margin-left: 32px;
    margin-bottom: 50px;

}

@media screen and (max-width: 374px) {
    .footer__navigation {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: baseline;
        gap: 18px;
        margin-left: 20px;
        margin-bottom: 32px;
    
        }
}

.footer__navigation a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}
