.header.container {
      max-width: 1136px;
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
      margin-bottom: 32px;
      margin-left: 32px;
      margin-right: 32px;

}

.logo-container {
      font-size: 14px;
      line-height: 1.3;
      font-weight: 700;
      letter-spacing: -0.03em;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
}

@media screen and (min-width: 1200px) {
      .logo-container {
            font-size: 18px;
            line-height: 1.1;
      }
}

.logo-text__simply {
      font-style: italic;
}


.logo-container svg {
      width: 21px;
      height: 21px;
}

@media screen and (min-width: 1200px) {
      .logo-container svg {
            width: 24px;
            height: 24px;
      }

}

.header__navigation ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 532px;
      gap: 25px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
      gap: 25px;
}

.header__navigation a {
      text-decoration: none;
      color: var(--black);
}

.header_social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

}

.header_social li {
      list-style: none;
      width: 24px;
      height: 24px;

}

.header_social__icon {
      fill: var(--white);
      stroke: var(--black);
      width: 20px;
      height: 20px;
}

/* Mobile header styling */
.header__logo-mobile {
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      max-width: 704px;
      width: 100%;
      padding: 20px;

}

@media screen and (max-width: 375px) {
      .header__logo-mobile {
            max-width: 335px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 14px;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 0;
      }
}

/* <!--Meniu pt navigare - mobile size --> */

.js-open-menu {
      display: none;
}

.header__logo-mobile {
      display: none;
}

.button--toggle-menu {
      width: 32px;
      height: 32px;
      background-color: var(--white);
      border: none;
      stroke: var(--black);
      cursor: pointer;

}

@media screen and (max-width: 375px) {
      .button--toggle-menu {
            width: 28px;
            height: 28px;
      }
}

/* .button--toggle-menu__icon:hover {
      stroke: var(--blue)
} */


.js-menu-container {
      /* max-width: 220px;
      max-height: 812px; */
      max-width: 290px;
      max-height: 1024px;
      display: none;
      background-color: var(--black);
      color: white;
      position: fixed;
      right: 32px;
      height: 100%;
      width: 100%;
      /* padding: 20px; */
}

@media screen and (max-width: 374px) {
      .js-menu-container {
            max-width: 290px;
            max-height: 1024px;
            max-width: 220px;
            max-height: 812px;
      }
}


.is-open {
      display: block;
      top: 0;
}

.header__navigation__mobil ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content:flex-start;
      /* max-width: 532px; */
      gap: 25px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
      gap: 25px;
      padding: 20px;

}

.header__navigation__mobil a {
      text-decoration: none;
      color: var(--white);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
      text-align: left;
      
}

/* Media query for mobile  */

@media screen and (max-width: 767px) {
      .js-open-menu {
            display: block;

      }

      .header.container {
            display: none;
      }

      .header__logo-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* height: 60px; */
      }

      .button-close-menu {
            width: 32px;
            height: 32px;
            display: block;
            margin-left: auto;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            background-color: var(--black);

      }

      .buton-mobile_X {
            width: 19px;
            height: 19px;
            background-color: var(--black);
            cursor: pointer;
            fill: var(--white);
            stroke: var(--white);

      }

      .button-close-menu svg:hover {
            fill: var(--blue);
      }








}