.header.container {
      max-width: 1136px;
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding-top: 24px;
      padding-bottom: 32px;
      padding-right:32px;
      padding-left: 32px;;

}

.logo-container {
      font-size: 14px;
      line-height: 1.3;
      font-weight: 700;
      letter-spacing: -0.03em;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
}

@media screen and (min-width: 1200px) {
      .logo-container {
            font-size: 18px;
            line-height: 1.1;
      }
}

.logo-text__simply {
      font-style: italic;
}


.logo-container svg {
      width: 21px;
      height: 21px;
}

@media screen and (min-width: 1200px) {
      .logo-container svg {
            width: 24px;
            height: 24px;
      }

}

.header__navigation ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 532px;
      gap: 25px;
    
}

.header__navigation a {
      text-decoration: none;
      color: var(--black);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
}

.header_social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

}

.header_social li {
      list-style: none;
      width: 24px;
      height: 24px;

}

.header_social__icon {
      fill: var(--white);
      stroke: var(--black);
      width: 20px;
      height: 20px;
      cursor: pointer;
}
@media screen and (max-width: 767px) {
      .header_social__icon {
            fill: var(--black);
            stroke: var(--white);
      }
      
}

.header_social__icon:hover, 
.header_social__icon:focus {
      stroke: var(--orange);

}

/* Mobile header styling */
.header__logo-mobile {
      display: flex;
      margin: 0 auto ;
      justify-content: space-between;
      align-items: center;
      max-width: 704px;
      width: 100%;
      padding: 20px;

}

@media screen and (max-width: 375px) {
      .header__logo-mobile {
            max-width: 335px;
            width: 100%;
            /* margin-top: 20px; */
            margin-bottom: 14px;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 0;
      }
}

/* <!--Meniu pt navigare - mobile size --> */

.js-open-menu {
      display: none;
}

.header__logo-mobile {
      display: none;
}

.button--toggle-menu {
      width: 32px;
      height: 32px;
      background-color: var(--white);
      border: none;
      stroke: var(--black);
      cursor: pointer;
   

}

@media screen and (max-width: 375px) {
      .button--toggle-menu {
            width: 28px;
            height: 28px;
      }
}

/* .button--toggle-menu__icon:hover {
      stroke: var(--blue)
} */


.js-menu-container {
      max-width: 290px;
      max-height: 1024px;
      display: none;
      background-color: var(--black);
      color: white;
      position: fixed;
      right: 32px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right:0;
      z-index: 2;
}

@media screen and (max-width: 374px) {
      .js-menu-container {
            max-width: 220px;
            max-height: 812px;
      }
}


.is-open {
      display: block;
      top: 0;
}

.header__navigation__mobil ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content:flex-start;
      max-width: 124px;
      gap: 25px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
      gap: 25px;
      margin: 0 auto;
      position: absolute;
      top: 156px;
      left: 85px;
}

@media screen and (max-width: 375px) {
      .header__navigation__mobil ul {
            top: 136px;
            left: 50px;
      }
}

.header__navigation__mobil a {
      text-decoration: none;
      color: var(--white);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
      text-align: left;  
      
}

.header__navigation__mobil a:hover,
.header__navigation__mobil a:focus {
      color: var(--orange);
}

.header_social__mobil {
      list-style: none;
      text-decoration: none;
      display: flex;
      max-width: 66px;
      width: 100%;
      gap: 10px;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 24px;
      left: 32px;
}

@media screen and (max-width: 375px) {
      .header_social__mobil {
            bottom: 20px;
            left: 20px;
      }
}

.header_social__icon a {
      width:24px;
      height:24px;
}

/* Media query for mobile/tablet  */

@media screen and (max-width: 767px) {
      .js-open-menu {
            display: block;

      }

      .header.container {
            display: none;
      }

      .header__logo-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* height: 60px; */
      }

      .button-close-menu {
            width: 32px;
            height: 32px;
            display: block;
            margin-left: auto;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            background-color: var(--black);

      }

      .buton-mobile_X {
            width: 32px;
            height: 32px;
            background-color: var(--black);
            cursor: pointer;
            stroke: var(--white);
            position:absolute;
            top: 24px;
            right: 32px;

      }

      @media screen and (max-width: 375px) {
            .buton-mobile_X {
                  width: 28px;
                  height: 28px;
                  top: 20px;
                  right: 20px;
            
            }
      }

}

.buton-mobile_X:hover {
      stroke: var(--orange);

}

.button-close-menu svg:hover {
            fill: var(--blue);
      }








