*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/*  Hero section */
.section {
    padding: 15px 20px;
}

.startpage_hero {
    max-width: 1136px;
    padding: 40px;
    margin: auto;
    border-radius: 30px;
    background-image: url(../images/hero_desktop@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;

}

.container_hero {
    width: 100%;
    font-family: var(--primary-font);
    font-weight: 500px;
    font-size: 28px;
    list-style: 34px;
    letter-spacing: -3%;
    color: var(--white);
    padding-top: 13em;
    padding-bottom: 1em;

}

.startpage_butons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.buttons {
    flex: 1;
}

/* Buy now button */

.buynow_button {
    display: inline-block;
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 100px;
    padding: 14px 40px;
    transition-property: color, background-color, transform;
    transition-duration: 400ms, 400ms, 1s;
    gap: 20px;
    margin-right: 20px;

}

.buynow_button:hover,
.buynow_button:focus,
.buynow_button:active {
    background-color: rgba(252, 241, 224, 1);
    color: var(--orange);
    transform: scale(1.1);


}

/* Button link ancora to section How is made */
.btn_link {
    display: inline-block;
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    cursor: default;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 1);
}


.btn_link:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
}


/* Icon scroll down  */

.scroll_tolink_conainer {
    flex: 0.25;
    gap: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}


.text_buttonscroll {
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -3%;
    color: var(--white);

}

.scroll_icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    fill: var(--orange);
    padding: 5px;
    border-radius: 100%;
    background-color: var(--white);
}

.team_social li {
    background-color: var(--dark-white);
    padding: 10px;
    border-radius: 100%;
    background-color: var(--white);
}


.scroll_tolink_conainer:hover .text_buttonscroll {
    color: var(--orange);
}

.scroll_tolink_conainer:hover .scroll_icon {
    fill: var(--white);
    background-color: var(--orange);
}

/* Modal Buy Now */

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

[data-modal] {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.is-hidden [data-modal-content] {
    transform: translate(-50%, -50%) scale(0.5);

}

[data-modal-content] {
    max-width: 600px;
    background-color: #FAFAFA;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    filter: drop-shadow(0, 2, 1, 1), (0, 1, 1, 0), (0, 1, 3, 0);
    border-radius: px;
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 1s;
    padding: 20px 40px;


}

[data-modal-close] {
    top: 10px;
    position: absolute;
    right: 10px;
    padding: 6px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 90%;
    color: rgba(0, 0, 0, 1);

}

/* Modal form products to buy top section */
.modal_title {
    text-transform: uppercase;
    color: var(--orange);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -3%;
    text-align: center;
    padding: 1em;

}

.modal_title span {
    color: var(--black);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -3%;
}


.container_products_list {
    padding: 1em;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
}

.products_list li {
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px 10px;
}

.products_list .grams {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    background-color: rgba(250, 250, 250, 1);
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 6px 20px;

}

/* Modal form data collection */

.modal_form_position {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    font-family: var(--primary-font);
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: var(--black);
    position: relative;
    margin-bottom: 20px;
}

.pers_info {
    display: flex;
    flex-wrap: wrap;
    gap: 22px
}

.modal_form_position .phone_icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 40px;
    left: 12px;
}

.modal_form_position .card_icon {
    position: absolute;
    height: 30px;
    width: 44px;
    top: 40px;
    right: 12px;
}

.modal_form_input {
    outline: none;
    margin-top: 4px;
    border-radius: 13px;
    height: 60px;
    cursor: pointer;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: #000000;
    padding-left: 12px;
    gap: 0px;
}

.modal_form_position input {
    padding-left: 25px;
}

.modal_form_position .phone {
    padding-left: 60px;
}

.modal_form_position input:focus+svg,
.modal_form_position input:hover+svg {
    fill: #2196f3;
}

.modal_form_comments {
    outline: none;
    margin-top: 5px;
    border-radius: 13px;
    height: 35px;
    cursor: pointer;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    padding-left: 25px;
    padding-top: 20px;
    height: 137px;
}




/* Button Submit close modal form */
.modal_form-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: var(--orange);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin-top: 15px;
    border-radius: 100px;
}