.rent-a-yacht-sect {
    background-color: #0E1823;
}
.yacht-renting-container {
    min-width: 375px;
    padding-left:20px;
    padding-right: 20px;
}
.form-title {
    color:#FBFBFB;
    width: 222px;
height: 28px;
left: 20px;
font-size: 28px;
font-weight: 500;
line-height: 28px;
letter-spacing: -0.02em;
margin-bottom: 40px;
text-align: left;
}
.rent-form {
display:flex;
flex-direction: column;
gap:18px;
min-width:335px;
min-height:288px;  
}
.input-form {
    padding-left: 18px;
    border: 1px solid #FBFBFB33;
    background-color: #0E1823;
    width:335px;
    height:45px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
           
}
.form-comment {
width: 335px;
    height: 108px;
    padding-top: 14px;
    padding-left:18px;
    border-radius: 12px ;
    border: 1px solid #FBFBFB33;
    background-color: #0E1823;
    resize: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        margin-bottom: 20px;
   
}
.form-btn {
    
    color: #FBFBFB;
        background-color: #1B414B;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: center;
        width: 122px;
        height: 46px;
        border-radius: 15px;
        border:none;
        padding: 15px;
}
.yacht-pic {
    margin-top: 80px;
    border-radius: 24px;
   
}

/* --tablet-- */
@media (min-width:768px) {
.yacht-renting-container {
    min-width: 768px;
    padding-left: 148px;
    padding-right: 147px;
}
.form-title {
    width: 381px;
    height: 48px;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
       
       
}
.input-form {
width:472px;
height:54px;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
  
}
.form-comment {
    width:472px;
    height: 116px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}
.form-btn {
    width:194px;
    height: 56px;
}
.form-container {
    display: flex;
    flex-direction: column;
    margin-left:40px;

}
.yacht-pic {
    width: 768px;
}

}

/* --desktop-- */
@media (min-width:1280px) {
.yacht-renting-container {
    min-width:1280px;
    padding-left:50px;
    margin-left:auto;
    display: flex;
    gap:50px;
    flex-direction: row-reverse;
}
.yacht-pic {
    width: 658px;
    height: 536px;
    margin-top: auto;

}
}