.sale-section {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}
.sale-section .container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.sale-title {
  display: flex;
  justify-content: flex-start;
  font-family: var(--font-epilogue);
  margin-left: -90px;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 44px;
  margin-left: 134px;
  color: var(--black-color);
}

.sale-text {
  display: flex;
  padding-top: 204px;
}
.sale-products {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: -1px;
}
