@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');  
@import url('./our-yachts.css');
@import url('./advantages.css');
@import url('./rent-a-yacht.css');
@import url('./reviews.css');
@import url('./footer.css');




body {
    font-family: 'Inter', sans-serif;
    color: #fbfbfb;
    background-color: #0e1823;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }

  ul,
  ol {
    list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  
  
  button {
    cursor: pointer;
  }
  
 
