.background-section {
    background-image: url(../images/Subcribe-desktop@1x.jpg);
    width: 100%;
    height: 370;
    align-items: center;
}

.background-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.background-section h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-top: 24px;
    color: #fff;
}

.background-section p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-top: 24px;
    color: #fff;
    max-width: 467px;
    padding-bottom: 20px;
}

.button-subscribe {
    background-color: #FD9222;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    border-color: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 30%;
}

/* Mobile image */
@media (min-width: 325px) and (max-width: 768px) {
    .background-section {
        background-image: url("../images/Subcribe-mobile@1x.jpg");
    }
}

/* Tablet image */
@media (min-width: 768px) and (max-width: 992px) {
    .background-section {
        background-image: url("../images/Subcribe-tablet@1x.jpg");
    }
}