
.background-section {
    max-width: 1200px;
    width: 100%;
    height: 370;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-items: center;
    background-image: url(../images/Subcribe-desktop@1x.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;
}


.background-section h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-top: 24px;
    color: var(--white);

}


.background-section p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--white);
    letter-spacing: -0.03em;
    margin-top: 24px;
    max-width: 467px;
    padding-bottom: 20px;
}

.button-subscribe {
    background-color: var(--orange);
    border-radius: 100px;
    padding: 15px;
    border-color: none;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 172px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
}


.button-subscribe:hover,
.button-subscribe:focus {
    background-color: rgba(252, 241, 224, 1);
    color: var(--orange);
}

/* Mobile media */
@media screen and (max-width: 374px) {
    .background-section {
        background-image: url("../images/Subcribe-mobile@1x.jpg");

    }

    .button-subscribe {
        max-width: 128px;
        font-size: 14px;
        line-height: 1.2;
    }
}

/* Tablet media */
@media screen and (max-width: 767px) {
    .background-section {
        background-image: url("../images/Subcribe-tablet@1x.jpg");
    }
}

/* Stilizare modal subscribe */

.is-hidden .subscribe-modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.subscribe-modal [data-modal] {
    background-color: #00000033;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.subscribe-modal__content [data-modal-content] {
    width: 528px;
    height: 581px;
    border-radius: 4px 0px 0px 0px;
    opacity: 1;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    transition-property: transform;
    transition-duration: 2s;
    /* transition-timing-function: linear; */
}

.is-hidden.subscribe-modal [data-modal-content] {
    transform: translate(-50%, -50%) scale(0.8);
}

.subscribe-close-btn [data-modal-close] {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--white);
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
}

.buton-modal__X {
    width: 11px;
    height: 11px;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buton-modal__X:hover,
.buton-modal__X:focus {
    fill: var(--blue);
}

.modal-title__subscribe {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.modal_form__subscribe {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;


}

.modal_form__label__subscribe {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: 0.01em;
    color: var(--gray);
    position: relative;

}
.modal_form__input__subscribe {
    outline: none;
    margin-top: 4px;
    border-radius: 4px;
    height: 40px;
    border: 1px solid #21212133;
    padding-left: 30px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



