/* Adaugat Anca - margine- bottom pe section */

.top-sellers {
    margin-bottom: 128px;
}

@media screen and (max-width: 375px) {
    .top-sellers {
        margin-bottom: 72px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    .top-sellers {
        margin-bottom: 100px;
    }

    .top-sellers h2 {
        font-size: 24px;
    }

    .img-hide {
        display: none;
    }
}

/* phone */
 @media screen and (min-width: 320px) and (max-width:376px) {
    .top-sellers h2 {
        font-size: 24px;
        font-weight: 400;
    }

    .seller-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seller-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .seller-description-hide {
        display: none;
        }
    
    .seller-description button {
        align-self: center;
        margin: 0 auto;
        }

}

@media screen and (max-width: 768px) {

    .top-sellers h2 {
        font-size: 24px;
    }

    
}

@media screen and (max-width:1200px) {
    .img-hide {
        display: none;
    }
}

@media screen and (min-width:376px) and (max-width:767px) {
    .mobile-p {
        display: none;
    }
}
/* Adaugat Anca - margine- bottom pe section */

.seller-images .seller-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.seller-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.seller {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seller-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.seller-description p {
    flex: 1;
    margin-right: 567px;
    max-width: 376px;
}

.top-sellers {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;
    margin: 30px auto;
    padding: 20px;
    padding-top: 50px;
    width: 100%;
}

.top-sellers-container {
    display: flex;
    justify-content: space-between;
}


.top-sellers h2 {
    justify-content: center;
    align-items: center;
    gap: 32px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 24px;
}

.top-sellers span {
    color: var(--orange);
}

.seller-list {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
    overflow-x: auto;
    box-sizing: border-box;
    gap: 16px;
}

.seller img {
    border-radius: 10px;
    width: 100%;
}

.seller-description {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.seller-description p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}

/* Buy now button */

.buynow_button {
    display: inline-block;
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 100px;
    padding: 14px 40px;
    transition-property: color, background-color, transform;
    transition-duration: 400ms, 400ms, 1s;
    gap: 20px;
    margin-right: 20px;
    border: none;
}

.buynow_button:hover,
.buynow_button:focus,
.buynow_button:active {
    background-color: rgba(252, 241, 224, 1);
    color: var(--orange);
    transform: scale(1.1);
}

/* Modal Buy Now */

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

[data-modal] {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.is-hidden [data-modal-content] {
    transform: translate(-50%, -50%) scale(0.5);

}

[data-modal-content] {
    max-width: 600px;
    background-color: #FAFAFA;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    filter: drop-shadow(0, 2, 1, 1), (0, 1, 1, 0), (0, 1, 3, 0);
    border-radius: px;
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 1s;
    padding: 20px 40px;


}

[data-modal-close] {
    top: 10px;
    position: absolute;
    right: 10px;
    padding: 6px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 90%;
    color: rgba(0, 0, 0, 1);

}

/* Modal form products to buy top section */
.modal_title {
    text-transform: uppercase;
    color: var(--orange);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -3%;
    text-align: center;
    padding: 1em;

}

.modal_title span {
    color: var(--black);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -3%;
}


.container_products_list {
    padding: 1em;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
}

.products_list li {
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px 10px;
}

.products_list .grams {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    background-color: rgba(250, 250, 250, 1);
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 6px 20px;

}

/* Modal form data collection */

.modal_form_position {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    font-family: var(--primary-font);
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: var(--black);
    position: relative;
    margin-bottom: 20px;
}

.pers_info {
    display: flex;
    flex-wrap: wrap;
    gap: 22px
}

.modal_form_position .phone_icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 40px;
    left: 12px;
}

.modal_form_position .card_icon {
    position: absolute;
    height: 30px;
    width: 44px;
    top: 40px;
    right: 12px;
}

.modal_form_input {
    outline: none;
    margin-top: 4px;
    border-radius: 13px;
    height: 60px;
    cursor: pointer;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: #000000;
    padding-left: 12px;
    gap: 0px;
}

.modal_form_position input {
    padding-left: 25px;
}

.modal_form_position .phone {
    padding-left: 60px;
}

.modal_form_position input:focus+svg,
.modal_form_position input:hover+svg {
    fill: #2196f3;
}

.modal_form_comments {
    outline: none;
    margin-top: 5px;
    border-radius: 13px;
    height: 35px;
    cursor: pointer;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    padding-left: 25px;
    padding-top: 20px;
    height: 137px;
}

/* Button Submit close modal form */
.modal_form-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: var(--orange);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin-top: 15px;
    border-radius: 100px;
}

/*top seller section*/

/* 
.seller-list {
    display: flex;
    padding: 20px;

}

.top-sellers h2 {
    white-space: nowrap;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -0.03em;
    gap: 32px;
    text-align: center;
}

.top-sellers span {
    color: var(--orange);

}

.seller-list {
    flex-wrap: nowrap;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
    overflow-x: auto;
    box-sizing: border-box;
    gap: 16px;
    margin-bottom: 32px;
}

.seller img {
    border-radius: 10px;
}

.seller-description {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 72;
    padding-bottom: 20px;
}

.button-buy {
    background-color: var(--orange);
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    border-color: none;
    margin-left: auto;
    margin-right: 30%;
}

.button-subscribe {
    background-color: #FD9222;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    border-color: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 30%;
    align-items: center;
} */

/* Adaugat Anca - margine- bottom pe section */
/* .top-sellers {
    margin-bottom: 128px;
}

@media screen and (max-width: 767px) {
    .top-sellers {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 375px) {
    .top-sellers {
        margin-bottom: 72px;
    }
} */

/* Adaugat Anca - margine- bottom pe section */