/*top seller section*/


.seller-list {
    display: flex;
    padding: 20px;

}

.top-sellers h2 {
    white-space: nowrap;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -0.03em;
    gap: 32px;
    text-align: center;
}

.top-sellers span {
    color: var(--orange);

}

.seller-list {
    flex-wrap: nowrap;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
    overflow-x: auto;
    box-sizing: border-box;
    gap: 16px;
    margin-bottom: 32px;
}

.seller img {
    border-radius: 10px;
}

.seller-description {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 72;
    padding-bottom: 20px;
}

.button-buy {
    background-color: var(--orange);
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    border-color: none;
    margin-left: auto;
    margin-right: 30%;
}

.button-subscribe {
    background-color: #FD9222;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    border-color: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 30%;
    align-items: center;
}

/* Adaugat Anca - margine- bottom pe section */
.top-sellers {
    margin-bottom: 128px;
}

@media screen and (max-width: 767px) {
    .top-sellers {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 375px) {
    .top-sellers {
        margin-bottom: 72px;
    }
}

/* Adaugat Anca - margine- bottom pe section */