
@media screen and (max-width: 480px) {
  .manufacturing {
    max-width: 21rem;
    margin: 0 auto;
    height: 64.5rem;
    margin-left: 20px;
  }

  .manufacturing__tittle {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 32px;
  }

  .manufacturing__tittle span {
    color: rgba(253, 146, 34, 1);
  }

  .img-video {
    width: 21rem;
    height: 31.25rem;
  }
  .video {
    position: relative;
  }
  .mixer {
    position: absolute;
  }
  .manufacturing__content {
    margin-top: 40px;
    margin-left: 14px;
  }

  .manufacturing__tittle-product {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
  }

  .manufacturing__content ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  ::marker {
    color: rgba(76, 76, 76, 1);
  }
}
